{# Change access to an object. #}

{% extends 'base.html' %}

{% block head_title %}Change access to {{ title }}{% endblock %}

{% block body_title %}Change access to <strong>{{ title }}</strong>{% endblock %}

{% block main %}
<div class="form-group row">
  <label for="users" class="col-md-2 col-form-label text-right font-weight-bold">
    Access</label>
  <div class="col-md" id="users">

    {% if users %}
    <table class="table table-sm table-hover table-borderless">
      {% for username, edit in sorted(users.items()) %}
      <tr>
        <td width="20%" class="align-middle text-right pr-2">
          {{ edit and 'Edit & view' or 'View' }}:</td>
        <td class="align-middle">
          {{ get_user(username) | user_link() }}
        </td>
        <td>
          <form action="{{ url }}"
	        method="POST">
	    {{ csrf_token() }}
            <input type="hidden" name="_http_method" value="DELETE">
            <input type="hidden" name="username" value="{{ username }}">
	    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    -
    {% endif %} {# if users #}
  </div>
</div>

<div class="form-group row">
  <label for="add_access"
         class="col-md-2 col-form-label text-right font-weight-bold">
    Add access</label>
  <div class="col-md" id="add_access">

    <form action="{{ url }}"
          method="POST">
      {{ csrf_token() }}

      <div class="form-group">
        <div class="form-check">
          <input type="radio" name="access" id="access_view"
                 class="form-check-input" checked
                 value="view">
          <label class="form-check-label" for="access_view">View</label>
        </div>
        <div class="form-check">
          <input type="radio" name="access" id="access_edit"
                 class="form-check-input"
                 value="edit">
          <label class="form-check-label" for="access_edit">Edit (implies view)</label>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <input type="text" name="username" id="username"
                   class="form-control"
                   aria-describedby="usernameHelp"
                   placeholder="Username or email">
            <small id="usernameHelp" class="form-text">
              Provide the username or the email address of the user to add
              access privileges for. The user must have an account in this
              system.
            </small>
          </div>
        </div>
      </div>

      <div class="row"> 
        <div class="col-md-3">
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Add</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ back_url }}"
     role="button" class="btn btn-block btn-secondary">Back</a>
</div>
{% endblock %}
