<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{{ config.SITE_NAME }}{% endblock %}</title>
    {% if config.SITE_NAME_LOGO_FAVICON %}
    <link rel="icon" href="{{ url_for('site', filename='name_logo') }}">
    {% else %}
    <link rel="icon" href="{{ url_for('static', filename='feather_of_maat.png') }}">
    {% endif %}
    <link rel="stylesheet" crossorigin="anonymous"
          href="{{ constants.BOOTSTRAP_CSS_URL }}"
          integrity="{{ constants.BOOTSTRAP_CSS_INTEGRITY }}">
    <link rel="stylesheet" href="{{ constants.DATATABLES_CSS_URL }}">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light"
         style="background-color: #e8e8e8;">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        {% if config.SITE_NAME_LOGO_MENU %}
        <img src="{{ url_for('site', filename='name_logo') }}"
	     class="d-inline-block align-top">
        {% else %}
        <img src="{{ url_for('static', filename='feather_of_maat.png') }}"
	     class="d-inline-block align-top">
        {% endif %}
        {{ config.SITE_NAME }}</a>
      <button type="button" class="navbar-toggler navbar-toggler-right"
              data-toggle="collapse" data-target="#top_navbar"
              aria-controls="top_navbar" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="top_navbar">
        <ul class="navbar-nav mr-auto">

          {% if g.current_user %}
	  {% if g.my_proposals_count %}
          <a href="{{ url_for('proposals.user', username=g.current_user['username']) }}"
             title="My proposals and the proposals to which I have access."
	     class="nav-link mr-2">
            My proposals
            {% if g.my_unsubmitted_proposals_count %}
            <br>
            <span class="badge badge-warning">{{ g.my_unsubmitted_proposals_count }} unsubmitted</span>
	    {% endif %}
	  </a>
	  {% endif %}

	  {% if g.my_reviews_count %}
          <a href="{{ url_for('reviews.reviewer', username=g.current_user['username']) }}"
	     class="nav-link mr-2">
            My reviews
            {% if g.my_unfinalized_reviews_count %}
            <br>
            <span class="badge badge-warning">{{ g.my_unfinalized_reviews_count }} unfinalized</span>
	    {% endif %}
	  </a>
	  {% endif %}

	  {% if g.my_grants_count %}
          <a href="{{ url_for('grants.user', username=g.current_user['username']) }}"
             title="My grants and the grants to which I have access."
	     class="nav-link mr-2">
            My grants
            {% if g.my_incomplete_grants_count %}
            <br>
            <span class="badge badge-warning">{{ g.my_incomplete_grants_count }} incomplete</span>
	    {% endif %}
	  </a>
	  {% endif %}

          {% endif %} {# if g.current_user #}

          <li class="nav-item dropdown">
            <a href="#" id="navbarCalls" class="nav-link dropdown-toggle pr-4"
               role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Calls</a>
            <div class="dropdown-menu" aria-labelledby="navbarCalls">
              <a class="dropdown-item"
                 href="{{ url_for('calls.open') }}">Open calls</a>
              <a class="dropdown-item"
                 href="{{ url_for('calls.closed') }}">Closed calls</a>
              {% if g.allow_create_call %}
              <a class="dropdown-item"
                 href="{{ url_for('calls.owner', username=g.current_user['username']) }}">
                My calls</a>
              {% endif %} {# if g.allow_create_call #}
              {% if g.am_admin or g.am_staff %}
              <a class="dropdown-item"
                 href="{{ url_for('calls.unpublished') }}">Unpublished calls</a>
              <a class="dropdown-item"
                 href="{{ url_for('calls.grants') }}">Calls with grants</a>
              <a class="dropdown-item"
                 href="{{ url_for('calls.all') }}">All calls</a>
              {% endif %} {# if g.am_admin or g.am_staff #}
            </div>
          </li>

          {% if g.am_admin or g.am_staff %}
          <li class="nav-item dropdown">
            <a href="#" id="navbarAdmin" class="nav-link dropdown-toggle pr-4"
               role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu" aria-labelledby="navbarAdmin">
              <a class="dropdown-item"
                 href="{{ url_for('user.all') }}">All users</a>
              <a class="dropdown-item"
                 href="{{ url_for('user.pending') }}">Pending users</a>
              <a class="dropdown-item"
                 href="{{ url_for('user.staff') }}">Admin and staff users</a>
              <a class="dropdown-item"
                 href="{{ url_for('user.register') }}">Register user</a>
              {% if g.am_admin %}
              <a class="dropdown-item"
                 href="{{ url_for('admin.site_configuration') }}">Site configuration</a>
              <a class="dropdown-item"
                 href="{{ url_for('admin.user_configuration') }}">User configuration</a>
              <a class="dropdown-item"
                 href="{{ url_for('admin.call_configuration') }}">Call configuration</a>
              <a class="dropdown-item"
                 href="{{ url_for('admin.alert_text') }}">Alert text</a>
              <a class="dropdown-item"
                 href="{{ url_for('admin.database') }}">Database</a>
              <a class="dropdown-item"
                 href="{{ url_for('admin.settings') }}">Settings</a>
              {% endif %} {# if g.am_admin #}
            </div>
          </li>
          {% endif %} {# if g.am_admin or g.am_staff #}

          <a href="{{ url_for('documentation') }}" 
             target="documentation"
             class="nav-link mr-2">
            Documentation</a>

          <li class="nav-item dropdown mr-3">
            <a href="#" id="navbarAbout" class="nav-link dropdown-toggle"
               role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">About</a>
            <div class="dropdown-menu" aria-labelledby="navbarAbout">
              <a class="nav-link"
                 href="{{ url_for('about.contact') }}">Contact</a>
              <a class="nav-link"
                 href="{{ url_for('about.data_policy') }}">Data policy</a>
              <a class="nav-link"
                 href="{{ url_for('about.software') }}">Software</a>
	    </div>
          </li>
        </ul>

        <ul class="navbar-nav justify-content-end">
          <li>
            {% if g.current_user %}
            <a href="{{ url_for('user.display', username=g.current_user['username']) }}"
	       role="button" class="btn btn-outline-secondary my-2 my-sm-0">
              {% if g.current_user.get('familyname') %}
              {{ g.current_user.get('givenname') or '' }}
              {{ g.current_user['familyname'] }}
              {% else %}
              User {{ g.current_user['username'] }}
              {% endif %}
            </a>
            {% else %}
            <form action="{{ url_for('user.login') }}" method="GET"
                  class="form-inline my-2 my-sm-0">
              <button class="btn btn-primary">Login</button>
            </form>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">

      {% if g.alert_text %}
      <div class="row">
        <div class="col-md">
          <div class="alert alert-danger pb-0 my-2" role="alert">
            {{ g.alert_text | display_markdown }}
          </div>
        </div>
        {% if g.am_admin %}
        <div class="col-md-1">
          <a href="{{ url_for('admin.alert_text') }}"
             role="button"
             class="btn btn-primary btn-sm mt-3">Edit</a>
        </div>
        {% endif %}
      </div>
      {% endif %} {# if g.alert_text #}

      <div class="row">
        <div class="col-md offset-md-1 pt-3 pb-1">
          {% block body_title_outer %}
          <h2>{% block body_title %}{{ config.SITE_NAME }}{% endblock %}</h2>
          {% endblock %} {# block body_title_outer #}
        </div>
        <div class="col-md-2 py-1 d-print-none">
          {% block meta %}
          {% endblock %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          {% for msg in get_flashed_messages(category_filter=['error']) %}
          <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> {{ msg }}
          </div>
          {% endfor %}

          {% for msg in get_flashed_messages(category_filter=['warning']) %}
          <div class="alert alert-warning" role="alert">
            <strong>Warning:</strong> {{ msg }}
          </div>
          {% endfor %}

          {% for msg in get_flashed_messages(category_filter=['message']) %}
          <div class="alert alert-info" role="alert">
            <strong>Message:</strong> {{ msg }}
          </div>
          {% endfor %}
        </div>
      </div>

      {% block supermain %}
      <div class="row">
        <div class="col-md">
          {% block main %}
          {% endblock %}
        </div>
        <div class="col-md-2">
          <div class="mt-2 d-print-none">
            {% block actions %}
            {% endblock %}
          </div>
          <div class="mt-4">
            {% block doclinks %}
            <a href="{{ url_for('documentation') }}#instructions-for-users"
               target="documentation" role="button"
               class="btn btn-outline-primary btn-block">Instructions for users</a>

            {% if g.my_reviews_count %}
            <a href="{{ url_for('documentation') }}#instructions-for-reviewers"
               target="documentation" role="button"
               class="btn btn-outline-primary btn-block">Instructions for reviewers</a>
            {% endif %}

            {% if g.am_admin %}
            <a href="{{ url_for('documentation') }}#instructions-for-admins"
               target="documentation" role="button"
               class="btn btn-outline-primary btn-block">Instructions for admins</a>
            {% endif %}

            {% endblock %} {# block doclinks #}
          </div>
          {% block info %}
          {% endblock %}
        </div>
      </div>
      {% endblock %} {# block supermain #}

      {% block footer %}
      <hr>
      <div class="row">
        <div class="col-md-3">
          {% if config.SITE_HOST_URL %}
          <a href="{{ config.SITE_HOST_URL }}">
          {% endif %}
          {% if config.SITE_HOST_LOGO %}
          <img src="/site/host_logo">
          {% endif %}
          {{ config.SITE_HOST_NAME or '' }}
          {% if config.SITE_HOST_URL %}
          </a>
          {% endif %}
        </div>
        <div class="col-md-6 mt-1 small text-center">
          {% if g.current_user %}
          A cookie is used to keep track of your login session.
          {% else %}
          No cookies are used.
          {% endif %}
        </div>
        <div class="col-md-3 text-right">
          <img src="{{ url_for('static', filename='feather_of_maat.png') }}">
          <a href="{{ constants.URL }}">Anubis</a>
	  <span id="version">{{ constants.VERSION }}</span>
        </div>
      </div>
      {% endblock %} {# block footer #}
    </div>

    {% block modals %}
    {% endblock %}

    <script src="{{ constants.JQUERY_JS_URL }}"
            integrity="{{ constants.JQUERY_JS_INTEGRITY }}"
            crossorigin="anonymous"></script>
    <script src="{{ constants.BOOTSTRAP_JS_URL }}"
            integrity="{{ constants.BOOTSTRAP_JS_INTEGRITY }}"
            crossorigin="anonymous"></script>
    <script src="{{ constants.DATATABLES_JQUERY_JS_URL }}"></script>
    <script src="{{ constants.DATATABLES_BOOTSTRAP_JS_URL }}"></script>
    <script src="{{ url_for('static', filename=constants.JQUERY_LOCALTIME_FILENAME) }}"></script>
    <script src="{{ url_for('static', filename=constants.CLIPBOARD_FILENAME) }}"></script>
    <script>var clipboard = new ClipboardJS('.clipboard');</script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
