<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{{ config['SITE_NAME'] }}{% endblock %}</title>
    {% if config['SITE_ICON'] %}
    <link rel="icon" href="{{ url_for('site.static', filename=config['SITE_ICON']) }}">
    {% else %}
    <link rel="icon" href="{{ url_for('static', filename='feather-of-maat.png') }}">
    {% endif %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" 
	  rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light"
         style="background-color: #e8e8e8;">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='feather-of-maat.png') }}"
	     width="32" height="32" class="d-inline-block align-top"
	     title="{{ config['SITE_NAME'] }}" alt="{{ config['SITE_NAME'] }}">
        {{ config['SITE_NAME'] }}</a>
      <button type="button" class="navbar-toggler navbar-toggler-right"
              data-toggle="collapse" data-target="#top_navbar"
              aria-controls="top_navbar" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="top_navbar">
        <ul class="navbar-nav mr-auto">
          {% if g.current_user %}
	  {% if g.my_proposals_count %}
          <a href="{{ url_for('proposals.user', username=g.current_user['username']) }}"
	     class="nav-link mr-2">My proposals
	    {% if g.my_unsubmitted_proposals_count %}
	    <span class="font-weight-bold px-2 py-1 bg-warning active"
		  title="You have unsubmitted proposals.">
              {{ g.my_unsubmitted_proposals_count }}
            </span>
	    {% endif %}
	  </a>
	  {% endif %}
	  {% if g.my_reviews_count %}
          <a href="{{ url_for('reviews.reviewer', username=g.current_user['username']) }}"
	     class="nav-link mr-2">My reviews
	    {% if g.my_unfinalized_reviews_count %}
	    <span class="font-weight-bold px-2 py-1 bg-warning active"
		  title="You have unfinalized reviews.">
              {{ g.my_unfinalized_reviews_count }}
            </span>
	    {% endif %}
	  </a>
	  {% endif %}
	  {% if g.my_grants_count %}
          <a href="{{ url_for('grants.user', username=g.current_user['username']) }}"
             title="My grants and the grants to which I have access."
	     class="nav-link mr-2">My grants
	    {% if g.my_incomplete_grants_count %}
	    <span class="font-weight-bold px-2 py-1 bg-warning active"
		  title="You have incomplete grant dossiers.">
              {{ g.my_incomplete_grants_count }}
            </span>
	    {% endif %}
	  </a>
	  {% endif %}
          {% endif %} {# if g.current_user #}
          <li class="nav-item dropdown">
            <a href="#" id="navbarCalls" class="nav-link dropdown-toggle pr-4"
               role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Calls</a>
            <div class="dropdown-menu" aria-labelledby="navbarCalls">
              <a class="dropdown-item"
                 href="{{ url_for('calls.open') }}">Open calls</a>
              <a class="dropdown-item"
                 href="{{ url_for('calls.closed') }}">Closed calls</a>
              {% if g.allow_create_call %}
              <a class="dropdown-item"
                 href="{{ url_for('calls.owner', username=g.current_user['username']) }}">
                My calls</a>
              {% endif %} {# if g.allow_create_call #}
              {% if g.am_admin or g.am_staff %}
              <a class="dropdown-item"
                 href="{{ url_for('calls.grants') }}">Calls with grants</a>
              <a class="dropdown-item"
                 href="{{ url_for('calls.all') }}">All calls</a>
              {% endif %} {# if g.am_admin or g.am_staff #}
            </div>
          </li>
          {% if g.am_admin or g.am_staff %}
          <li class="nav-item dropdown">
            <a href="#" id="navbarAdmin" class="nav-link dropdown-toggle pr-4"
               role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu" aria-labelledby="navbarAdmin">
              <a class="dropdown-item"
                 href="{{ url_for('user.all') }}">All users</a>
              <a class="dropdown-item"
                 href="{{ url_for('user.pending') }}">Pending users</a>
              {% if g.am_admin %}
              <a class="dropdown-item"
                 href="{{ url_for('user.register') }}">Register user</a>
              {% endif %} {# if g.am_admin #}
              <a class="dropdown-item"
                 href="{{ url_for('about.settings') }}">Settings</a>
            </div>
          </li>
          {% endif %} {# if g.am_admin or g.am_staff #}
          <li class="nav-item dropdown">
            <a href="#" id="navbarDoc" class="nav-link dropdown-toggle pr-4"
               role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Documentation</a>
            <div class="dropdown-menu" aria-labelledby="navbarDoc">
              {% for documentation in constants.DOCUMENTATION %}
              <a class="nav-link"
                 target="doc"
                 href="{{ url_for('about.documentation', page=documentation.replace(' ', '-')) }}">
                {{ documentation }}</a>
              {% endfor %}
          </li>
        </ul>

        <ul class="navbar-nav justify-content-end">
          <li class="nav-item dropdown mr-3">
            <a href="#" id="navbarAbout" class="nav-link dropdown-toggle"
               role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">About</a>
            <div class="dropdown-menu" aria-labelledby="navbarAbout">
              <a class="nav-link"
                 href="{{ url_for('about.contact') }}">Contact</a>
              <a class="nav-link"
                 href="{{ url_for('about.gdpr') }}">Personal data policy</a>
              <a class="nav-link"
                 href="{{ url_for('about.software') }}">Software</a>
	    </div>
          </li>
          <li>
            {% if g.current_user %}
            <a href="{{ url_for('user.display', username=g.current_user['username']) }}"
	       role="button" class="btn btn-outline-secondary my-2 my-sm-0">
              {% if g.current_user.get('familyname') %}
              {{ g.current_user.get('givenname') or '' }}
              {{ g.current_user['familyname'] }}
              {% else %}
              User {{ g.current_user['username'] }}
              {% endif %}
            </a>
            {% else %}
            <form action="{{ url_for('user.login') }}"
                  class="form-inline my-2 my-sm-0"
                  method="GET">
              <input type="hidden" name="next" value="{{ request.url }}">
              <button class="btn btn-primary">Login</button>
            </form>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <h2 class="mt-2 mb-3">{% block body_title %}{{ config['SITE_NAME'] }}{% endblock %}</h2>
          {% for msg in get_flashed_messages(category_filter=['error']) %}
          <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> {{ msg }}
          </div>
          {% endfor %}
          {% for msg in get_flashed_messages(category_filter=['warning']) %}
          <div class="alert alert-warning" role="alert">
            <strong>Warning:</strong> {{ msg }}
          </div>
          {% endfor %}
          {% for msg in get_flashed_messages(category_filter=['message']) %}
          <div class="alert alert-info" role="alert">
            <strong>Message:</strong> {{ msg }}
          </div>
          {% endfor %}
        </div>
        <div class="col-md-2 py-1">
          {% block meta %}
          {% endblock %}
        </div>
      </div>

      {% block supermain %}
      <div class="row">
        <div class="col-md">
          {% block main %}
          {% endblock %}
        </div>
        <div class="col-md-2 d-print-none">
          <div>
            {% block actions %}
            {% endblock %}
          </div>
        </div>
      </div>
      {% endblock %} {# block supermain #}

      {% block footer %}
      <hr>
      <div class="row">
        <div class="col-md-3">
          {% if config['HOST_URL'] %}
          <a href="{{ config['HOST_URL'] }}">
            {% if config['HOST_LOGO'] %}
            <img src="{{ url_for('site.static',filename=config['HOST_LOGO']) }}"
                 title="{{ config['HOST_NAME'] or '' }}">
            {{ config['HOST_NAME'] or '' }}
            {% endif %}
          </a>
          {% elif config['HOST_LOGO'] %}
          <img src="{{ url_for('site_file', filename=config['HOST_LOGO']) }}"
               title="{{ config['HOST_NAME'] or '' }}">
          {{ config['HOST_NAME'] or '' }}
          {% endif %}
        </div>
        <div class="col-md-6">
            {% block info %}
            {% endblock %}
        </div>
        <div class="col-md-3 text-right">
          <a id="version" href="{{ constants.SOURCE_URL }}">
            <img src="{{ url_for('static', filename='feather-of-maat.png') }}"
		 width="32" height="32">
	    {{ constants.SOURCE_NAME }}
	  </a>
	  {{ constants.VERSION }}
        </div>
      </div>
      {% endblock %} {# block footer #}
    </div>

    {% block modals %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.localtime-0.9.1.min.js') }}"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
