<tr>
  {% if g.am_admin %}
  <th>{{ field['identifier'] }}</td>
  {% endif %}
  <td>{{ field['title'] }}</td>
  <td>
    {% set br = False %}
    {% if field.get('required') %}
    <strong>Required!</strong>
    {% set br = True %}
    {% endif %}
    {% if field.get('maxlength') %}
    Max {{ field['maxlength'] }} characters.
    {% set br = True %}
    {% endif %}
    {% if field.get('minimum') is not none %}
    Min value {{ field['minimum'] }}.
    {% set br = True %}
    {% endif %}
    {% if field.get('maximum') is not none %}
    Max value {{ field['maximum'] }}.
    {% set br = True %}
    {% endif %}
    {% if field.get('slider') is not none %}
    {{ field['slider'] and 'Input using slider.' or 'Input using radio buttons.' }}
    {% set br = True %}
    {% endif %}
    {{ (br and '<br>' or '') | safe }}
    {{ field.get('description') | markdown }}
  </td>
  {% if post_url %}
  <td>
    <div>
      <button type="button" class="btn btn-block btn-sm btn-primary"
	      data-toggle="modal"
	      data-target="#{{ field['identifier'] }}-Modal">
        Edit</button>
    </div>
    <div class="mt-1">
      <form action="{{ post_url }}" method="POST">
        {{ csrf_token() }}
        <input type="hidden" name="_move" value="up">
        <button type="submit" class="btn btn-block btn-sm btn-secondary">
          Move up</button>
      </form>
    </div>
    <div class="mt-1">
      <form action="{{ post_url }}" method="POST">
        {{ csrf_token() }}
        <input type="hidden" name="_http_method" value="DELETE">
        <button type="submit" class="btn btn-block btn-sm btn-danger"
	        onclick="return confirm('Really delete field {{ field['identifier'] }}?')">
	  Delete</button>
      </form>
    </div>
  </td>
  {% endif %}
</tr>
