<div class="row">
  {% if g.is_admin %}
  <div class="col-md-2 font-weight-bold">{{ field['identifier'] }}</div>
  {% endif %} {# if g.is_admin #}
  <div class="col-md-2">
    {{ field['title'] }}
  </div>
  <div class="col-md">
    {% set br = False %}
    {% if field.get('required') %}
    <strong>Required!</strong>
    {% set br = True %}
    {% endif %}
    {% if field.get('maxlength') %}
    Maximum {{ field['maxlength'] }} characters.
    {% set br = True %}
    {% endif %}
    {% if not utils.is_none(field.get('minimum')) %}
    Minimum value {{ field['minimum'] }}.
    {% set br = True %}
    {% endif %}
    {% if not utils.is_none(field.get('maximum')) %}
    Maximum value {{ field['maximum'] }}.
    {% set br = True %}
    {% endif %}
    {{ (br and '<br>' or '') | safe }}
    {{ field.get('description') | markdown }}
  </div>
  {% if post_url %}
  <div class="col-md-2">
    <div>
      <button type="button" class="btn btn-block btn-sm btn-primary"
	      data-toggle="modal"
	      data-target="#{{ field['identifier'] }}-Modal">
        Edit</button>
    </div>
    <div class="mt-2">
      <form action="{{ post_url }}"
	    method="POST">
        {{ csrf_token() }}
        <input type="hidden" name="_http_method" value="DELETE">
        <button type="submit" class="btn btn-block btn-sm btn-danger"
	        onclick="return confirm('Really delete field {{ field['identifier'] }}?')">
	  Delete</button>
      </form>
    </div>
  </div>
  {% endif %}
</div>
