{# Required variables: field, value, error #}
<div class="form-group row">
  <label for="{{ fid }}" class="col-md-2 col-form-label text-right font-weight-bold">
    {{ field['title'] }}
    {% if field.get('staffonly') %}
    <br>
    <span class="text-danger">Visible to staff only.</span>
    {% endif %}
    {% if error %}
    <br>
    <span class="text-danger">Error: {{ error }}</span>
    {% endif %}
  </label>
  <div class="col-md">

    {% if field.get('staff') and not (g.am_admin or g.am_staff) %}
    <input type="text" id="{{ fid }}" name="{{ fid }}"
           class="form-control-plaintext" aria-describedby="{{ fid }}Help"
	   readonly value="{{ value | display_value('') }}">
    
    {% elif field['type'] == constants.LINE %}
    <input type="text" id="{{ fid }}" name="{{ fid }}"
	   class="form-control" aria-describedby="{{ fid }}Help"
	   {% if field.get('maxlength') %}
	   maxlength="{{ field['maxlength'] }}"
	   {% endif %}
	   value="{{ value | display_value('') }}">

    {% elif field['type'] == constants.EMAIL %}
    <input type="email" id="{{ fid }}" name="{{ fid }}"
	   class="form-control" aria-describedby="{{ fid }}Help"
	   {% if field.get('maxlength') %}
	   maxlength="{{ field['maxlength'] }}"
	   {% endif %}
	   value="{{ value | display_value('') }}">

    {% elif field['type'] == constants.BOOLEAN %}
    <div class="custom-control custom-radio custom-control-inline"
      aria-describedby="{{ fid }}Help">
      <input type="radio" id="{{ fid }}_yes" name="{{ fid }}"
             class="custom-control-input"
             {{ value == True and 'checked' }}
             value="true">
      <label class="custom-control-label" for="{{ fid }}_yes">Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="{{ fid }}_no" name="{{ fid }}"
             class="custom-control-input"
             {{ value == False and 'checked' }}
             value="false">
      <label class="custom-control-label" for="{{ fid }}_no">No</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline ml-4">
      <input type="radio" id="{{ fid }}_novalue" name="{{ fid }}"
             class="custom-control-input"
             {{ value is none and 'checked' }}
             value="">
      <label class="custom-control-label" for="{{ fid }}_novalue">No value</label>
    </div>

    {% elif field['type'] == constants.SELECT %}
    {% if field.get('menu') %}
    <select name="{{ fid }}" id="{{ fid }}"
            class="form-control" aria-describedby="{{ fid }}Help"
            {{ field.get('multiple') and 'multiple' or '' }}>
      <option value="" {{ not value and 'selected' }}>[Select a menu option]</option>
      {% for select in field['selection'] %}
      <option {{ value == select and 'selected' }}>{{ select }}</option>
      {% endfor %} {# for select in field['selection'] #}
    </select>

    {% else %} {# if field.get('menu') #} {# Default is radio or checkbox. #}

    {% if field.get('multiple') %}
    {% for select in field['selection'] %}
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="{{ fid }}_{{ select }}" name="{{ fid }}"
             class="custom-control-input" aria-describedby="{{ fid }}Help"
             {{ value and select in value and 'checked' }}
             value="{{ select }}">
      <label class="custom-control-label" for="{{ fid }}_{{ select }}">{{ select }}</label>
    </div>
    {% endfor %} {# for select in field['selection'] #}
    {% else %} {# if field.get('multiple') #}
    {% for select in field['selection'] %}
    <div class="custom-control custom-radio">
      <input type="radio" id="{{ fid }}_{{ select }}" name="{{ fid }}"
             class="custom-control-input" aria-describedby="{{ fid }}Help"
             {{ value and select in value and 'checked' }}
             value="{{ select }}">
      <label class="custom-control-label" for="{{ fid }}_{{ select }}">{{ select }}</label>
    </div>
    {% endfor %} {# for select in field['selection'] #}
    {% endif %} {# if field.get('multiple') #}

    {% endif %} {# if field.get('menu') #}

    {% elif field['type'] == constants.INTEGER %}
    <input type="number" step="1" id="{{ fid }}" name="{{ fid }}"
           {% if field.get('minimum') %}
           min="{{ field['minimum'] }}"
           {% endif %}
           {% if field.get('maximum') %}
           max="{{ field['maximum'] }}"
           {% endif %}
	   class="form-control"
           {% if value is not none %}
	   value="{{ value }}"
           {% endif %}
	   aria-describedby="{{ fid }}Help">

    {% elif field['type'] == constants.FLOAT %}
    <input type="number" step="0.01" id="{{ fid }}" name="{{ fid }}"
           {% if field.get('minimum') %}
           min="{{ field['minimum'] }}"
           {% endif %}
           {% if field.get('maximum') %}
           max="{{ field['maximum'] }}"
           {% endif %}
	   class="form-control"
           {% if value is not none %}
	   value="{{ value }}"
           {% endif %}
	   aria-describedby="{{ fid }}Help">

    {% elif field['type'] == constants.SCORE %}
    {% if field.get('slider') %}
    <div class="form-group row">
      <div class="col-md-1 text-right">{{ field['minimum'] }}</div>
      <div class="col-md">
        <input type="range" step="1" id="{{ fid }}" name="{{ fid }}"
               min="{{ field['minimum'] }}" max="{{ field['maximum'] }}"
	       class="custom-range"
               {% if value is not none %}
	       value="{{ value }}"
               {% endif %}
	       aria-describedby="{{ fid }}Help">
      </div>
      <div class="col-md-1">{{ field['maximum'] }}</div>
      <div class="col-md-1">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="checkbox" id="{{ fid }}_novalue" name="{{ fid }}_novalue"
                 class="custom-control-input"
                 {{ value is none and 'checked' }}
                 value="true">
          <label class="custom-control-label" for="{{ fid }}_novalue">No value</label>
        </div>
      </div>
    </div>
    {% else %}
    {% for pos in range(field['minimum'], field['maximum']+1) %}
    <div class="custom-control custom-radio custom-control-inline pt-1">
      <input type="radio" id="{{ fid }}_{{ pos }}" name="{{ fid }}"
             class="custom-control-input"
             {{ value == pos and 'checked'  or ''}}
             value="{{ pos }}">
      <label class="custom-control-label" for="{{ fid }}_{{ pos }}">{{ pos }}</label>
    </div>
    {% endfor %}
    <div class="custom-control custom-radio custom-control-inline ml-4">
      <input type="radio" id="{{ fid }}_novalue" name="{{ fid }}"
             class="custom-control-input"
             {{ value is none and 'checked' or ''}}
             value="true">
      <label class="custom-control-label" for="{{ fid }}_novalue">No value</label>
    </div>
    {% endif %}

    {% elif field['type'] == constants.RANK %}
    <div class="form-row">
      <input type="number" step="1" id="{{ fid }}" name="{{ fid }}"
             min="1" max="{{ n_reviews }}" class="form-control col-md-2"
             {% if value is not none %}
	     value="{{ value }}"
             {% endif %}
	     aria-describedby="{{ fid }}Help">
    </div>

    {% elif field['type'] == constants.TEXT %}
    <textarea id="{{ fid }}" name="{{ fid }}"
	      class="form-control" rows="6"
	      {% if field.get('maxlength') %}
	      maxlength="{{ field['maxlength'] }}"
	      {% endif %}
	      aria-describedby="{{ fid }}Help"
	      >{{ value | display_value('') }}</textarea>

    {% elif field['type'] == constants.DOCUMENT %}
    <div class="row">
      <div class="col-md-10">
        <div class="custom-file">
          <input type="file" id="{{ fid }}" name="{{ fid }}"
	         class="custom-file-input" aria-describedby="{{ fid }}Help">
          <label class="custom-file-label" for="{{ fid }}">{{ value | display_value('Choose document') }}
          </label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="custom-control custom-checkbox mt-2">
          <input type="checkbox" id="{{ fid }}_remove" name="{{ fid }}_remove"
                 class="custom-control-input"
                 value="remove">
          <label class="custom-control-label" for="{{ fid }}_remove">Remove</label>
        </div>
      </div>
    </div>

    {% elif field['type'] == constants.REPEAT %}
    <div class="row">
      <div class="col-md-2">
        <input type="number" id="{{ fid }}" name="{{ fid }}" step="1" min="0"
               {% if field.get('maximum') %}
               max="{{ field['maximum'] }}"
               {% endif %}
	       class="form-control"
               {% if value is not none %}
	       value="{{ value }}"
               {% endif %}
	       aria-describedby="{{ fid }}Help"
               onchange="this.form.submit()">
      </div>
      <div class="col-md">
        <label for="{{ fid }}" class="col-form-label">
          Fill in the number and then hit &lt;Enter&gt;: The number of
          sets of fields below will change accordingly.
        </label>
      </div>
    </div>

    {% endif %} {# if field['type'] == ... #}

    <small id="{{ fid }}Help" class="form-text">
      <div class="row">
	<div class="col-md">
          {% if field.get('staff') and not (g.am_admin or g.am_staff) %}
          Can be edited only by staff.
          {% endif %}
	  {% if field.get('required') %}
	  <strong>Required!</strong>
	  {% endif %}
          {% if field['type'] in (constants.INTEGER, constants.REPEAT) %}
          Do <strong>not</strong> use commas or dots in the integer value.
          {% endif %}
          {% if field['type'] == constants.SELECT and field.get('menu') %}
          Select a menu option.
          {% endif %}
	  {% if field.get('maxlength') %}
	  Maximum {{ field['maxlength'] }} characters.
	  {% endif %}
          {% if field['type'] == constants.RANK %}
          A value between 1 (best) and N (worst; the number of proposals under review).
          See <a href="{{ url_for('documentation', _anchor='rank-field') }}" target="_blank">Rank field documentation</a>.
          {% else %}
          {% if field.get('minimum') is not none %}
          Minimum value {{ field['minimum'] }}.
          {% endif %}
          {% endif %}
          {% if field.get('maximum') is not none %}
          Maximum value {{ field['maximum'] }}.
          {% endif %}
          {% if field.get('extensions') %}
          Uploaded document file must have one of the extensions (file types):
          <code>{{ ', '.join(field['extensions']) }}</code>
          {% endif %}
	  {{ field.get('description') | display_markdown }}
	</div>
	{% if field['type'] == constants.TEXT %}
	<div class="col-md-3">
	  <a target="_blank" href="{{ constants.MARKDOWN_URL }}">Markdown</a>
          may be used to format this text.
	</div>
	{% endif %}
      </div>
    </small>
  </div>
</div>
