{# Modal for creating a field definition.
   Required variables: field, post_url
#}

<div class="modal fade" id="{{ field['identifier'] }}-Modal" tabindex="-1" 
     role="dialog" aria-labelledby="{{ field['identifier'] }}-ModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="{{ post_url }}" method="POST">
	{{ csrf_token() }}

	<div class="modal-header">
          <h5 class="modal-title" id="{{ field['identifier'] }}-ModalLabel">
	    Edit {{ field['type'] }} field</h5>
          <button type="button" class="close"
		  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
	</div>

	<div class="modal-body">
	  <input type="hidden" name="type" value="text">
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-identifier" 
		   class="col-md-2 col-form-label text-right">
	      Identifier</label>
	    <div class="col-md">
	      <input type="text" id="{{ field['identifier'] }}-identifier"
		     class="form-control" readonly
		     aria-describedby="{{ field['identifier'] }}-identifierHelp"
		     value="{{ field['identifier'] }}">
	      <small id="{{ field['identifier'] }}-identifierHelp"
		     class="form-text text-muted">
		Identifier for the field. It cannot be changed.
	      </small>
	    </div>
	  </div>

	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-type" 
		   class="col-md-2 col-form-label text-right">
	      Type</label>
	    <div class="col-md">
	      <input type="text" id="{{ field['identifier'] }}-type"
		     class="form-control" readonly
		     aria-describedby="{{ field['identifier'] }}-typeHelp"
		     value="{{ field['type'] }}">
	      <small id="{{ field['identifier'] }}-typeHelp"
		     class="form-text text-muted">
		Type of the field. It cannot be changed.
	      </small>
	    </div>
	  </div>

          {% if repeat_fields %}
	  <div class="form-group row">
	    <label for="_{{ field['type'] }}-repeat"
                   class="col-md-2 col-form-label text-right">
	      Repeated by</label>
	    <div class="col-md">
              <select name="repeat" id="_{{ field['type'] }}-repeat"
		      class="form-control"
		      aria-describedby="_{{ field['type'] }}-repeatHelp">
                <option value=""
                        {{ field.get('repeat') and 'selected' or '' }}
                        >[none]</option>
                {% for rf in repeat_fields %}
                <option
                  {{ field.get('repeat') == rf['identifier'] and 'selected' or '' }}
                        >{{ rf['identifier'] }}</option>
                {% endfor %}
              </select>
	      <small id="_{{ field['type'] }}-repeatHelp"
                     class="form-text text-muted">
		The field controlling how many times this field will
                be repeated in the final form.
	      </small>
	    </div>
	  </div>
          {% endif %} {# if repeat_fields #}

	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-title" 
		   class="col-md-2 col-form-label text-right">
	      Title</label>
	    <div class="col-md">
	      <input type="text"
                     name="title" id="{{ field['identifier'] }}-title"
		     class="form-control"
		     aria-describedby="{{ field['identifier'] }}-titleHelp"
		     value="{{ field.get('title') | display_value('') }}">
	      <small id="{{ field['identifier'] }}-titleHelp"
		     class="form-text text-muted">
		Descriptive title. If not set, the identifier will be used.
	      </small>
	    </div>
	  </div>

	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-required"
		   class="col-md-2 col-form-label text-right">
	      Required</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox"
                       name="required" id="{{ field['identifier'] }}-required"
		       class="form-check-input"
		       aria-describedby="{{ field['identifier'] }}-requiredHelp"
		       value="true"
		       {{ field.get('required') and 'checked' or '' }}>
		<label class="form-check-label"
		       for="{{ field['identifier'] }}-required">
		  Yes</label>
	      </div>
	      <small id="{{ field['identifier'] }}-requiredHelp"
		     class="form-text text-muted">
		Is a value required in the field?
	      </small>
	    </div>
	  </div>

	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-staff"
		   class="col-md-2 col-form-label text-right">
	      Staff edit</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox"
                       name="staff" id="{{ field['identifier'] }}-staff"
		       class="form-check-input"
		       aria-describedby="{{ field['identifier'] }}-staffHelp"
		       value="true"
		       {{ field.get('staff') and 'checked' or '' }}>
		<label class="form-check-label"
		       for="{{ field['identifier'] }}-staff">
		  Yes</label>
	      </div>
	      <small id="{{ field['identifier'] }}-staffHelp"
		     class="form-text text-muted">
                The field is editable only by the staff,
                but is visible to others.
	      </small>
	    </div>
	  </div>

	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-staffonly"
		   class="col-md-2 col-form-label text-right">
	      Staff only</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox"
                       name="staffonly" id="{{ field['identifier'] }}-staffonly"
		       class="form-check-input"
		       aria-describedby="{{ field['identifier'] }}-staffonlyHelp"
		       value="true"
		       {{ field.get('staffonly') and 'checked' or '' }}>
		<label class="form-check-label"
		       for="{{ field['identifier'] }}-staffonly">
		  Yes</label>
	      </div>
	      <small id="{{ field['identifier'] }}-staffonlyHelp"
		     class="form-text text-muted">
                The field is visible to staff only.
                <strong>Note</strong>: The 'Required' flag will
                <strong>not</strong> be set if this is used.
	      </small>
	    </div>
	  </div>

	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-banner"
		   class="col-md-2 col-form-label text-right">
	      Banner</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox"
                       name="banner" id="{{ field['identifier'] }}-banner"
		       class="form-check-input"
		       aria-describedby="{{ field['identifier'] }}-bannerHelp"
		       value="true"
		       {{ field.get('banner') and 'checked' or '' }}>
		<label class="form-check-label"
		       for="{{ field['identifier'] }}-banner">
		  Yes</label>
	      </div>
	      <small id="{{ field['identifier'] }}-bannerHelp"
		     class="form-text text-muted">
                Show the field in summaries and lists.
	      </small>
	    </div>
	  </div>

	  {% if field['type'] in (constants.LINE, constants.TEXT) %}
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-maxlength"
		   class="col-md-2 col-form-label text-right">
	      Maxlength</label>
	    <div class="col-md">
	      <input type="text"
                     name="maxlength" id="{{ field['identifier'] }}-maxlength"
		     class="form-control"
		     aria-describedby="{{ field['identifier'] }}-maxlengthHelp"
		     value="{{ field.get('maxlength') | display_value('') }}">
	      <small id="{{ field['identifier'] }}-maxlengthHelp"
		     class="form-text text-muted">
		Max number of characters.
	      </small>
	    </div>
	  </div>

	  {% elif field['type'] == constants.SELECT %}
	  <div class="form-group row">
	    <label for="_{{ field['type'] }}-selection"
                   class="col-md-2 col-form-label text-right">
	      Selection values</label>
	    <div class="col-md">
	      <textarea name="selection" id="_{{ field['type'] }}-selection"
			class="form-control"
			aria-describedby="_{{ field['type'] }}-selectionHelp"
                        rows="{{ max(2, len(field['selection'])) }}"
                        >{{ '\n'.join(field['selection']) }}</textarea>
	      <small id="_{{ field['type'] }}-selectionHelp"
                     class="form-text text-muted">
		<div class="row">
		  <div class="col-md">
                    Values to make the selection among; one value per line.
		  </div>
		</div>
	      </small>
	    </div>
	  </div>

	  <div class="form-group row">
	    <label for="_{{ field['type'] }}-menu"
                   class="col-md-2 col-form-label text-right">
	      Menu display</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox"
                       name="menu" id="_{{ field['type'] }}-menu"
		       class="form-check-input"
		       aria-describedby="_{{ field['type'] }}-menuHelp"
		       value="true"
                       {{ field.get('menu') and 'checked' }}>
		<label class="form-check-label"
                       for="_{{ field['type'] }}-menu">Yes</label>
	      </div>
	      <small id="_{{ field['type'] }}-menuHelp"
                     class="form-text text-muted">
                Display input options as a menu, otherwise as tick boxes.
	      </small>
	    </div>
	  </div>

	  <div class="form-group row">
	    <label for="_{{ field['type'] }}-multiple"
                   class="col-md-2 col-form-label text-right">
	      Multiple choice</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox"
                       name="multiple" id="_{{ field['type'] }}-multiple"
		       class="form-check-input"
		       aria-describedby="_{{ field['type'] }}-multipleHelp"
		       value="true"
                       {{ field.get('multiple') and 'checked' }}>
		<label class="form-check-label" 
                       for="_{{ field['type'] }}-multiple">Yes</label>
	      </div>
	      <small id="_{{ field['type'] }}-multipleHelp"
                     class="form-text text-muted">
                Allow selection of multiple values.
	      </small>
	    </div>
	  </div>

	  {% elif field['type'] in (constants.INTEGER, constants.FLOAT) %}
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-minimum" 
                   class="col-md-2 col-form-label text-right">
	      Minimum</label>
	    <div class="col-md">
	      <input type="number"
                     name="minimum" id="{{ field['identifier'] }}-minimum"
                     {% if field['type'] == constants.INTEGER %}
                     step="1"
                     {% endif %}
		     class="form-control"
		     aria-describedby="{{ field['identifier'] }}-minimumHelp"
		     value="{{ field.get('minimum') | display_value('') }}">
	      <small id="{{ field['identifier'] }}-minimumHelp" 
                     class="form-text text-muted">
                Minimum value allowed, if any.
	      </small>
	    </div>
	  </div>	

	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-maximum"
                   class="col-md-2 col-form-label text-right">
	      Maximum</label>
	    <div class="col-md">
	      <input type="number" 
                     name="maximum" id="{{ field['identifier'] }}-maximum"
                     {% if field['type'] == constants.INTEGER %}
                     step="1"
                     {% endif %}
		     class="form-control"
		     aria-describedby="{{ field['identifier'] }}-maximumHelp"
		     value="{{ field.get('maximum') | display_value('') }}">
	      <small id="{{ field['identifier'] }}-maximumHelp" 
                     class="form-text text-muted">
                Maximum value allowed, if any.
	      </small>
	    </div>
	  </div>	

	  {% elif field['type'] == constants.SCORE %}
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-slider"
		   class="col-md-2 col-form-label text-right">
	      Slider input</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox"
                       name="slider" id="{{ field['identifier'] }}-slider"
		       class="form-check-input"
		       aria-describedby="{{ field['identifier'] }}-sliderHelp"
		       value="true"
		       {{ field.get('slider') and 'checked' or '' }}>
		<label class="form-check-label"
		       for="{{ field['identifier'] }}-slider">
		  Yes</label>
	      </div>
	      <small id="{{ field['identifier'] }}-sliderHelp"
		     class="form-text text-muted">
                Input using a slider, else using radio buttons.
	      </small>
	    </div>
	  </div>

	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-minimum" 
                   class="col-md-2 col-form-label text-right">
	      Minimum</label>
	    <div class="col-md">
	      <input type="number" step="1"
                     name="minimum" id="{{ field['identifier'] }}-minimum"
		     class="form-control"
		     aria-describedby="{{ field['identifier'] }}-minimumHelp"
		     value="{{ field.get('minimum') | display_value('') }}">
	      <small id="{{ field['identifier'] }}-minimumHelp"
                     class="form-text text-muted">
                Minimum score value.
	      </small>
	    </div>
	  </div>	

	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-maximum"
                   class="col-md-2 col-form-label text-right">
	      Maximum</label>
	    <div class="col-md">
	      <input type="number"
                     name="maximum" id="{{ field['identifier'] }}-maximum"
                     {% if field['type'] == constants.INTEGER %}
                     step="1"
                     {% endif %}
		     class="form-control"
		     aria-describedby="{{ field['identifier'] }}-maximumHelp"
		     value="{{ field.get('maximum') | display_value('') }}">
	      <small id="{{ field['identifier'] }}-maximumHelp" 
                     class="form-text text-muted">
                Maximum score value.
	      </small>
	    </div>
	  </div>	

	  {% elif field['type'] == constants.DOCUMENT %}
	  <div class="form-group row">
	    <label for="_{{ field['type'] }}-extensions"
                   class="col-md-2 col-form-label text-right">
	      Extensions</label>
	    <div class="col-md">
	      <input type="text"
                     name="extensions" id="_{{ field['type'] }}-extensions"
		     class="form-control"
		     aria-describedby="_{{ field['type'] }}-extensionsHelp"
                     value="{{ ', '.join(field.get('extensions') or []) }}">
	      <small id="_{{ field['type'] }}-extensionsHelp" 
                     class="form-text text-muted">
                Require that the uploaded document file has one of the
                specified extensions (file types). Give a list of
                extensions with commas ',' as separators.
                Example: <code>xlsx</code>, <code>docx</code>,
                <code>pdf</code>
                <br>
                If none specified, then any type of file is allowed.
	      </small>
	    </div>
	  </div>

	  {% elif field['type'] == constants.REPEAT %}
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-blocktitle" 
		   class="col-md-2 col-form-label text-right">
	      Title of repeated block</label>
	    <div class="col-md">
	      <input type="text"
                     name="blocktitle" id="{{ field['identifier'] }}-blocktitle"
		     class="form-control"
		     aria-describedby="{{ field['identifier'] }}-blocktitleHelp"
		     value="{{ field.get('blocktitle') | display_value('') }}">
	      <small id="{{ field['identifier'] }}-blocktitleHelp"
		     class="form-text text-muted">
		Title of the repeated block of fields.
                If not set, the title will be used.
	      </small>
	    </div>
	  </div>

	  <div class="form-group row">
	    <label for="_{{ field['type'] }}-minimum"
                   class="col-md-2 col-form-label text-right">
	      Minimum</label>
	    <div class="col-md">
	      <input type="number" step="1"
                     name="minimum" id="_{{ field['type'] }}-minimum"
		     class="form-control"
		     aria-describedby="_{{ field['type'] }}-minimumHelp"
                     value="{{ field.get('minimum') | display_value('') }}">
	      <small id="_{{ field['type'] }}-minimumHelp"
                     class="form-text text-muted">
                Minimum number of repeats. Must be larger than or equal to 0.
	      </small>
	    </div>
	  </div>	

	  <div class="form-group row">
	    <label for="_{{ field['type'] }}-maximum"
                   class="col-md-2 col-form-label text-right">
	      Maximum</label>
	    <div class="col-md">
	      <input type="number" step="1"
                     name="maximum" id="_{{ field['type'] }}-maximum"
		     class="form-control"
		     aria-describedby="_{{ field['type'] }}-maximumHelp"
                     value="{{ field.get('maximum') | display_value('') }}">
	      <small id="_{{ field['type'] }}-maximumHelp"
                     class="form-text text-muted">
                Maximum number of repeats. Must be larger than or equal to 2.
	      </small>
	    </div>
	  </div>	
	  {% endif %} {# elif field['type'] == ... #}

	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-description" 
		   class="col-md-2 col-form-label text-right">
	      Description</label>
	    <div class="col-md">
	      <textarea name="description"
                        id="{{ field['identifier'] }}-description"
			class="form-control"
			aria-describedby="{{ field['identifier'] }}-descriptionHelp"
		>{{ field.get('description') | display_value('') }}</textarea>
	      <small id="{{ field['identifier'] }}-descriptionHelp" 
		     class="form-text text-muted">
		Description of the information to be entered in the field.
                <br>
		<a target="_blank" href="{{ constants.MARKDOWN_URL }}">Markdown</a>
                may be used to format this text.
	      </small>
	    </div>
	  </div>

	</div>

	<div class="modal-footer">
          <button type="button" class="btn btn-secondary"
		  data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
	</div>
      </form>
    </div>
  </div>
</div>
