{# To include for editing the values of list of fields.
   Required variables: fields, values, errors
#}

{% for field1 in fields if not field1.get('repeat') %}

{# Field without repeats. #}

{% set field = field1 %}
{% set fid = field['identifier']%}
{% set value = values.get(fid) %}
{% set error = errors.get(fid) %}
{% include 'edit_single_field_value.html' %}

{# Repeat fields. I know, this is rather kludgy...  #}

{% if field1['type'] == 'repeat' and values.get(field1['identifier']) %}
{% for count in range(1, values[field1['identifier']] + 1) %}
<div class="card mb-2">
  <div class="card-header">{{ count }}</div>
  <div class="card-body">
    {% for field2 in fields if field2.get('repeat') ==  field['identifier'] %}
    {% set field = field2 %}
    {% set fid = "{}-{}".format(field2['identifier'], count) %}
    {% set value = values.get(fid) %}
    {% set error = errors.get(fid) %}
    {% include 'edit_single_field_value.html' %}
    {% endfor %} {# for field2 in fields ... #}
  </div>
</div>
{% endfor %} {# for count ... #}
{% endif %} {# if field1['type'] == 'repeat' ... #}

{% endfor %} {# for field1 in fields #}

