{% extends 'base.html' %}

{% block body_title %}
{{ config['SITE_NAME'] }}
<small class="ml-4 text-muted">Submission review handling system</small>
{% endblock %}

{% block meta %}
<div class="py-1">
  <div>
    <a href="{{ url_for('api.root') }}"
       class="badge badge-pill badge-dark">API</a>
  </div>
</div>
{% endblock %} {# block meta #}

{% block supermain %}
{% for call in calls %}
<div class="card border-dark mt-3">
  <div class="card-header">
    <h5>{{ call['title'] }}
      <small class="text-muted ml-3">Call for submissions</small>
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
	{% if call['closes'] %}
	Closes {{ call['closes'] }}
	{% else %}
	Open-ended
	{% endif %}
      </div>
      <div class="col-md-3">
	{% if call['closes'] %}
	{% include 'call/closes_badge.html' %}
	{% endif %}
      </div>
      <div class="col-md-3 offset-md-3">
	<a href="{{ url_for('call.display', cid=call['identifier']) }}"
	   class="btn btn-primary btn-sm" role="button" aria-pressed="true">
	  More infomation
	</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %} {# block supermain #}
