{% extends 'base.html' %}

{% block body_title %}
{{ config['SITE_NAME'] }}
<small class="ml-4 text-muted">
  Proposal submission and review handling system.
</small>
{% endblock %}

{% block main %}
{# The list is already properly sorted. #}
{% for call in calls %}
<div class="card border-dark mt-3">
  <div class="card-body">
    <h4>
      <a href="{{ url_for('call.display', cid=call['identifier']) }}"
         class=" mx-4 font-weight-bold">
        {{ call['identifier'] }}: {{ call['title'] }}</a>
      Call for proposals.
      <span class="badge badge-pill badge-{{ call['tmp']['color'] }}">
        {{ call['tmp']['text'] }}</span>
    </h4>
  </div>
</div>
{% endfor %} {# for call in calls #}
{% if not calls %}
<div class="card border-dark mt-3">
  <div class="card-body lead">
    There are currently no open calls.
  </div>
</div>
{% endif %} {# if not calls #}
<div class="card border-dark mt-3">
  <div class="card-body lead">
    Check <a href="{{ url_for('calls.closed') }}">here</a> for closed calls.
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}
{% if allow_create_call %}
<div class="mt-2">
  <a href="{{ url_for('call.create') }}"
     role="button" class="btn btn-primary btn-block">Create</a>
</div>
{% endif %} {# if allow_create #}
{% endblock %} {# block actions #}
