{% extends 'base.html' %}

{% block head_title %}Logs for '{{ title }}'{% endblock %}

{% block body_title %}Logs for '{{ title }}'{% endblock %}

{% block supermain %}
<div>
  <a href="{{ back_url }}" 
     role="button" class="btn btn-dark px-4 my-2">Back</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>User</th>
      <th>Remote address</th>
      <th>User agent</th>
      <th>Added keys</th>
      <th>Updated items</th>
      <th>Removed items</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <td class="localtime">{{ log['timestamp'] }}</td>
      <td>{{ log['username'] or '-' }}</td>
      <td>{{ log['remote_addr'] or '-' }}</td>
      <td>{{ log['user_agent'] or '-' }}</td>
      <td><pre>{{ log['added'] | tojson(indent=2) }}</pre></td>
      <td><pre>{{ log['updated'] | tojson(indent=2) }}</pre></td>
      <td><pre>{{ log['removed'] | tojson(indent=2) }}</pre></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}
