{# Macros #}

{% macro user_link(user, fullname=True, label=True, chair=False) -%}
<a href="{{ url_for('user.display', username=user['username']) }}"
   class="font-weight-bold text-secondary">
  {% if fullname and user.get('familyname') %}
  {{ user.get('givenname')|default('', True) }} {{ user['familyname'] }}
  {% else %}
  {% if label %}User{% endif %}
  {{ user['username'] }}
  {% endif %}
  {% if chair %}
  (chair)
  {% endif %}
</a>
{%- endmacro %}

{% macro call_link(call, title=True) -%}
<a href="{{ url_for('call.display', cid=call['identifier']) }}"
   title="{{ call['title'] }}" role="button"
   class="btn btn-sm btn-outline-primary px-3">
  {{ call['identifier'] }}
  {% if title %}
  {{ call['title'] }}
  {% endif %}
</a>
{%- endmacro %}

{% macro proposal_link(proposal, title=True) -%}
<a href="{{ url_for('proposal.display', pid=proposal['identifier']) }}"
   title="{{ proposal['title'] }}"
   class="font-weight-bold">
  {{ proposal['identifier'] }}
  {% if title %}
  {{ proposal['title'] }}
  {% endif %}
</a>
{%- endmacro %}

{% macro review_link(review) -%}
<a href="{{ url_for('review.display', iuid=review['_id']) }}"
   class="font-weight-bold text-info">
  Review
</a>
{% if not review.get('finalized') %}
<span class="badge badge-warning">Not finalized</span>
{% endif %}
{%- endmacro %}

{% macro proposals_link(call) -%}
<a href="{{ url_for('proposals.call', cid=call['identifier']) }}"
   role="button" class="btn btn-sm btn-primary px-3">
  {{ call['cache']['all_proposals_count'] }}</a>
</a>
{%- endmacro %}

{% macro reviews_link(call) -%}
<a href="{{ url_for('reviews.call', cid=call['identifier']) }}"
   role="button" class="btn btn-sm btn-info px-3">
  {{ call['cache']['all_reviews_count'] }}</a>
</a>
{%- endmacro %}

{% macro call_closes(call) -%}
<span class="badge badge-{{ call['cache']['color'] }}">
  {{ call['cache']['text'] }}</span>
{%- endmacro %}

{% macro submitted(proposal) -%}
{% if proposal.get('submitted') %}
<span class="badge badge-success">Submitted</span>
{% else %}
<span class="badge badge-warning">Not submitted</span>
{% endif %}
{%- endmacro %}
