{# Macros #}

{% macro user_link(user, fullname=True, label=True, chair=False) -%}
<a href="{{ url_for('user.display', username=user['username']) }}"
   class="font-weight-bold text-info">
  {% if fullname and user.get('familyname') %}
  {{ user.get('givenname')|default('', True) }} {{ user['familyname'] }}
  {% else %}
  {% if label %}User{% endif %}
  {{ user['username'] }}
  {% endif %}
  {% if chair %}
  (chair)
  {% endif %}
</a>
{%- endmacro %}

{% macro call_link(call, title=True) -%}
<a href="{{ url_for('call.display', cid=call['identifier']) }}"
   class="font-weight-bold">
  {{ call['identifier'] }}: {{ call['title'] or '' }}
</a>
{%- endmacro %}

{% macro proposal_link(proposal, title=True) -%}
<a href="{{ url_for('proposal.display', pid=proposal['identifier']) }}"
   title="{{ proposal['title'] }}"
   class="font-weight-bold">
  {{ proposal['identifier'] }}
  {% if title %}
  {{ proposal['title'] }}
  {% endif %}
</a>
{%- endmacro %}

{% macro review_link(review) -%}
<a href="{{ url_for('review.display', iuid=review['_id']) }}"
   class="font-weight-bold text-info">
  Review
</a>
{% if not review.get('finalized') %}
<span class="badge badge-warning">Not finalized</span>
{% endif %}
{%- endmacro %}

{% macro proposals_link(call) -%}
<a href="{{ url_for('proposals.call', cid=call['identifier']) }}"
   role="button" class="btn btn-primary my-1">
  {{ call['cache']['all_proposals_count'] }} proposals</a>
</a>
{%- endmacro %}

{% macro reviews_link(call) -%}
<a href="{{ url_for('reviews.call', cid=call['identifier']) }}"
   role="button" class="btn btn-info my-1">
  {{ call['cache']['all_reviews_count'] }} reviews</a>
</a>
{%- endmacro %}

{% macro proposal_reviews_link(proposal) -%}
<a href="{{ url_for('reviews.proposal', pid=proposal['identifier']) }}"
   role="button" class="btn btn-info my-1">
  {{ proposal['cache']['all_reviews_count'] }} reviews</a>
</a>
{%- endmacro %}

{% macro call_closes(call) -%}
<span class="badge badge-{{ call['cache']['color'] }}">
  {{ call['cache']['text'] }}</span>
{%- endmacro %}

{% macro submitted(proposal, long=True) -%}
{% if proposal.get('submitted') %}
<span class="badge badge-success">Submitted</span>
{% else %}
<span class="badge badge-warning">Not submitted</span>
{% endif %}
{%- endmacro %}

{% macro decision_link(decision) -%}
{% if decision %}
{% if decision.get('finalized') %}
<a href="{{ url_for('decision.display', iuid=decision['_id']) }}"
   role="button" class="btn my-1 btn-dark font-weight-bold">Decision</a>
{% else %}
<a href="{{ url_for('decision.display', iuid=decision['_id']) }}"
   role="button" class="btn my-1 btn-outline-secondary">Decision</a>
{% endif %}
{% else %}
-
{% endif %} {# if decision #}
{%- endmacro %}

{% macro formatted_value(value, type, attachments={}) -%}
{% if type == 'text' %}
{{ value | markdown }}
{% elif type == 'line' %}
{{ value or '-' }}
{% elif type in ('integer', 'score') %}
{{ value | integer_value }}
{% elif type == 'boolean' %}
{{ value | boolean_value }}
{% elif type == 'float' %}
{{ value | float_value }}
{% elif type == 'document' %}
{% set documentname = values.get(field['identifier']) %}
{% if documentname %}
<span class="font-weight-bold">{{ documentname }}</span>
{% if attachments.get(documentname) %}
<a href="{{ url_for('.document', pid=proposal['identifier'], documentname=documentname) }}"
   role="button" class="btn btn-secondary btn-sm ml-4">
  Download 
  ({{ attachments[documentname]['length'] | filesizeformat }})
</a>
{% else %}
?
{% endif %} {# if attachments.get(documentname) #}
{% endif %} {# if documentname #}
{% endif %} {# if type == ... #}
{%- endmacro %}
