{# Required variables: field, post_url #}

<div class="modal fade" id="{{ field['identifier'] }}-Modal" tabindex="-1" 
     role="dialog" aria-labelledby="{{ field['identifier'] }}-ModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="{{ post_url }}"
	    method="POST">
	{{ csrf_token() }}
	<div class="modal-header">
          <h5 class="modal-title" id="{{ field['identifier'] }}-ModalLabel">
	    Edit {{ field['type'] }} field</h5>
          <button type="button" class="close"
		  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
	</div>
	<div class="modal-body">
	  <input type="hidden" name="type" value="text">
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-identifier" 
		   class="col-md-2 col-form-label text-right">
	      Identifier</label>
	    <div class="col-md">
	      <input type="text" id="{{ field['identifier'] }}-identifier"
		     class="form-control" readonly
		     aria-describedby="{{ field['identifier'] }}-identifierHelp"
		     value="{{ field['identifier'] }}">
	      <small id="{{ field['identifier'] }}-identifierHelp"
		     class="form-text text-muted">
		<strong>Required!</strong>
		<br>
		Identifier for the field. It cannot be changed.
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-title" 
		   class="col-md-2 col-form-label text-right">
	      Title</label>
	    <div class="col-md">
	      <input type="text" id="{{ field['identifier'] }}-title"
		     name="title"
		     class="form-control"
		     aria-describedby="{{ field['identifier'] }}-titleHelp"
		     value="{{ field.get('title') or '' }}">
	      <small id="{{ field['identifier'] }}-titleHelp"
		     class="form-text text-muted">
		Descriptive title; the identifier will be used if not set.
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-required"
		   class="col-md-2 col-form-label text-right">
	      Required</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox" id="{{ field['identifier'] }}-required"
		       name="required"
		       class="form-check-input"
		       aria-describedby="{{ field['identifier'] }}-requiredHelp"
		       value="true"
		       {{ field.get('required') and 'checked' or '' }}>
		<label class="form-check-label"
		       for="{{ field['identifier'] }}-required">
		  Yes</label>
	      </div>
	      <small id="{{ field['identifier'] }}-requiredHelp"
		     class="form-text text-muted">
		Is a field value required for a valid submission?
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-description" 
		   class="col-md-2 col-form-label text-right">
	      Description</label>
	    <div class="col-md">
	      <textarea id="{{ field['identifier'] }}-description"
			name="description"
			class="form-control"
			aria-describedby="{{ field['identifier'] }}-descriptionHelp"
		>{{ field.get('description') or '' }}</textarea>
	      <small id="{{ field['identifier'] }}-descriptionHelp" 
		     class="form-text text-muted">
		<div class="row">
		  <div class="col-md">
		    Short description of the information to be entered
		    in the field.
		  </div>
		  <div class="col-md-4 text-right">
		    Formatted using 
		    <a href="{{ config['MARKDOWN_URL'] }}">Markdown</a>.
		  </div>
		</div>
	      </small>
	    </div>
	  </div>

	  {% if field['type'] in (constants.TEXT, constants.LINE) %}
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-maxlength" 
		   class="col-md-2 col-form-label text-right">
	      Maxlength</label>
	    <div class="col-md">
	      <input type="text" id="{{ field['identifier'] }}-maxlength"
		     name="maxlength"
		     class="form-control"
		     aria-describedby="{{ field['identifier'] }}-maxlengthHelp"
		     value="{{ field.get('maxlength') or '' }}">
	      <small id="{{ field['identifier'] }}-maxlengthHelp"
		     class="form-text text-muted">
		Max number of characters.
	      </small>
	    </div>
	  </div>

	  {% elif field['type'] in (constants.INTEGER, constants.FLOAT) %}
	  <div class="form-group row">
	    <label for="maxlength" class="col-md-2 col-form-label text-right">
	      Minimum</label>
	    <div class="col-md">
	      <input type="number" id="minimum" name="minimum"
                     {% if field_type == constants.INTEGER %}
                     step="1"
                     {% endif %}
		     class="form-control"
		     aria-describedby="minimumHelp"
		     value="{{ field.get('minimum') or '' }}">
	      <small id="minimumHelp" class="form-text text-muted">
                Minimum value allowed, if any.
	      </small>
	    </div>
	  </div>	
	  <div class="form-group row">
	    <label for="maxlength" class="col-md-2 col-form-label text-right">
	      Maximum</label>
	    <div class="col-md">
	      <input type="number" id="maximum" name="maximum"
                     {% if field_type == constants.INTEGER %}
                     step="1"
                     {% endif %}
		     class="form-control"
		     aria-describedby="maximumHelp"
		     value="{{ field.get('maximum') or '' }}">
	      <small id="maximumHelp" class="form-text text-muted">
                Maximum value allowed, if any.
	      </small>
	    </div>
	  </div>	

	  {% elif field['type'] == constants.SCORE %}
	  <div class="form-group row">
	    <label for="{{ field['identifier'] }}-slider"
		   class="col-md-2 col-form-label text-right">
	      Slider input</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox" id="{{ field['identifier'] }}-slider"
		       name="slider"
		       class="form-check-input"
		       aria-describedby="{{ field['identifier'] }}-sliderHelp"
		       value="true"
		       {{ field.get('slider') and 'checked' or '' }}>
		<label class="form-check-label"
		       for="{{ field['identifier'] }}-slider">
		  Yes</label>
	      </div>
	      <small id="{{ field['identifier'] }}-sliderHelp"
		     class="form-text text-muted">
                Input using a slider, else using radio buttons.
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="maxlength" class="col-md-2 col-form-label text-right">
	      Minimum</label>
	    <div class="col-md">
	      <input type="number" id="minimum" name="minimum" step="1"
		     class="form-control"
		     aria-describedby="minimumHelp"
		     value="{{ field.get('minimum') or '' }}">
	      <small id="minimumHelp" class="form-text text-muted">
                Minimum score value.
	      </small>
	    </div>
	  </div>	
	  <div class="form-group row">
	    <label for="maxlength" class="col-md-2 col-form-label text-right">
	      Maximum</label>
	    <div class="col-md">
	      <input type="number" id="maximum" name="maximum"
                     {% if field_type == constants.INTEGER %}
                     step="1"
                     {% endif %}
		     class="form-control"
		     aria-describedby="maximumHelp"
		     value="{{ field.get('maximum') or '' }}">
	      <small id="maximumHelp" class="form-text text-muted">
                Maximum score value.
	      </small>
	    </div>
	  </div>	
	  {% endif %}
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-secondary"
		  data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
	</div>
      </form>
    </div>
  </div>
</div>
