{# Required variables: field_type, post_url #}

<div class="modal fade" id="_{{ field_type }}Modal" tabindex="-1"
     role="dialog" aria-labelledby="_{{ field_type }}ModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="{{ post_url }}"
	    method="POST">
	{{ csrf_token() }}
	<input type="hidden" name="type" value="{{ field_type }}">
	<div class="modal-header">
          <h5 class="modal-title" 
	      id="_{{ field_type }}ModalLabel">Add {{ field_type }} field</h5>
          <button type="button" class="close"
		  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
	</div>
	<div class="modal-body">
	  <div class="form-group row">
	    <label for="_{{ field_type }}_identifier" 
                   class="col-md-2 col-form-label text-right">
	      Identifier</label>
	    <div class="col-md">
	      <input type="text" name="identifier"
                     id="_{{ field_type }}_identifier"
		     class="form-control"
		     aria-describedby="_{{ field_type }}_identifierHelp">
	      <small id="_{{ field_type }}_identifierHelp" 
                     class="form-text text-muted">
		<strong>Required!</strong>
		<br>
		Identifier for the field. It cannot be changed.
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="_{{ field_type }}_title" 
                   class="col-md-2 col-form-label text-right">
	      Title</label>
	    <div class="col-md">
	      <input type="text" name="title"
                     id="_{{ field_type }}_title"
		     class="form-control"
		     aria-describedby="_{{ field_type }}_titleHelp">
	      <small id="_{{ field_type }}_titleHelp"
                     class="form-text text-muted">
		Descriptive title. If not set, the identifier will be used.
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="_{{ field_type }}_required"
                   class="col-md-2 col-form-label text-right">
	      Required</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox" name="required"
                       id="_{{ field_type }}_required"
		       class="form-check-input"
		       aria-describedby="_{{ field_type }}_requiredHelp"
		       value="true">
		<label class="form-check-label"
                       for="_{{ field_type }}_required">Yes</label>
	      </div>
	      <small id="_{{ field_type }}_requiredHelp"
                     class="form-text text-muted">
		Is a field value required?
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="_{{ field_type }}_banner" 
                   class="col-md-2 col-form-label text-right">
	      Banner</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox" name="banner"
                       id="_{{ field_type }}_banner"
		       class="form-check-input"
		       aria-describedby="_{{ field_type }}_bannerHelp"
		       value="true">
		<label class="form-check-label" 
                       for="_{{ field_type }}_banner">Yes</label>
	      </div>
	      <small id="_{{ field_type }}_bannerHelp" 
                     class="form-text text-muted">
                Show the field in summaries and lists.
	      </small>
	    </div>
	  </div>

	  {% if field_type in (constants.TEXT, constants.LINE) %}
	  <div class="form-group row">
	    <label for="_{{ field_type }}_maxlength" 
                   class="col-md-2 col-form-label text-right">
	      Maxlength</label>
	    <div class="col-md">
	      <input type="text" name="maxlength"
                     id="_{{ field_type }}_maxlength"
		     class="form-control"
		     aria-describedby="_{{ field_type }}_maxlengthHelp">
	      <small id="_{{ field_type }}_maxlengthHelp"
                     class="form-text text-muted">
		Max number of characters.
	      </small>
	    </div>
	  </div>	

	  {% elif field_type in (constants.INTEGER, constants.FLOAT) %}
	  <div class="form-group row">
	    <label for="_{{ field_type }}_maxlength" 
                   class="col-md-2 col-form-label text-right">
	      Minimum</label>
	    <div class="col-md">
	      <input type="number" name="minimum"
                     id="_{{ field_type }}_minimum" 
                     {% if field_type == constants.INTEGER %}
                     step="1"
                     {% endif %}
		     class="form-control"
		     aria-describedby="_{{ field_type }}_minimumHelp">
	      <small id="_{{ field_type }}_minimumHelp"
                     class="form-text text-muted">
                Minimum value allowed, if any.
	      </small>
	    </div>
	  </div>	
	  <div class="form-group row">
	    <label for="_{{ field_type }}_maxlength" 
                   class="col-md-2 col-form-label text-right">
	      Maximum</label>
	    <div class="col-md">
	      <input type="number" name="maximum"
                     id="_{{ field_type }}_maximum"
                     {% if field_type == constants.INTEGER %}
                     step="1"
                     {% endif %}
		     class="form-control"
		     aria-describedby="_{{ field_type }}_maximumHelp">
	      <small id="_{{ field_type }}_maximumHelp"
                     class="form-text text-muted">
                Maximum value allowed, if any.
	      </small>
	    </div>
	  </div>	

	  {% elif field_type == constants.SCORE %}
	  <div class="form-group row">
	    <label for="_{{ field_type }}_slider"
                   class="col-md-2 col-form-label text-right">
	      Slider input</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox" name="slider"
                       id="_{{ field_type }}_slider"
		       class="form-check-input"
		       aria-describedby="_{{ field_type }}_sliderHelp"
		       value="true">
		<label class="form-check-label" 
                       for="_{{ field_type }}_slider">Yes</label>
	      </div>
	      <small id="sliderHelp" class="form-text text-muted">
                Input using a slider, else using radio buttons.
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="_{{ field_type }}_maxlength" 
                   class="col-md-2 col-form-label text-right">
	      Minimum</label>
	    <div class="col-md">
	      <input type="number" name="minimum"
                     id="_{{ field_type }}_minimum"
                     step="1"
		     class="form-control"
		     aria-describedby="_{{ field_type }}_minimumHelp"
                     value="1">
	      <small id="_{{ field_type }}_minimumHelp" 
                     class="form-text text-muted">
                Minimum score value.
	      </small>
	    </div>
	  </div>	
	  <div class="form-group row">
	    <label for="_{{ field_type }}_maxlength"
                   class="col-md-2 col-form-label text-right">
	      Maximum</label>
	    <div class="col-md">
	      <input type="number" name="maximum"
                     id="_{{ field_type }}_maximum"
                     step="1"
		     class="form-control"
		     aria-describedby="_{{ field_type }}_maximumHelp"
                     value="5">
	      <small id="_{{ field_type }}_maximumHelp"
                     class="form-text text-muted">
                Maximum score value.
	      </small>
	    </div>
	  </div>	

	  {% elif field_type == constants.SELECT %}
	  <div class="form-group row">
	    <label for="_{{ field_type }}_selection"
                   class="col-md-2 col-form-label text-right">
	      Selection values</label>
	    <div class="col-md">
	      <textarea name="selection"
                        id="_{{ field_type }}_selection"
			class="form-control"
			aria-describedby="_{{ field_type }}_selectionHelp"
                        ></textarea>
	      <small id="_{{ field_type }}_selectionHelp"
                     class="form-text text-muted">
		<div class="row">
		  <div class="col-md">
                    Values to make the selection among; one value per line.
		  </div>
		</div>
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="_{{ field_type }}_multiple"
                   class="col-md-2 col-form-label text-right">
	      Multiple choice</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox" name="multiple"
                       id="_{{ field_type }}_multiple"
		       class="form-check-input"
		       aria-describedby="_{{ field_type }}_multipleHelp"
		       value="true">
		<label class="form-check-label" 
                       for="_{{ field_type }}_multiple">Yes</label>
	      </div>
	      <small id="sliderHelp" class="form-text text-muted">
                Allow selection of multiple values.
	      </small>
	    </div>
	  </div>
	  {% endif %} {# if field_type == ... #}

	  <div class="form-group row">
	    <label for="_{{ field_type }}_description"
                   class="col-md-2 col-form-label text-right">
	      Description</label>
	    <div class="col-md">
	      <textarea name="description"
                        id="_{{ field_type }}_description"
			class="form-control"
			aria-describedby="_{{ field_type }}_descriptionHelp"
                        ></textarea>
	      <small id="_{{ field_type }}_descriptionHelp"
                     class="form-text text-muted">
		<div class="row">
		  <div class="col-md">
		    Description of the information to be entered
		    in the field.
		  </div>
		  <div class="col-md-4 text-right">
		    Formatted using 
		    <a href="{{ config['MARKDOWN_URL'] }}">Markdown</a>.
		  </div>
		</div>
	      </small>
	    </div>
	  </div>
	</div>

	<div class="modal-footer">
          <button type="button" class="btn btn-secondary"
		  data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
	</div>
      </form>
    </div>
  </div>
</div>
