{# Required variables: field_type, post_url #}

<div class="modal fade" id="_{{ field_type }}Modal" tabindex="-1"
     role="dialog" aria-labelledby="_{{ field_type }}ModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="{{ post_url }}"
	    method="POST">
	{{ csrf_token() }}
	<input type="hidden" name="type" value="{{ field_type }}">
	<div class="modal-header">
          <h5 class="modal-title" 
	      id="_{{ field_type }}ModalLabel">Add {{ field_type }} field</h5>
          <button type="button" class="close"
		  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
	</div>
	<div class="modal-body">
	  <div class="form-group row">
	    <label for="identifier" class="col-md-2 col-form-label text-right">
	      Identifier</label>
	    <div class="col-md">
	      <input type="text" id="identifier" name="identifier"
		     class="form-control"
		     aria-describedby="identifierHelp">
	      <small id="identifierHelp" class="form-text text-muted">
		<strong>Required!</strong>
		<br>
		Identifier for the field. It cannot be changed.
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="title" class="col-md-2 col-form-label text-right">
	      Title</label>
	    <div class="col-md">
	      <input type="text" id="title" name="title"
		     class="form-control"
		     aria-describedby="titleHelp">
	      <small id="titleHelp" class="form-text text-muted">
		Descriptive title; the identifier will be used if not set.
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="required" class="col-md-2 col-form-label text-right">
	      Required</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox" id="required" name="required"
		       class="form-check-input"
		       aria-describedby="requiredHelp"
		       value="true">
		<label class="form-check-label" for="required">Yes</label>
	      </div>
	      <small id="requiredHelp" class="form-text text-muted">
		Is a field value required for a valid submission?
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="description" class="col-md-2 col-form-label text-right">
	      Description</label>
	    <div class="col-md">
	      <textarea id="description" name="description"
			class="form-control"
			aria-describedby="descriptionHelp"></textarea>
	      <small id="descriptionHelp" class="form-text text-muted">
		<div class="row">
		  <div class="col-md">
		    Short description of the information to be entered
		    in the field.
		  </div>
		  <div class="col-md-4 text-right">
		    Formatted using 
		    <a href="{{ config['MARKDOWN_URL'] }}">Markdown</a>.
		  </div>
		</div>
	      </small>
	    </div>
	  </div>

	  {% if field_type in (constants.TEXT, constants.LINE) %}
	  <div class="form-group row">
	    <label for="maxlength" class="col-md-2 col-form-label text-right">
	      Maxlength</label>
	    <div class="col-md">
	      <input type="text" id="maxlength" name="maxlength"
		     class="form-control"
		     aria-describedby="maxlengthHelp">
	      <small id="maxlengthHelp" class="form-text text-muted">
		Max number of characters.
	      </small>
	    </div>
	  </div>	

	  {% elif field_type in (constants.INTEGER, constants.FLOAT) %}
	  <div class="form-group row">
	    <label for="maxlength" class="col-md-2 col-form-label text-right">
	      Minimum</label>
	    <div class="col-md">
	      <input type="number" id="minimum" name="minimum"
                     {% if field_type == constants.INTEGER %}
                     step="1"
                     {% endif %}
		     class="form-control"
		     aria-describedby="minimumHelp">
	      <small id="minimumHelp" class="form-text text-muted">
                Minimum value allowed, if any.
	      </small>
	    </div>
	  </div>	
	  <div class="form-group row">
	    <label for="maxlength" class="col-md-2 col-form-label text-right">
	      Maximum</label>
	    <div class="col-md">
	      <input type="number" id="maximum" name="maximum"
                     {% if field_type == constants.INTEGER %}
                     step="1"
                     {% endif %}
		     class="form-control"
		     aria-describedby="maximumHelp">
	      <small id="maximumHelp" class="form-text text-muted">
                Maximum value allowed, if any.
	      </small>
	    </div>
	  </div>	

	  {% elif field_type == constants.SCORE %}
	  <div class="form-group row">
	    <label for="slider" class="col-md-2 col-form-label text-right">
	      Slider input</label>
	    <div class="col-md">
	      <div class="form-check">
		<input type="checkbox" id="slider" name="slider"
		       class="form-check-input"
		       aria-describedby="sliderHelp"
		       value="true">
		<label class="form-check-label" for="slider">Yes</label>
	      </div>
	      <small id="sliderHelp" class="form-text text-muted">
                Input using a slider, else using radio buttons.
	      </small>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="maxlength" class="col-md-2 col-form-label text-right">
	      Minimum</label>
	    <div class="col-md">
	      <input type="number" id="minimum" name="minimum" step="1"
		     class="form-control"
		     aria-describedby="minimumHelp"
                     value="1">
	      <small id="minimumHelp" class="form-text text-muted">
                Minimum score value.
	      </small>
	    </div>
	  </div>	
	  <div class="form-group row">
	    <label for="maxlength" class="col-md-2 col-form-label text-right">
	      Maximum</label>
	    <div class="col-md">
	      <input type="number" id="maximum" name="maximum" step="1"
		     class="form-control"
		     aria-describedby="maximumHelp"
                     value="5">
	      <small id="maximumHelp" class="form-text text-muted">
                Maximum score value.
	      </small>
	    </div>
	  </div>	
	  {% endif %}
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-secondary"
		  data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
	</div>
      </form>
    </div>
  </div>
</div>
