{% extends 'base.html' %}

{% block head_title %}Call configuration{% endblock %}
{% block body_title %}Call configuration{% endblock %}

{% block main %}
<form action="{{ url_for('admin.call_configuration') }}" method="POST">
  {{ csrf_token() }}

  <div class="form-group row">
    <label for="staff_create" class="col-md-2 col-form-label text-right">
      Staff create call</label>
    <div class="col-md">
      <div class="form-check form-check-inline pt-1">
	<input type="checkbox" name="staff_create" id="staff_create"
	       class="form-check-input"
	       value="yes"
	       {{ config.CALL_STAFF_CREATE and 'checked' or '' }}>
        <label class="form-check-label" for="staff_create">
	  User accounts with the role 'staff' may create a call.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="staff_edit" class="col-md-2 col-form-label text-right">
      Staff edit calls</label>
    <div class="col-md">
      <div class="form-check form-check-inline pt-1">
	<input type="checkbox" name="staff_edit" id="staff_edit"
	       class="form-check-input"
	       value="yes"
	       {{ config.CALL_STAFF_EDIT and 'checked' or '' }}>
        <label class="form-check-label" for="staff_edit">
	  User accounts with the role 'staff' may edit any calls.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <label for="remaining_warning" class="col-md-2 col-form-label text-right">
        Remaining warning</label>
      <div class="col-md">
        <div class="row">
          <div class="col-md-2">
            <input type="number" name="remaining_warning" id="remaining_warning"
                   min="0.1" step="0.1"
	           class="form-control"
	           aria-describedby="remaining_warningHelp"
	           value="{{ config.CALL_REMAINING_WARNING }}">
          </div>
        </div>
        <small id="remaining_warningHelp" class="form-text text-muted">
          The number of days below which the call is flagged by the warning color yellow.
        </small>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <label for="remaining_danger" class="col-md-2 col-form-label text-right">
        Remaining danger</label>
      <div class="col-md">
        <div class="row">
          <div class="col-md-2">
            <input type="number" name="remaining_danger" id="remaining_danger"
                   min="0.1" step="0.1"
	           class="form-control"
	           aria-describedby="remaining_dangerHelp"
	           value="{{ config.CALL_REMAINING_DANGER }}">
          </div>
        </div>
        <small id="remaining_dangerHelp" class="form-text text-muted">
          The number of days below which the call is flagged by the danger color red.
        </small>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <label for="open_order_key" class="col-md-2 col-form-label text-right">
        Open calls sorted by</label>
      <div class="col-md">
        <div class="row">
          <div class="col-md-3">
            <select name="open_order_key" id="open_order_key"
                    class="form-control"
                    aria-describedby="open_order_keyHelp">
              {% for order_key in constants.CALL_ORDER_KEYS %}
              <option {{ order_key == config.CALL_OPEN_ORDER_KEY and 'selected' or '' }}>
                {{ order_key }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <small id="open_order_keyHelp" class="form-text text-muted">
          The field to use to sort the open calls in the display list.
        </small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3 offset-md-2">
      <button type="submit" class="btn btn-primary btn-block">Save</button>
    </div>
  </div>

</form>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('home') }}"
     role="button" class="btn btn-secondary btn-block">Cancel</a>
</div>
{% endblock %}
