{% extends 'base.html' %}

{% block head_title %}Settings{% endblock %}
{% block body_title %}Settings{% endblock %}

{% block main %}
<p>
  Settings are read on startup of the server process. If a value for a setting
  is changed, the server process must be restarted.
</p>
<p>
  The settings values are determined in the following way:
  <ol>
    <li>
      Initial values are defined in the DEFAULT_CONFIG dictionary in the
      source code file <code>Anubis/anubis/config.py</code>.
    </li>
    <li>
      The values found in a JSON settings file, if any, updates the settings.
      <ol>
        <li>
          Read the JSON file given by environment variable
          <code>ANUBIS_SETTINGS_FILEPATH</code>, if defined.
        </li>
        <li>
          Otherwise, read the file <code>Anubis/site/settings.json</code>,
          if it exists.
        </li>
      </ol>
    </li>
    <li>      
      The value given by an environment variable will be used, if it is defined.
    </li>
    <ol>
      <li>
        Enviroment variables may be defined for the process in the normal way.
      </li>
      <li>
        Environment variables may also be defined in in the file
        <code>Anubis/anubis/.env</code>, if it exists. This
        does <strong>not</strong> overwrite any already existing
        environment variables. This uses the Python third-party
        package <a href="https://pypi.org/project/python-dotenv/">python-dotenv</a>.
      </li>
    </ol>
  </ol>
</p>
<table class="table table-sm">
  {% for key, value in items %}
  <tr>
    <th>{{ key }}</th>
    <td>{{ value }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %} {# block main #}
