{% extends 'base.html' %}

{% block head_title %}Settings{% endblock %}
{% block body_title %}Settings{% endblock %}

{% block main %}
<p>
  Settings are read on startup of the server process. If a value for a setting
  is changed, the server process must be restarted.
</p>
<p>
  Settings are configured in the following way:
  <ol>
    <li>
      Initial values are defined in the DEFAULT_CONFIG dictionary in the
      source code file <code>Anubis/anubis/config.py</code>.
    </li>
    <li>      
      A JSON settings file is searched for in threee locations. The first found,
      if any, will be use. The three locations are, in turn:
      <ol>
        <li>The path given by the environment variable
          <code>ANUBIS_SETTINGS_FILEPATH</code>.
        </li>
        <li>
          The file <code>Anubis/anubis/settings.json</code>
        </li>
        <li>
          The file <code>Anubis/site/settings.json</code>
        </li>
      </ol>
    </li>
    <li>      
      The value given by an environment variable will be used, if it is defined.
    </li>
    <ol>
      <li>
        Enviroment variables may be defined for the process in the normal way.
      </li>
      <li>
        Environment variables may also be defined in in the file
        <code>Anubis/.env</code>, if it exists. These <strong>do not</strong>
        overwrite values defined in the normal way.
        This uses the Python third-party package
        <a href="https://pypi.org/project/python-dotenv/">python-dotenv</a>.
      </li>
    </ol>
  </ol>
</p>
<table class="table table-sm">
  {% for key, value in items %}
  <tr>
    <th>{{ key }}</th>
    <td>{{ value }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %} {# block main #}
