{% extends 'base.html' %}

{% block head_title %}Review of proposal {{ proposal['identifier'] }} {{ proposal['title'] }}{% endblock %}

{% block body_title %}
<small>Review of proposal</small><br>
{{ proposal | proposal_link }}
{% endblock %}

{% block meta %}

{% if g.am_admin %}
<a href="{{ url_for('admin.document', identifier=review['_id']) }}"
   class="badge badge-pill badge-light" role="button"
   title="Download the JSON CouchDB database document for the review.">
  Database document</a>
{% endif %}

{% endblock %} {# block meta #}

{% block main %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Submitter</div>
  <div class="col-md">{{ get_user(proposal['user']) | user_link }}</div>
</div>

<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">{{ call | call_link }}</div>
</div>

{% if allow_view_reviews %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Reviews of proposal</div>
  <div class="col-md">
    <a href="{{ url_for('reviews.proposal', pid=proposal['identifier']) }}"
       role="button" class="btn btn-info btn-s">{{ n_reviews }} reviews
    </a>
  </div>
</div>
{% endif %} {# if allow_view_reviews #}

<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Reviewer</div>
  <div class="col-md">{{ get_user(review['reviewer']) | user_link }}</div>
</div>

<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Status</div>
  <div class="col-md">{{ review | review_status }}</div>
</div>

{% if review.get('archived') %}
{% set fields = review['fields'] %}
{% else %}
{% set fields = call['review'] %}
{% endif %}

{% set entity = review %}
{% include 'display_fields_values.html' %}

{% endblock %} {# block main #}

{% block actions %}
{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.edit', iuid=review['_id']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
{% endif %} {# if allow_edit #}

{% if allow_unfinalize %}
<div class="mt-2">
  <form action="{{ url_for('.unfinalize', iuid=review['_id']) }}" method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block">Unfinalize</button>
  </form>
</div>
{% endif %} {# if allow_unfinalize #}

{% if allow_finalize %}
<div class="mt-2">
  <form action="{{ url_for('.finalize', iuid=review['_id']) }}" method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-success btn-block">Finalize</button>
  </form>
</div>
{% endif %} {# if allow_finalize #}

{% if allow_archive %}
<div class="mt-2">
  {% if review.get('archived') %}
  <form action="{{ url_for('.unarchive', iuid=review['_id']) }}" method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-secondary btn-sm btn-block">
      Unarchive</button>
  </form>
  {% else %}
  <form action="{{ url_for('.archive', iuid=review['_id']) }}" method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-secondary btn-sm btn-block"
	    onclick="return confirm('Really archive this review?')">
      Archive</button>
  </form>
  {% endif %} {# if review.get('archived') #}
</div>
{% endif %} {# if allow_archive #}

{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('.edit', iuid=review['_id']) }}" method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-sm btn-block"
	    onclick="return confirm('Really delete this review?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}

{% endblock %} {# block actions #}

{% block doclinks %}
{{ super() }}
<a href="{{ url_for('documentation', _anchor='review') }}"
   target="documentation" role="button" class="btn btn-outline-primary btn-block">
  Documentation: Review</a>
{% endblock %} {# block doclinks #}

{% block info %}
<div class="mt-4 small">
  Modified <span class="localtime text-nowrap">{{ review['modified'] }}</span>
  <br>
  Created <span class="localtime text-nowrap">{{ review['created'] }}</span>
  <br>
  <a href="{{ url_for('.logs', iuid=review['_id']) }}">Logs</a>
</div>
{% endblock %} {# block info #}
