{% extends 'base.html' %}

{% block head_title %}
Review of proposal {{ review['cache']['proposal']['identifier'] }}
{{ review['cache']['proposal']['title'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Review of proposal</small>
{{ macros.proposal_link(review['cache']['proposal'], title=True) }}
{% endblock %}

{% block main %}
{% set proposal = review['cache']['proposal'] %}
{# XXX access? #}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Submitter</div>
  <div class="col-md">
    {{ macros.user_link(get_user(proposal['user'])) }}
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">
    {{ macros.call_link(proposal['cache']['call'], title=True) }}
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Reviewer</div>
  <div class="col-md">
    {{ macros.user_link(get_user(review['reviewer'])) }}
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">State</div>
  <div class="col-md">
    {% if review.get('finalized') %}
    <span class="badge badge-success">Finalized</span>
    {% else %}
    <span class="badge badge-warning">Not finalized</span>
    {% endif %}
  </div>
</div>

{% set values = review['values'] %}
{% set attachments = review.get('_attachments', {}) %}

{% for field in review['cache']['call']['review'] %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">
    {{ field['title'] }}
  </div>
  {% if review['errors'].get(field['identifier']) %}
  <div class="col-md-2 text-danger">
    Error: {{ review['errors'][field['identifier']] }}
  </div>
  {% endif %}
  <div class="col-md text-break">

    {% if field['type'] == constants.TEXT %}
    {{ values.get(field['identifier']) | markdown }}

    {% elif field['type'] == constants.LINE %}
    {{ values.get(field['identifier']) or '-' }}

    {% elif field['type'] in (constants.INTEGER, constants.SCORE) %}
    {{ values.get(field['identifier']) | integer_value }}

    {% elif field['type'] == constants.BOOLEAN %}
    {{ values.get(field['identifier']) | boolean_value }}

    {% elif field['type'] == constants.FLOAT %}
    {{ values.get(field['identifier']) | float_value }}

    {% elif field['type'] == constants.DOCUMENT %}
    {% set documentname = values.get(field['identifier']) %}
    {% if documentname %}
    <span class="font-weight-bold">{{ documentname }}</span>
    {% if attachments.get(documentname) %}
    <a href="{{ url_for('.document', pid=proposal['identifier'], documentname=documentname) }}"
       role="button" class="btn btn-secondary btn-sm ml-4">
      Download 
      ({{ attachments[documentname]['length'] | filesizeformat }})
    </a>
    {% else %}
    (?)
    {% endif %}
    {% endif %}
    {% endif %}
  </div>
</div>
{% endfor %} {# for field in ... #}

{% endblock %} {# block main #}

{% block actions %}
{% if review['cache']['is_unfinalizable'] %}
<div class="mt-2">
  <form action="{{ url_for('.unfinalize', iuid=review['_id']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-warning">
      Unfinalize</button>
  </form>
</div>
{% endif %} {# if review['cache']['is_unfinalizable'] #}
{% if review['cache']['allow_edit'] %}
<div class="mt-2">
  <form action="{{ url_for('.finalize', iuid=review['_id']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">
      Finalize</button>
  </form>
</div>
<div class="mt-2">
  <a href="{{ url_for('.edit', iuid=review['_id']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
<div class="mt-2">
  <form action="{{ url_for('.edit', iuid=review['_id']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
	    onclick="return confirm('Really delete the review?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if review['cache']['allow_edit'] #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  Modified <span class="localtime">{{ review['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ review['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', iuid=review['_id']) }}">Logs</a>
  </span>
</div>
{% endblock %} {# block info #}
