{% extends 'base.html' %}

{% block head_title %}{{ title }}{% endblock %}
{% block body_title %}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-8 offset-md-1">
    {{ text | markdown }}
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}
<ul class="list-group">
  {% for documentation in constants.DOCUMENTATION %}
  <li class="list-group-item }}">
    <a target="doc"
       href="{{ url_for('about.documentation', page=documentation.replace(' ', '-')) }}">
      {{ documentation }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
