beautifulsoup4==4.10.0
blinker==1.4
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
CouchDB2==1.13.0
Flask==2.0.2
Flask-Mail==0.9.1
htmldocx==0.0.6
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
lxml==4.6.5
marko==1.1.0
MarkupSafe==2.0.1
python-docx==0.8.11
requests==2.26.0
soupsieve==2.3
tqdm==4.62.3
urllib3==1.26.7
Werkzeug==2.0.2
XlsxWriter==3.0.2
