{% extends 'base.html' %}

{% block head_title %}{{ submission['identifier'] }}{% endblock %}

{% block body_title %}
{{ submission['identifier'] }}
{% if submission.get('title') %}
<small>{{ submission.get('title') }}</small>
{% endif %}
{% endblock %}

{% block main %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">
    <a href="{{ url_for('call.display', cid=submission['cache']['call']['identifier']) }}"
       title="{{ submission['cache']['call']['title'] }}">
      {{ submission['cache']['call']['identifier'] }}: 
      {{ submission['cache']['call']['title'] }}</a>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call closes</div>
  <div class="col-md">
    <span class="mr-4">{{ submission['cache']['call']['closes'] or '-' }}</span>
    {{ macros.call_closes(submission['cache']['call']) }}
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Submitted</div>
  <div class="col-md">{{ macros.submitted(submission) }}</div>
</div>
{# XXX access? #}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">User</div>
  <div class="col-md">
    <a href="{{ url_for('user.display', username=submission['user']) }}">
      {{ submission['user'] }}</a>
  </div>
</div>
{% if submission['cache']['is_reviewer'] %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Evaluations</div>
  <div class="col-md">
    <a href="{{ url_for('evaluations.submission', sid=submission['identifier']) }}">
      <span class="badge badge-primary">
	{{ submission['cache']['evaluations_count'] }}</span></a>
  </div>
</div>
{% endif %} {# if submission['cache']['is_reviewer'] #}

{% set fields = submission['cache']['call']['fields'] %}
{% set values = submission['values'] %}
{% set errors = submission['errors'] %}
{% set attachments = submission.get('_attachments', {}) %}
{% include 'display_fields_values.html' %}

{% endblock %} {# block main #}

{% block actions %}

{% if submission['cache']['is_submittable'] %}
{% if submission.get('submitted') %}
<div class="mt-2">
  <form action="{{ url_for('.unsubmit', sid=submission['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-warning">
      Unsubmit</button>
  </form>
</div>
{% else %}
<div class="mt-2">
  <form action="{{ url_for('.submit', sid=submission['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">
      Submit</button>
  </form>
</div>
{% endif %} {# if submission.get('submitted') #}
{% endif %} {# if submission['cache']['is_submittable'] #}

{% if submission['cache']['is_editable'] %}
<div class="mt-2">
  <a href="{{ url_for('.edit', sid=submission['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
<div class="mt-2">
  <form action="{{ url_for('.edit', sid=submission['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
	    onclick="return confirm('Really delete the submission?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if submission['cache']['is_editable'] #}
{% if submission['cache']['is_reviewer'] %}
<div class="mt-2">
  <form action="{{ url_for('evaluation.create', sid=submission['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-info">
      My evaluation</button>
  </form>
</div>
{% endif %} {# if submission['cache']['is_reviewer'] #}

{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  Modified <span class="localtime">{{ submission['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ submission['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', sid=submission['identifier']) }}">Logs</a>
  </span>
</div>
{% endblock %} {# block info #}
