{% extends 'base.html' %}

{% block head_title %}{{ submission['identifier'] }}{% endblock %}

{% block body_title %}
{{ submission['identifier'] }}
{% if submission.get('title') %}
<small>{{ submission.get('title') }}</small>
{% endif %}
{% endblock %}

{% block main %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">
    <a href="{{ url_for('call.display', cid=submission['tmp']['call']['identifier']) }}">
      {{ submission['tmp']['call']['title'] }}</a>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Closes</div>
  <div class="col-md">
    <span class="mr-4">{{ submission['tmp']['call']['closes'] or '-' }}</span>
    <span class="badge badge-{{ submission['tmp']['call']['tmp']['color'] }}">
      {{ submission['tmp']['call']['tmp']['text'] }}
    </span>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Submitted</div>
  <div class="col-md">
    {% if submission.get('submitted') %}
    <span style="font-size: 120%">
      <span class="badge badge-success localtime">{{ submission['submitted'] }}</span>
    </span>
    {% else %}
    <span style="font-size: 120%">
      <span class="badge badge-warning">Not yet submitted.</span>
    </span>
    {% endif %}
  </div>
</div>

{# XXX access? #}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Submitter</div>
  <div class="col-md">
    {{ macros.button_to_user(submission['user'], False) }}
  </div>
</div>

{% for field in submission['tmp']['call']['fields'] %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">
    {{ field['title'] }}
    {% if submission.errors.get(field['identifier']) %}
    <br>
    <span class="text-danger">{{ submission.errors[field['identifier']] }}</span>
    {% endif %}
  </div>
  <div class="col-md text-break">
    {% if field['type'] == 'text' %}
    {{ submission['values'].get(field['identifier']) | markdown }}
    {% elif field['type'] == 'line' %}
    {% elif field['type'] == 'file' %}
    {% endif %}
  </div>
</div>

{% endfor %} {# for field in submission['tmp']['call']['fields'] #}
{% endblock %} {# block main #}

{% block links %}
<a href="{{ url_for('call.display', cid=submission['tmp']['call']['identifier']) }}"
   role="button" class="btn btn-outline-primary btn-block">
  Call {{ submission['tmp']['call']['identifier'] }}</a>
{% endblock %}

{% block actions %}
{% if submission['tmp']['is_editable'] %}
{% if submission.get('submitted') %}
<div class="mt-2">
  <form action="{{ url_for('.unsubmit', sid=submission['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-warning">
      Unsubmit</button>
  </form>
</div>
{% else %}
<div class="mt-2">
  <form action="{{ url_for('.submit', sid=submission['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">
      Submit</button>
  </form>
</div>
{% endif %} {# if submission.get('submitted') #}
{% endif %} {# if submission['tmp']['is_editable'] #}
{% if submission['tmp']['is_editable'] %}
<div class="mt-2">
  <a href="{{ url_for('.edit', sid=submission['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
<div class="mt-4">
  <form action="{{ url_for('.edit', sid=submission['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
	    onclick="return confirm('Really delete the submission?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if submission['tmp']['is_editable'] #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  <div class="mt-4">
    Modified <span class="localtime">{{ submission['modified'] }}</span>
  </div>
  <div class="mt-1">
    <a href="{{ url_for('.logs', sid=submission['identifier']) }}">Logs</a>
  </div>
  <div class="mt-1">
    Created <span class="localtime">{{ submission['created'] }}</span>
  </div>
</div>
{% endblock %} {# block info #}
