{% extends 'base.html' %}

{% block head_title %}
Edit submission {{ submission['identifier'] }}
{% endblock %}

{% block body_title %}
Edit submission {{ submission['identifier'] }}
{% endblock %}

{% block main %}
<form action="{{ url_for('.edit', sid=submission['identifier']) }}"
      enctype="multipart/form-data"
      method="POST">
  {{ csrf_token() }}
  <div class="form-group row">
    <label for="_title"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Title</label>
    <div class="col-md">
      <input type="text" id="_title" name="_title"
             class="form-control" autofocus
             aria-describedby="_titleHelp"
	     value="{{ submission.get('title') or '' }}">
      <small id="_titleHelp" class="form-text text-muted">
        Brief descriptive title for the submission.
      </small>
    </div>
  </div>

  {% set fields = submission['tmp'].call['fields'] %}
  {% set values = submission['values'] %}
  {% set errors = submission['errors'] %}
  {% set attachments = submission.get('_attachments', {}) %}
  {% include 'edit_fields_values.html' %}

  <div class="form-group row">
    <div class="col-md-3 offset-md-2">
      <button type="submit" class="btn btn-block btn-primary">Save</button>
    </div>
  </div>
</form>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.display', sid=submission['identifier']) }}"
	method="GET">
    <button type="submit" class="btn btn-block btn-dark">Cancel</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>{% endblock %}
