{% extends 'base.html' %}

{% block head_title %}{{ proposal['identifier'] }}{% endblock %}

{% block body_title %}
<small class="text-muted mr-3">Proposal</small>
{{ proposal['identifier'] }} {{ proposal.get('title') | display_value('[No title]') }}
{% endblock %}

{% block meta %}
<div>
  <a href="{{ url_for('proposal.display_xlsx', pid=proposal['identifier']) }}"
     title="Proposal information"
     class="badge badge-pill badge-dark">Proposal Excel file</a>
</div>
<a href="#email_lists" data-toggle="collapse"
   class="badge badge-pill badge-secondary" role="button"
   aria-expanded="false" aria-controls="email_lists">Email address lists</a>
{% endblock %} {# block meta #}

{% block main %}
<div class="row">
  <div class="col-md-10">
    {% include 'email_lists.html' %}
  </div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">
    {{ call | call_link(proposals_link=g.am_admin or am_reviewer) }}
  </div>
</div>

{% if am_submitter %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Call closes</div>
  <div class="col-md">
    <span class="mr-4">{{ call['closes'] | display_datetime_local_server }}</span>
    <span class="badge badge-pill badge-{{ call['tmp']['color'] }}">
      {{ call['tmp']['text'] }}</span>
  </div>
</div>
{% endif %} {# if am_submitter #}

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">User</div>
  <div class="col-md">{{ get_user(proposal['user']) | user_link }}</div>
</div>

<div class="row mb-2 d-print-none">
  <div class="col-md-2 font-weight-bold text-right">Access</div>
  <div class="col-md">
    <table>
      <tr>
        <td class="text-right pr-2">View:</td>
        <td>
          {% if proposal.get('access_view') %}
          {% for username in proposal['access_view'] %}
          {{ get_user(username) | user_link }}
          <span class="px-2"></span>
          {% endfor %}
          {% else %}
          -
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="text-right pr-2">Edit:</td>
        <td>
          {% if proposal.get('access_edit') %}
          {% for username in proposal['access_edit'] %}
          {{ get_user(username) | user_link }}
          <span class="px-2"></span>
          {% endfor %}
          {% else %}
          -
          {% endif %}
        </td>
      </tr>
    </table>
  </div>
</div>

{% if not am_reviewer %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Submitted</div>
  <div class="col-md">
    {% if proposal.get('submitted') %}
    <span class="badge badge-pill badge-success">Submitted</span>
    {% else %}
    <span class="badge badge-pill badge-warning">Not submitted</span>
    {% endif %}
  </div>
</div>
{% endif %} {# if not am_reviewer #}

{% if call.get('categories') and (am_reviewer or g.am_admin or g.am_staff) %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Category</div>
  <div class="col-md">{{ proposal.get('category') | display_value }}</div>
</div>
{% endif %} {# if call.get('categories') and ... #}

{% if proposal.get('submitted') %}

{% if allow_view_reviews %}
<div class="row d-print-none">
  <div class="col-md-2 font-weight-bold text-right">
    Reviews</div>
  <div class="col-md">
    <a href="{{ url_for('reviews.proposal', pid=proposal['identifier']) }}"
       role="button" class="btn btn-sm btn-info my-1">
      {{ utils.get_proposal_reviews_count(proposal['identifier']) }} reviews
    </a>
    <a href="{{ url_for('reviews.proposal_archived', pid=proposal['identifier']) }}"
       role="button" class="btn btn-sm btn-secondary ml-2 my-1">
      {{ utils.get_proposal_reviews_count(proposal['identifier'], archived=True) }} archived reviews
    </a>
  </div>
</div>
{% endif %} {# if allow_view_reviews #}

{% if my_review %}
<div class="row d-print-none">
  <div class="col-md-2 font-weight-bold text-right">My review</div>
  <div class="col-md">{{ my_review | review_link }}</div>
</div>
{% endif %} {# if my_review #}

{% if allow_link_decision %}
<div class="row d-print-none">
  <div class="col-md-2 font-weight-bold text-right">Decision</div>
  <div class="col-md">{{ decision | decision_link() }}</div>
</div>
{% elif allow_create_decision %}
<div class="row d-print-none">
  <div class="col-md-2 font-weight-bold text-right">Decision</div>
  <div class="col-md">
    <form action="{{ url_for('decision.create', pid=proposal['identifier']) }}"
          method="POST">
      {{ csrf_token() }}
      <button type="submit" class="btn btn-outline-secondary my-1">
        Create decision</button>
    </form>
  </div>
</div>
{% endif %} {# if allow_link_decision #}

{% if allow_link_grant %}
<div class="row d-print-none">
  <div class="col-md-2 font-weight-bold text-right">Grant</div>
  <div class="col-md">{{ grant | grant_link(status=True) }}</div>
</div>
{% elif allow_create_grant %}
<div class="row d-print-none">
  <div class="col-md-2 font-weight-bold text-right">Grant</div>
  <div class="col-md">
    <form action="{{ url_for('grant.create', pid=proposal['identifier']) }}"
          method="POST">
      {{ csrf_token() }}
      <button type="submit" class="btn btn-outline-success">
        Create grant dossier</button>
    </form>
  </div>
</div>
{% endif %} {# if allow_link_grant #}

{% if allow_view_decision %}
<div class="card border-secondary mt-4">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2 font-weight-bold text-right">Decision</div>
      <div class="col-md h5">
        {% if decision.get('verdict') %}
        <span class="badge badge-pill badge-success">Accepted</span>
        {% else %}
        <span class="badge badge-pill badge-secondary">Declined</span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    {% set fields = call['decision'] %}
    {% set entity = decision %}
    {% include 'display_fields_values.html' %}
  </div>
</div>
{% endif %} {# if allow_view_decision #}

{% endif %} {# if proposal.get('submitted') #}

<div class="card mt-4">
  <div class="card-body">
    {% set fields = call['proposal'] %}
    {% set entity = proposal %}
    {% include 'display_fields_values.html' %}
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}

{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.edit', pid=proposal['identifier']) }}"
     role="button" class="btn btn-block btn-primary">Edit</a>
</div>
{% endif %} {# if allow_edit #}

{% if allow_submit %}
{% if proposal.get('submitted') %}
<div class="mt-2">
  <form action="{{ url_for('.unsubmit', pid=proposal['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-warning">
      Unsubmit</button>
  </form>
</div>
{% else %}
<div class="mt-2">
  <form action="{{ url_for('.submit', pid=proposal['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">
      Submit</button>
  </form>
</div>
{% endif %} {# if proposal.get('submitted') #}
{% elif proposal.get('errors') %}
<div class="card border-success mt-2">
  <div class="card-body text-danger">
    A proposal that contains errors cannot be submitted.
  </div>
</div>
{% endif %} {# if allow_submit #}

<div class="mt-4">
</div>

{% if allow_transfer %}
<div class="mt-2">
  <a href="{{ url_for('.transfer', pid=proposal['identifier']) }}"
     role="button" class="btn btn-sm btn-block btn-warning">Transfer ownership</a>
</div>
{% endif %} {# if allow_transfer #}

{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.access', pid=proposal['identifier']) }}"
     role="button" class="btn btn-block btn-sm btn-warning">Change access</a>
</div>
{% endif %} {# if allow_edit #}

{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('.edit', pid=proposal['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-sm btn-block btn-danger"
	    onclick="return confirm('Really delete this proposal?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}

{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  Modified <span class="localtime">{{ proposal['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ proposal['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', pid=proposal['identifier']) }}">Logs</a>
  </span>
</div>
{% endblock %} {# block info #}

{% block javascript %}
{% include 'clipboard.html' %}
{% endblock %}
