{% extends 'base.html' %}

{% block head_title %}{{ proposal['identifier'] }}{% endblock %}

{% block body_title %}
<small class="text-muted mr-3">Proposal</small>
{{ proposal['identifier'] }} {{ proposal.get('title') or 'No title' }}
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">
    {{ macros.call_link(proposal['cache']['call'], title=True) }}
  </div>
</div>

{% if am_submitter %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Call closes</div>
  <div class="col-md">
    <span class="mr-4">{{ proposal['cache']['call']['closes'] or '-' }}</span>
    {{ macros.call_closes(proposal['cache']['call']) }}
  </div>
</div>
{% endif %} {# if am_submitter #}

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">User</div>
  <div class="col-md">
    {{ macros.user_link(get_user(proposal['user'])) }}
  </div>
</div>

{% if not am_reviewer %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Submitted</div>
  <div class="col-md">{{ macros.submitted(proposal) }}</div>
</div>
{% endif %} {# if not am_reviewer #}

{% if proposal.get('submitted') %}

{% if allow_view_reviews %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">All reviews</div>
  <div class="col-md">{{ macros.proposal_reviews_link(proposal) }}</div>
</div>
{% endif %} {# if allow_view_reviews #}

{% if my_review %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">My review</div>
  <div class="col-md">{{ macros.review_link(my_review) }}</div>
</div>
{% endif %} {# if my_review #}

{% if allow_view_decision %}
<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">
    <span class="text-light bg-dark p-2">Decision</span>
  </div>
  <div class="col-md">
    {% set values = decision['values'] %}
    {% set attachments = decision.get('_attachments', {}) %}
    {% for field in decision['cache']['call']['decision'] %}
    <div class="row">
      <div class="col-md-2 font-weight-bold text-right">
        {{ field['title'] }}
      </div>
      <div class="col-md text-break">
        {% set value = values.get(field['identifier']) %}
        {% if value %}
        {% set docurl = url_for('.document', pid=proposal['identifier'], documentname=value) %}
        {% else %}
        {% set docurl = None %}
        {% endif %}
        {{ macros.formatted_value(value, field['type'], docurl) }}
      </div>
    </div>
    {% endfor %} {# for field in ... #}
  </div>
</div>
{% endif %} {# if allow_view_decision #}

{% endif %} {# if proposal.get('submitted') #}

<div class="card mt-4">
  <div class="card-body">
    {% set values = proposal['values'] %}
    {% set attachments = proposal.get('_attachments', {}) %}

    {% for field in proposal['cache']['call']['proposal'] %}
    <div class="row">
      <div class="col-md-2 font-weight-bold text-right">
        {{ field['title'] }}
      </div>
      {% if proposal['errors'].get(field['identifier']) %}
      <div class="col-md-2 text-danger">
        Error: {{ proposal['errors'][field['identifier']] }}
      </div>
      {% endif %}
        {% set value = values.get(field['identifier']) %}
        {% if value %}
        {% set docurl = url_for('.document', pid=proposal['identifier'], documentname=value) %}
        {% else %}
        {% set docurl = None %}
        {% endif %}
      <div class="col-md text-break">
        {{ macros.formatted_value(value, field['type'], docurl) }}
      </div>
    </div>
    {% endfor %} {# for field in ... #}
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}

{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.edit', pid=proposal['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
{% endif %} {# if allow_edit #}

{% if allow_submit %}
{% if proposal.get('submitted') %}
<div class="mt-2">
  <form action="{{ url_for('.unsubmit', pid=proposal['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-warning">
      Unsubmit</button>
  </form>
</div>
{% else %}
<div class="mt-2">
  <form action="{{ url_for('.submit', pid=proposal['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">
      Submit</button>
  </form>
</div>
{% endif %} {# if proposal.get('submitted') #}
{% endif %} {# if allow_submit #}

{% if allow_link_decision %}
{% if decision %}
{{ macros.decision_link(decision) }}
{% elif allow_create_decision %}
<form action="{{ url_for('decision.create', pid=proposal['identifier']) }}"
      method="POST">
  {{ csrf_token() }}
  <button type="submit" class="btn btn-sm btn-dark my-1">
    Create decision</button>
</form>
{% endif %} {# if decision #}
{% endif %} {# if allow_link_decision #}

{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('.edit', pid=proposal['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
	    onclick="return confirm('Really delete the proposal?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}

{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  Modified <span class="localtime">{{ proposal['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ proposal['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', pid=proposal['identifier']) }}">Logs</a>
  </span>
</div>
{% endblock %} {# block info #}
