{% extends 'base.html' %}

{% block head_title %}{{ proposal['identifier'] }}{% endblock %}

{% block body_title %}
<small class="text-muted mr-3">Proposal</small>
{{ proposal['identifier'] }} {{ proposal.get('title') or '' }}
{% endblock %}

{% block main %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">
    {{ macros.call_link(proposal['cache']['call'], title=True) }}
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call closes</div>
  <div class="col-md">
    <span class="mr-4">{{ proposal['cache']['call']['closes'] or '-' }}</span>
    {{ macros.call_closes(proposal['cache']['call']) }}
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">User</div>
  <div class="col-md">
    {{ macros.user_link(get_user(proposal['user'])) }}
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Submitted</div>
  <div class="col-md">{{ macros.submitted(proposal) }}</div>
</div>
{% if g.is_admin %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">All reviews</div>
  <div class="col-md">
    <a href="{{ url_for('reviews.proposal', pid=proposal['identifier']) }}"
       role="button" class="btn btn-sm btn-info px-3">
      {{ proposal['cache']['reviews_count'] }}
    </a>
  </div>
</div>
{% endif %} {# if g.is_admin #}
{% if review %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">My review</div>
  <div class="col-md">{{ macros.review_link(review) }}</div>
</div>
{% endif %} {# if review #}

<div class="card mt-4">
  <div class="card-body">
    {% set values = proposal['values'] %}
    {% set attachments = proposal.get('_attachments', {}) %}

    {% for field in proposal['cache']['call']['proposal'] %}
    <div class="row mb-2">
      <div class="col-md-2 font-weight-bold text-right">
        {{ field['title'] }}
      </div>
      {% if proposal['errors'].get(field['identifier']) %}
      <div class="col-md-2 text-danger">
        Error: {{ proposal['errors'][field['identifier']] }}
      </div>
      {% endif %}
      <div class="col-md text-break">

        {% if field['type'] == constants.TEXT %}
        {{ values.get(field['identifier']) | markdown }}

        {% elif field['type'] == constants.LINE %}
        {{ values.get(field['identifier']) or '-' }}

        {% elif field['type'] in (constants.INTEGER, constants.SCORE) %}
        {{ values.get(field['identifier']) | integer_value }}

        {% elif field['type'] == constants.BOOLEAN %}
        {{ values.get(field['identifier']) | boolean_value }}

        {% elif field['type'] == constants.FLOAT %}
        {{ values.get(field['identifier']) | float_value }}

        {% elif field['type'] == constants.DOCUMENT %}
        {% set documentname = values.get(field['identifier']) %}
        {% if documentname %}
        <span class="font-weight-bold">{{ documentname }}</span>
        {% if attachments.get(documentname) %}
        <a href="{{ url_for('.document', pid=proposal['identifier'], documentname=documentname) }}"
           role="button" class="btn btn-secondary btn-sm ml-4">
          Download
          ({{ attachments[documentname]['length'] | thousands }} bytes)
        </a>
        {% else %}
        (?)
        {% endif %}
        {% endif %}
        {% endif %}
      </div>
    </div>
    {% endfor %} {# for field in ... #}
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}

{% if proposal['cache']['is_submittable'] %}
{% if proposal.get('submitted') %}
<div class="mt-2">
  <form action="{{ url_for('.unsubmit', pid=proposal['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-warning">
      Unsubmit</button>
  </form>
</div>
{% else %}
<div class="mt-2">
  <form action="{{ url_for('.submit', pid=proposal['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">
      Submit</button>
  </form>
</div>
{% endif %} {# if proposal.get('submitted') #}
{% endif %} {# if proposal['cache']['is_submittable'] #}

{% if proposal['cache']['is_editable'] %}
<div class="mt-2">
  <a href="{{ url_for('.edit', pid=proposal['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
<div class="mt-2">
  <form action="{{ url_for('.edit', pid=proposal['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
	    onclick="return confirm('Really delete the proposal?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if proposal['cache']['is_editable'] #}

{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  Modified <span class="localtime">{{ proposal['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ proposal['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', pid=proposal['identifier']) }}">Logs</a>
  </span>
</div>
{% endblock %} {# block info #}
