{% extends 'base.html' %}

{% block head_title %}Edit proposal {{ proposal['identifier'] }}{% endblock %}

{% block body_title %}Edit proposal {{ proposal['identifier'] }}{% endblock %}

{% block main %}
<form action="{{ url_for('.edit', pid=proposal['identifier']) }}"
      enctype="multipart/form-data"
      method="POST">
  {{ csrf_token() }}
  <div class="form-group row">
    <label for="_title"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Title</label>
    <div class="col-md">
      <input type="text" id="_title" name="_title"
             class="form-control" autofocus
             aria-describedby="_titleHelp"
	     value="{{ proposal.get('title') or '' }}">
      <small id="_titleHelp" class="form-text text-muted">
        Single-line descriptive title for the proposal.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="_user"
           class="col-md-2 col-form-label text-right font-weight-bold">
      User</label>
    <div class="col-md">
      <input type="text" id="_user" name="_user" class="form-control"
	     aria-describedby="_userHelp"
	     value="{{ proposal['user'] }}">
      <small id="_userHelp" class="form-text text-muted">
        Transfer ownership of the proposal to another user.
        Provide the username or email address.
      </small>
    </div>
  </div>

  {% set fields = proposal['cache']['call']['proposal'] %}
  {% set values = proposal['values'] %}
  {% set errors = proposal['errors'] %}
  {% set attachments = proposal.get('_attachments', {}) %}
  {% include 'edit_fields_values.html' %}

  <div class="form-group row">
    <div class="col-md-3 offset-md-2">
      <button type="submit" class="btn btn-block btn-primary">Save</button>
    </div>
  </div>
</form>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.display', pid=proposal['identifier']) }}"
	method="GET">
    <button type="submit" class="btn btn-block btn-dark">Cancel</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>{% endblock %}
