{% extends 'base.html' %}

{% block head_title %}Edit proposal {{ proposal['identifier'] }}{% endblock %}

{% block body_title %}Edit proposal {{ proposal['identifier'] }}{% endblock %}

{% block main %}
<form action="{{ url_for('.edit', pid=proposal['identifier']) }}"
      enctype="multipart/form-data"
      method="POST">
  {{ csrf_token() }}

  <div class="form-group row">
    <label for="_title"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Title</label>
    <div class="col-md">
      <input type="text" id="_title" name="_title"
             class="form-control" autofocus
             aria-describedby="_titleHelp"
	     value="{{ proposal.get('title') or '' }}">
      <small id="_titleHelp" class="form-text">
        Single-line descriptive title for the proposal.
      </small>
    </div>
  </div>

  {% if call.get('categories') %}
  <div class="form-group row">
    <label for="_category"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Category</label>
    <div class="col-md">
      <select name="_category" class="custom-select"
              aria-describedby="_categoryHelp">
        {% for category in call['categories'] %}
        <option {{ proposal.get('category') == category and 'selected' or '' }}>
          {{ category }}
        </option>
        {% endfor %} {# for category ... #}
        <option value="__none__"
                {{ not proposal.get('category') and 'selected' or '' }}>
          [none]
        </option>
      </select>
      <small id="_categoryHelp" class="form-text">
        Category of the proposal.
      </small>
    </div>
  </div>
  {% endif %} {# if call.get('categories') #}

  {% set fields = call['proposal'] %}
  {% set values = proposal['values'] %}
  {% set errors = proposal['errors'] %}
  {% set attachments = proposal.get('_attachments', {}) %}
  {% include 'edit_fields_values.html' %}

  <div class="form-group row">
    <div class="col-md-3 offset-md-2">
      <button type="submit" title="Save to continue editing later."
              class="btn btn-block btn-primary">Save</button>
    </div>
    <div class="col-md-3">
      <button type="submit" title="Save and attempt immediate submission."
              class="btn btn-block btn-success"
              name="_save" value="submit">Save & submit</button>
    </div>
  </div>

</form>
{% endblock %} {# block main #}

{% block actions %}
{% include 'info-partial.html' %}
<div class="mt-2">
  <a href="{{ url_for('.display', pid=proposal['identifier']) }}"
     role="button" class="btn btn-block btn-secondary">Cancel</a>
</div>
{% endblock %}

{% block javascript %}
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}
