{% extends 'base.html' %}

{% block head_title %}Grant dossier {{ grant['identifier'] }}{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Grant dossier</small>
{{ grant['identifier'] }}
{% if grant.get('errors') %}
<span class="badge badge-danger">Incomplete</span>
{% else %}
<span class="badge badge-success">Complete</span>
{% endif %}
{% endblock %}

{% block main %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Grant receiver</div>
  <div class="col-md">{{ get_user(grant['user']) | user_link }}</div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Proposal</div>
  <div class="col-md">{{ proposal | proposal_link }}</div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">
    {{ get_call(grant['call']) | call_link(proposals_link=False) }}
    <a href="{{ url_for('grants.call', cid=call['identifier']) }}"
       role="button" class="btn btn-sm btn-success">
      {{ call_grants_count }} grant dossiers</a>
  </div>
</div>

{% for field1 in call['grant'] if not field1.get('repeat') %}
{# Field without repeats. #}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">
    {{ field1['title'] }}
  </div>
  {% if grant['errors'].get(field1['identifier']) %}
  <div class="col-md-2 text-danger">
    Error: {{ grant['errors'][field1['identifier']] }}
  </div>
  {% endif %}
  <div class="col-md text-break">
    {% set value = grant['values'].get(field1['identifier']) %}
    {% if value and field1['type'] == 'document' %}
      {{ value | typed_value(field1['type'], url_for('.document', gid=grant['identifier'], fid=field1['identifier'])) }}
    {% else %}
      {{ value | typed_value(field1['type']) }}
    {% endif %}
  </div>
</div>

{# Repeat fields. I know, this is rather kludgy...  #}

{% if field1['type'] == 'repeat' and grant['values'].get(field1['identifier']) %}
{% for count in range(1, grant['values'][field1['identifier']] + 1) %}
<div class="card mb-2">
  <div class="card-header">
    <div class="row">
      <div class="col-md offset-md-2">
        {{ field1['title'] }}  number {{ count }}
      </div>
    </div>
  </div>
  <div class="card-body">
    {% for field2 in call['grant'] if field2.get('repeat') == field1['identifier'] %}
    {% set id2 = "{}-{}".format(field2['identifier'], count) %}
    <div class="row mb-2">
      <div class="col-md-2 font-weight-bold text-right">
        {{ field2['title'] }}
      </div>
      {% if grant['errors'].get(id2) %}
      <div class="col-md-2 text-danger">
        Error: {{ grant['errors'][id2] }}
      </div>
      {% endif %}
      <div class="col-md text-break">
        {% set value = grant['values'].get(id2) %}
        {% if value and field2['type'] == 'document' %}
        {{ value | typed_value(field2['type'], url_for('.document', gid=grant['identifier'], fid=id2)) }}
        {% else %}
        {{ value | typed_value(field2['type']) }}
        {% endif %}
      </div>
    </div>
    {% endfor %} {# for field2 in fields ... #}
  </div>
</div>
{% endfor %} {# for count... #}
{% endif %} {# if field1['type'] == 'repeat' ... #}

{% endfor %} {# for field1 in ... #}

{% endblock %} {# block main #}

{% block actions %}
{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.edit', gid=grant['identifier']) }}"
     role="button" class="btn btn-block btn-primary">Edit</a>
</div>
{% endif %} {# if allow_edit #}
{% if allow_delete %}
<div class="mt-4">
  <form action="{{ url_for('.edit', gid=grant['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-sm btn-block btn-danger"
	    onclick="return confirm('Really delete this grant?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  Modified <span class="localtime">{{ grant['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ grant['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', gid=grant['identifier']) }}">Logs</a>
  </span>
</div>
{% endblock %} {# block info #}
