{% extends 'base.html' %}

{% block head_title %}Grant dossier {{ grant['identifier'] }}{% endblock %}

{% block body_title %}
<small class="text-muted">Grant dossier</small>
{{ grant['identifier'] }}

{% if grant.get('errors') %}
<span class="badge badge-danger">Incomplete</span>
{% else %}
<span class="badge badge-success">Complete</span>
{% endif %}

{% endblock %}

{% block meta %}
<a href="{{ url_for('grant.grant_zip', gid=grant['identifier']) }}"
   title="All documents for the grant."
   class="badge badge-pill badge-dark"
   title="Download zip file containing all grant documents.">
  Grant documents zip file</a>
<a href="#email_lists" data-toggle="collapse"
   class="badge badge-pill badge-secondary" role="button"
   aria-expanded="false" aria-controls="email_lists"
   title="Toggle display of email address lists.">Email address lists</a>

{% if g.am_admin %}
<a href="{{ url_for('admin.document', identifier=grant['_id']) }}"
   class="badge badge-pill badge-light" role="button"
   title="Download the JSON CouchDB database document for the grant.">
  Database document</a>
{% endif %}

{% endblock %} {# block meta #}

{% block main %}
<div class="row">
  <div class="col-md-10">
    {% include 'email_lists.html' %}
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">
    Proposal submitter <span class="text-nowrap">(= main grant PI)</span>
  </div>
  <div class="col-md">{{ get_user(grant['user']) | user_link }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Access to view</div>
  <div class="col-md">
    {{ set(grant.get('access_view', [])).difference(grant.get('access_edit', [])) | users_links_list }}
  </div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Access to edit</div>
  <div class="col-md">
    {{ grant.get('access_edit', []) | users_links_list }}
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Lock status</div>
  <div class="col-md">{{ grant.get('locked') and 'Locked' or 'Unlocked' }}</div>
</div>

<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Proposal</div>
  <div class="col-md">{{ proposal | proposal_link }}</div>
</div>

<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">
    {{ get_call(grant['call']) | call_link(proposals_link=False, grants_link=g.am_admin or g.am_staff) }}
  </div>
</div>

{% set fields = call['grant'] %}
{% set entity = grant %}
{% include 'display_fields_values.html' %}

{% endblock %} {# block main #}

{% block actions %}
{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('grant.edit', gid=grant['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
{% endif %} {# if allow_edit #}

<div class="mt-4">
</div>

{% if allow_change_access %}
<div class="mt-2">
  <a href="{{ url_for('grant.change_access', gid=grant['identifier']) }}"
     role="button" class="btn btn-info btn-sm btn-block">Change access</a>
</div>
{% endif %} {# if allow_change_access #}

{% if allow_lock %}
<div class="mt-2">
  {% if grant.get('locked') %}
  <form action="{{ url_for('grant.unlock', gid=grant['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-sm btn-block"
            title="Unlock the grant dossier to allow edits by the user.">
      Unlock</button>
  </form>
  {% else %}
  <form action="{{ url_for('grant.lock', gid=grant['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-sm btn-block"
            title="Lock the grant dossier to stop edits by the user.">
      Lock</button>
  </form>
  {% endif %}
</div>
{% endif %} {# if allow_lock #}

{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('grant.edit', gid=grant['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-sm btn-block"
	    onclick="return confirm('Really delete this grant?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}

{% block doclinks %}
{{ super() }}
<a href="{{ url_for('documentation') }}#grant"
   target="documentation" role="button" class="btn btn-outline-primary btn-block">
  Documentation: Grant</a>
{% endblock %} {# block doclinks #}

{% block info %}
<div class="mt-4 small">
  Modified <span class="localtime text-nowrap">{{ grant['modified'] }}</span>
  <br>
  Created <span class="localtime text-nowrap">{{ grant['created'] }}</span>
  <br>
  <a href="{{ url_for('grant.logs', gid=grant['identifier']) }}">Logs</a>
</div>
{% endblock %} {# block info #}
