{% extends 'base.html' %}

{% block head_title %}Grant dossier {{ grant['identifier'] }}{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Grant dossier</small>
{{ grant['identifier'] }}
{% endblock %}

{% block main %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Grant receiver</div>
  <div class="col-md">{{ get_user(grant['user']) | user_link }}</div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Proposal</div>
  <div class="col-md">{{ proposal | proposal_link }}</div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">{{ get_call(grant['call']) | call_link(proposals_link=False) }}</div>
</div>

{% set values = grant['values'] %}
{% for field in call['grant'] %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">
    {{ field['title'] }}
  </div>
  {% if grant['errors'].get(field['identifier']) %}
  <div class="col-md-2 text-danger">
    Error: {{ grant['errors'][field['identifier']] }}
  </div>
  {% endif %}
  <div class="col-md text-break">
    {% set value = values.get(field['identifier']) %}
    {% if value and field['type'] == 'document' %}
      {{ value | typed_value(field['type'], url_for('.document', gid=grant['identifier'], fid=field['identifier'])) }}
    {% else %}
      {{ value | typed_value(field['type']) }}
    {% endif %}
  </div>
</div>
{% endfor %} {# for field in ... #}

{% endblock %} {# block main #}

{% block actions %}
{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.edit', gid=grant['identifier']) }}"
     role="button" class="btn btn-block btn-primary">Edit</a>
</div>
{% endif %} {# if allow_edit #}
{% if allow_delete %}
<div class="mt-4">
  <form action="{{ url_for('.edit', gid=grant['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-sm btn-block btn-danger"
	    onclick="return confirm('Really delete this grant?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  Modified <span class="localtime">{{ grant['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ grant['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', gid=grant['identifier']) }}">Logs</a>
  </span>
</div>
{% endblock %} {# block info #}
