{% extends 'base.html' %}

{% block head_title %}Submissions in call {{ call['identifier'] }}{% endblock %}

{% block body_title %}
Submissions in call
<a href="{{ url_for('call.display', cid=call['identifier']) }}">
  {{ call['identifier'] }}</a>
{% endblock %}

{% block supermain %}
<p class="lead">
  <strong>NOTE</strong>: Includes only submissions marked by the user
  as 'submitted'.
</p>

<table id="submissions" class="table">
  <thead>
    <tr>
      <th>Submission</th>
      <th>Title</th>
      {# XXX Check access to view user #}
      <th>Submitter</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td>
	<a href="{{ url_for('submission.display', sid=submission['identifier']) }}">
	  {{ submission['identifier'] }}</a>
      </td>
      <td>{{ submission.get('title') or '-' }}</td>
      {# XXX Check access to view user #}
      <td>
	<a href="{{ url_for('user.display', username=submission['user']) }}">
	  {{ submission['user'] }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#submissions").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
