{% extends 'base.html' %}

{% block head_title %}Submissions in call {{ call['identifier'] }}{% endblock %}

{% block body_title %}Submissions in call {{ call['identifier'] }}{% endblock %}

{% block main %}
<table id="submissions" class="table">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Title</th>
      {# XXX Check access to view user #}
      <th>Submitter</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td>{{ macros.button_to_submission(submission) }}</td>
      <td>{{ submission.get('title') or '-' }}</td>
      {# XXX Check access to view user #}
      <td>{{ macros.button_to_user(submission['user']) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block javascript %}
<script>
  $(function() {
    $("#submissions").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
