{% extends 'base.html' %}

{% block head_title %}
All submissions from user {{ user['username'] }}
{% endblock %}

{% block body_title %}
All submissions from user {{ user['username'] }}
{% endblock %}

{% block supermain %}
<table id="submissions" class="table">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Title</th>
      <th>Submitted</th>
      <th>Call</th>
      <th>Closes</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td>{{ macros.button_to_submission(submission) }}</td>
      <td>{{ submission.get('title') or '-' }}</td>
      <td>{{ macros.submitted(submission) }}</td>
      <td>{{ macros.button_to_call(submission['tmp']['call']) }}</td>
      <td>{{ macros.badge_call_closes(submission['tmp']['call']) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block links %}
{{ macros.button_to_user(user['username'], label=True) }}
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#submissions").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
