{% extends 'base.html' %}

{% block head_title %}
All submissions from user {{ user['username'] }}
{% endblock %}

{% block body_title %}
All submissions from user
<a href="{{ url_for('user.display', username=user['username']) }}">
  {{ user['username'] }}</a>
{% endblock %}

{% block supermain %}
<table id="submissions" class="table">
  <thead>
    <tr>
      <th>Submission</th>
      <th>Title</th>
      <th>Submitted</th>
      <th>Call</th>
      <th>Closes</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td>
	<a href="{{ url_for('submission.display', sid=submission['identifier']) }}">
	  {{ submission['identifier'] }}</a>
      </td>
      <td>{{ submission.get('title') or '-' }}</td>
      <td>{{ macros.submitted(submission) }}</td>
      <td>
	<a href="{{ url_for('call.display', cid=submission['cache']['call']['identifier']) }}"
	   title="{{ submission['cache']['call']['title'] }}">
	  {{ submission['cache']['call']['identifier'] }}</a>
      </td>
      <td>{{ macros.call_closes(submission['cache']['call']) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#submissions").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
