{% extends 'base.html' %}
{% import 'button.html' as button_macro %}

{% block head_title %}
All submissions from user {{ user['username'] }}
{% endblock %}

{% block body_title %}
All submissions from user {{ user['username'] }}
{% endblock %}

{% block main %}
<table id="submissions" class="table">
  <thead>
    <tr>
      <th>Call</th>
      <th>Identifier</th>
      <th>Title</th>
      <th>Submitted</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td>{{ button_macro.to_call(submission['tmp']['call']) }}</td>
      <td>{{ button_macro.to_submission(submission) }}</td>
      <td>{{ submission.get('title') or '-' }}</td>
      <td>{{ macros.submitted(submission) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block links %}
{{ button_macro.to_user(user['username']) }}
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#submissions").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
