{% extends 'base.html' %}

{% block head_title %}Proposals in call {{ call['identifier'] }}{% endblock %}

{% block body_title %}
<small class="text-muted">Proposals in call</small>
{{ call | call_link(title=True, proposals_link=False) }}
{% endblock %}

{% block meta %}

{% if g.am_admin %}
<a href="{{ url_for('proposals.call_xlsx', cid=call['identifier']) }}"
   class="badge badge-pill badge-dark" role="button"
   title="Excel file of all proposals in the call.">Proposals Excel file</a>
{% endif %}

<a href="{{ url_for('proposals.call_xlsx', cid=call['identifier'], submitted='yes') }}"
   class="badge badge-pill badge-dark" role="button">Submitted proposals Excel file</a>
<a href="{{ url_for('call.call_zip', cid=call['identifier']) }}"
   title="Excel file and documents for submitted proposals."
   class="badge badge-pill badge-dark">Submitted proposals zip file</a>
<a href="#email_lists" data-toggle="collapse"
   class="badge badge-pill badge-secondary" role="button"
   aria-expanded="false" aria-controls="email_lists">Email address lists
</a>
{% endblock %}

{% block supermain %}
<div class="row">
  <div class="col-md-10">
    {% include 'email_lists.html' %}
  </div>
</div>

<table id="proposals" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Proposal</th>
      {% for field in get_banner_fields(call['proposal']) %}
      <th>{{ field['title'] }}</th>
      {% endfor %}

      {% if g.am_admin %}
      <th>Status</th>
      {% endif %}

      <th>Submitter</th>

      {% if am_reviewer %}
      <th>My review</th>
      <th>My review status</th>
      {% endif %}

      {% if allow_view_reviews %}
      <th>All reviews</th>

      {% for rf in review_rank_fields.values() %}
      <th>
        Reviews {{ rf['title'] }}: ranking factor
        <button type="button" class="btn btn-outline-dark" data-toggle="popover"
                title="What is ranking factor?"
                data-content="Ranking factor is computed from the ranks given by all reviewers of the proposal such that 10 is highest possible (all reviewers ranked proposal first), and zero is lowest (all reviewers ranked proposal last).">?</button>
      </th>
      <th>
        Reviews {{ rf['title'] }}: stdev
        <button type="button" class="btn btn-outline-dark" data-toggle="popover"
                title="What is rank stdev?"
                data-content="Rank stdev is the standard deviation of the ranks for the proposal. High value indicates disagreement between reviewers.">?</button>
      </th>
      {% endfor %}

      {% if len(review_score_fields) >= 2 %}
      <th>Reviews all scores: mean of means</th>
      <th>Reviews all scores: stdev of means</th>
      {% endif %}

      {% for id in review_score_fields %}
      <th>Reviews {{ id }}: mean</th>
      {% if len(review_score_fields) == 1 %}
      <th>Reviews {{ id }}: stdev</th>
      {% endif %}
      {% endfor %}

      {% endif %} {# if allow_view_reviews #}

      {% if allow_view_decisions %}
      <th>Decision</th>
      {% for field in get_banner_fields(call['decision']) %}
      <th>{{ field['title'] }}</th>
      {% endfor %}
      {% endif %} {# if allow_view_decisions #}

      {% if allow_view_grants %}
      <th>Grant dossier</th>
      {% endif %} {# if allow_view_grants #}
    </tr>
  </thead>

  <tbody class="table-borderless">
    {% for proposal in proposals %}
    <tr>
      <td>{{ proposal | proposal_link }}</td>
      {% for field in get_banner_fields(call['proposal']) %}
      <td>{{ field | display_field_value(proposal, max_length=10) }}</td>
      {% endfor %}

      {% if g.am_admin %}
      <td>
        {% if proposal.get('submitted') %}
        <span class="badge badge-pill badge-success">Submitted</span>
        {% else %}
        <span class="badge badge-pill badge-warning">Not submitted</span>
        {% endif %}
      </td>
      {% endif %} {# if g.am_admin #}

      <td>{{ get_user(proposal['user']) | user_link(affiliation=True) }}</td>

      {% if am_reviewer %}
        {% set review = get_reviewer_review(proposal) %}
      <td>
        {{ review | review_link }}
      </td>
      <td>
        {{ review | review_status }}
      </td>
      {% endif %}

      {% if allow_view_reviews %}
      <td>
        <a href="{{ url_for('reviews.proposal', pid=proposal['identifier']) }}"
           role="button" class="btn btn-sm btn-info">
          {{ proposal['n_reviews'] }}
        </a>
      </td>

      {% for id in review_rank_fields.keys() %}
      <td>{{ proposal['ranking'][id]['factor'] | display_value }}</td>
      <td>{{ proposal['ranking'][id]['stdev'] | display_value }}</td>
      {% endfor %}

      {% if len(review_score_fields) >= 2 %}
      <td>{{ proposal['scores']['__mean__'] | display_value }}</td>
      <td>{{ proposal['scores']['__stdev__'] | display_value }}</td>
      {% endif %}

      {% for id in review_score_fields %}
      <td>{{ proposal['scores'][id]['mean'] | display_value }}</td>
      {% if len(review_score_fields) == 1 %}
      <td>{{ proposal['scores'][id]['stdev'] | display_value }}</td>
      {% endif %}
      {% endfor %}
      {% endif %} {# if allow_view_reviews #}

      {% if allow_view_decisions %}
      {% set decision = get_decision(proposal['decision']) %}

      {% if decision %}
      <td>{{ decision | decision_link(small=True) }}</td>

      {% for field in get_banner_fields(call['decision']) %}
      <td>{{ field | display_field_value(decision) }}</td>
      {% endfor %}

      {% else %} {# if decision #}
      <td>-</td>
      {% for field in get_banner_fields(call['decision']) %}
      <td>-</td>
      {% endfor %}
      {% endif %} {# if decision #}

      {% endif %} {# if allow_view_decisions #}

      {% if allow_view_grants %}
      <td>
        {{ get_grant_proposal(proposal['identifier']) | grant_link(small=True, status=True) }}
      </td>
      {% endif %} {# if allow_view_grants #}
    </tr>
    {% endfor %} {# for proposal in proposals #}
  </tbody>
</table>

{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
<script>
  $(function() {
    $(".refresh").change(function () {
      $("#refresh").submit();
    });
    $("#proposals").DataTable( {
      order: [[0, "asc"]],
      lengthMenu: [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      pagingType: "full_numbers",
      pageLength: 25
    });
  });
</script>
{% endblock %}
