{% extends 'base.html' %}

{% block head_title %}Proposals in call {{ call['identifier'] }}{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Proposals in call</small>
{{ macros.call_link(call, title=True) }}
{% endblock %}

{% block meta %}
<div>
  <a href="{{ url_for('.call_xlsx', cid=call['identifier']) }}"
     title="Excel 2007 XLSX file"
     class="badge badge-pill badge-primary">Excel file</a>
</div>
{% endblock %}

{% block supermain %}
<table id="proposals" class="table table-sm">
  <thead>
    <tr>
      <th>Proposal</th>
      {% if g.am_admin %}
      <th>Submitted</th>
      {% endif %}
      <th>Submitter</th>
      {% if allow_view_reviews %}
      <th>Reviews</th>
      {% endif %} {# if allow_view_reviews #}
    </tr>
  </thead>
  <tbody>
    {% for proposal in proposals %}
    <tr>
      <td>{{ macros.proposal_link(proposal, title=True) }}</td>
      {% if g.am_admin %}
      <td>{{ macros.submitted(proposal) }}</td>
      {% endif %}
      <td>{{ macros.user_link(get_user(proposal['user'])) }}</td>
      {% if allow_view_reviews %}
      <td>{{ macros.proposal_reviews_link(proposal) }}</td>
      {% endif %}
    </tr>
    {% endfor %} {# for proposal in proposals #}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#proposals").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
