{% extends 'base.html' %}

{% block head_title %}Proposals in call {{ call['identifier'] }}{% endblock %}

{% block body_title %}
Proposals in call
<a href="{{ url_for('call.display', cid=call['identifier']) }}">
  {{ call['identifier'] }}</a>
{% endblock %}

{% block supermain %}
<p class="lead">
  <strong>NOTE</strong>: Includes only proposals marked by the user
  as 'submitted'.
</p>

<table id="proposals" class="table">
  <thead>
    <tr>
      <th>Proposal</th>
      <th>Title</th>
      {# XXX Check access to view user #}
      <th>Submitter</th>
    </tr>
  </thead>
  <tbody>
    {% for proposal in proposals %}
    <tr>
      <td>
	<a href="{{ url_for('proposal.display', sid=proposal['identifier']) }}">
	  {{ proposal['identifier'] }}</a>
      </td>
      <td>{{ proposal.get('title') or '-' }}</td>
      {# XXX Check access to view user #}
      <td>
	<a href="{{ url_for('user.display', username=proposal['user']) }}">
	  {{ proposal['user'] }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#proposals").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
