{% extends 'base.html' %}

{% block head_title %}
Proposals by user {{ user['username'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Proposals by</small>
{{ user | user_link }}
{% endblock %}

{% block supermain %}
<table id="proposals" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Proposal</th>
      <th>Submitted</th>
      <th>Call</th>
      <th>Call closes</th>
      <th>Decision</th>
    </tr>
  </thead>
  <tbody class="table-borderless">
    {% for proposal in proposals %}
    {% set call = get_call(proposal['call']) %}
    <tr>
      <td>{{ proposal | proposal_link }}</td>
      <td>
        {% if proposal.get('submitted') %}
        <span class="badge badge-pill badge-success">Submitted</span>
        {% else %}
        <span class="badge badge-pill badge-warning">Not submitted</span>
        {% endif %}
      </td>
      <td>{{ call | call_link(title=False) }}</td>
      <td>
        <span class="badge badge-pill badge-{{ call['tmp']['color'] }}">
          {{ call['tmp']['text'] }}</span>
      </td>
      {% set decision = get_decision(proposal.get('decision')) %}
      {% if not decision or not allow_view_decision(decision) %}
      <td>-</td>
      {% else %}
      <td>
        <table class="table table-sm table-borderless">
          {% set values = decision['values'] %}
          {% for field in utils.get_banner_fields(call['decision']) %}
          <tr>
            <th>{{ field['title'] }}</th>
            <td class="text-break">
              {% set value = values.get(field['identifier']) %}
              {% if value and field['type'] == 'document' %}
                {{ value | typed_value(field['type'], url_for('decision.document', iuid=decision['_id'], fid=field['identifier'])) }}
              {% else %}
                {{ value | typed_value(field['type']) }}
              {% endif %}
            </td>
          </tr>
          {% endfor %} {# for field in ... #}
        </table>
      </td>
      {% endif %}
    </tr>
    {% endfor %} {# for proposal in proposals #}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#proposals").DataTable( {
      pagingType: "full_numbers",
      pageLength: 25,
      order: [[0, "asc"]]
    });
  });
</script>
{% endblock %}
