{% extends 'base.html' %}

{% block head_title %} Proposals by user {{ user['username'] }}{% endblock %}
{% block body_title %}Proposals by {{ user | user_link }}{% endblock %}

{% block supermain %}
<table id="proposals" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Proposal</th>
      <th>Status</th>
      <th>Submitter</th>
      <th>Call</th>
      <th>Call closes</th>
      <th>Decision</th>
      <th>Grant dossier</th>
    </tr>
  </thead>

  <tbody class="table-borderless">
    {% for proposal in proposals %}
    {% set call = get_call(proposal['call']) %}
    <tr>
      <td>{{ proposal | proposal_link }}</td>
      <td>
        {% if proposal.get('submitted') %}
        <span class="badge badge-pill badge-success">Submitted</span>
        {% else %}
        <span class="badge badge-pill badge-warning">Not submitted</span>
        {% endif %}
      </td>
      <td>{{ get_user(proposal['user']) | user_link }}</td>
      <td>{{ call | call_link }}</td>
      <td>
        {{ call['closes'] | display_datetime_timezone }}
        {{ call | call_closes_badge }}
      </td>
      <td>
        {% set decision = get_decision(proposal.get('decision')) %}
        {% if decision and allow_view_decision(decision) %}
        {% if decision.get('verdict') %}
        <div class="badge btn-success font-weight-bold">Accepted</div>
        {% else %}
        <div class="badge btn-secondary font-weight-bold">Declined</div>
        {% endif %}
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {{ get_grant_proposal(proposal['identifier']) | grant_link(small=True, status=True) }}
      </td>
    </tr>
    {% endfor %} {# for proposal in proposals #}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#proposals").DataTable( {
      order: [[0, "asc"]],
      pagingType: "full_numbers",
      pageLength: 25
    });
  });
</script>
{% endblock %}
