{% extends 'base.html' %}

{% block head_title %}All calls{% endblock %}

{% block body_title %}All calls{% endblock %}

{% block main %}
<table id="calls" class="table table-sm">
  <thead>
    <tr>
      <th>Call</th>
      <th>Opens</th>
      <th>Closes</th>
      <th></th>
      <th>Proposals</th>
      <th>Reviews</a>
    </tr>
  </thead>
  <tbody>
    {% for call in calls %}
    <tr>
      <td>{{ macros.call_link(call) }}</td>
      <td class="text-nowrap pl-2">{{ call['opens'] | datetimetz }}</td>
      <td class="text-nowrap pl-2">{{ call['closes'] | datetimetz }}</td>
      <td>
        <span class="badge badge-{{ call['tmp']['color'] }}">
          {{ call['tmp']['text'] }}</span>
      </td>
      <td>
        <a href="{{ url_for('proposals.call', cid=call['identifier']) }}"
           role="button" class="btn btn-primary my-1">
          {{ utils.get_call_proposals_count(call['identifier']) }} proposals
        </a>
      </td>
      <td>
        <a href="{{ url_for('reviews.call', cid=call['identifier']) }}"
           role="button" class="btn btn-info my-1">
          {{ utils.get_call_reviews_count(call['identifier']) }} reviews
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('call.create') }}"
     role="button" class="btn btn-primary btn-block">Create</a>
</div>
{% endblock %} {# block actions #}

{% block javascript %}
<script>
  $(function() {
    $("#calls").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
