{% extends 'base.html' %}

{% block head_title %}All calls{% endblock %}

{% block body_title %}All calls{% endblock %}

{% block supermain %}
<table id="calls" class="table table-sm">
  <thead>
    <tr>
      <th>Call</th>
      <th>Title</th>
      <th>Opens</th>
      <th colspan="2">Closes</th>
      <th class="text-break"
	  title="Includes only proposals marked by the user as 'submitted'.">
	Proposals</th>
    </tr>
  </thead>
  <tbody>
    {% for call in calls %}
    <tr>
      <td>
	<a href="{{ url_for('call.display', cid=call['identifier']) }}"
	   title="{{ call['title'] }}">
	  {{ call['identifier'] }}</a>
      </td>
      <td>{{ call['title'] }}</td>
      <td class="text-nowrap pl-2">{{ call['opens'] or 'No open date.' }}</td>
      <td class="text-nowrap pl-2">{{ call['closes'] or 'No closes date.' }}</td>
      <td>{{ macros.call_closes(call) }}</td>
      <td>
	<a href="{{ url_for('proposals.call', cid=call['identifier']) }}">
	  <span class="badge badge-primary px-3">
	    {{ call['cache']['proposals_count'] }}</span>
	</a>
      </td>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#calls").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
