{% extends 'base.html' %}

{% block head_title %}Closed calls{% endblock %}

{% block body_title %}Closed calls{% endblock %}

{% block supermain %}
<table id="calls" class="table table-sm">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      {% if g.current_user %}
      <th class="text-break">Submissions</th>
      {% endif %}
      <th>Opens</th>
      <th>Closes</th>
    </tr>
  </thead>
  <tbody>
    {% for call in calls %}
    <tr>
      <td>
	<a href="{{ url_for('call.display', cid=call['identifier']) }}"
	   role="button" class="btn btn-sm btn-primary btn-block mr-2">
	  {{ call['identifier'] }}</a>
      </td>
      <td>{{ call['title'] }}</td>
      {% if g.current_user %}
      <td>
	<a href="{{ url_for('submissions.call', cid=call['identifier']) }}">
	  <span class="badge badge-primary">
	    {{ call['tmp']['submissions_count'] }}</span>
	</a>
      </td>
      {% endif %}
      <td class="text-nowrap pl-2">{{ call['opens'] or '-' }}</td>
      <td class="text-nowrap pl-2">{{ call['closes'] or '-' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#calls").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
