{% extends 'base.html' %}

{% block head_title %}Closed calls{% endblock %}

{% block body_title %}Closed calls{% endblock %}

{% block main %}
<table id="calls" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Call id</th>
      <th>Call title</th>
      <th>Closed</th>
      {% if g.current_user %}
      <th>Reviews due</th>
      <th>Proposals</th>
      <th>Reviews</a>
      <th>Grants</a>
      {% endif %}
    </tr>
  </thead>

  <tbody class="table-borderless">
    {% for call in calls %}
    <tr>
      <td>{{ call | call_link(proposals_link=False) }}</td>
      <td>{{ call.get('title') or '[No title]' }}</td>
      <td class="text-nowrap pl-2">{{ call['closes'] | display_datetime_timezone }}</td>
      {% if g.current_user %}
      <td class="text-nowrap pl-2">{{ call['reviews_due'] | display_datetime_timezone }}</td>
      <td>{{ call | call_proposals_link }}</td>
      <td>{{ call | call_reviews_link }}</td>
      <td>{{ call | call_grants_link }}</td>
      {% endif %}
    </tr>
    {% endfor %} {# for call in calls #}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block actions %}
{% if allow_create %}
<div class="mt-2">
  <a href="{{ url_for('call.create') }}"
     role="button" class="btn btn-primary btn-block">Create</a>
</div>
{% endif %} {# if allow_create #}
{% endblock %} {# block actions #}

{% block javascript %}
<script>
  $(function() {
    $("#calls").DataTable( {
      pagingType: "full_numbers",
      pageLength: 25,
      order: [[2, "desc"]]
    });
  });
</script>
{% endblock %}
