{% extends 'base.html' %}

{% block head_title %}Closed calls{% endblock %}

{% block body_title %}Closed calls{% endblock %}

{% block main %}
<table id="calls" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Call id</th>
      <th>Call title</th>
      <th>Closed</th>
      {% if g.current_user %}
      <th title="Includes only proposals marked by the user as 'submitted'.">
	Proposals</th>
      <th>Reviews</a>
      <th>Grants</a>
      {% endif %} {# if g.current_user #}
    </tr>
  </thead>
  <tbody class="table-borderless">
    {% for call in calls %}
    <tr>
      <td>{{ call | call_link(proposals_link=False) }}</td>
      <td>{{ call.get('title') or '[No title]' }}</td>
      <td class="text-nowrap pl-2">{{ call['closes'] | datetimetz }}</td>
      {% if allow_view_details(call) %}
      <td>
        {% set count = utils.get_call_proposals_count(call['identifier']) %}
        {% if count %}
        <a href="{{ url_for('proposals.call', cid=call['identifier']) }}"
           role="button" class="btn btn-sm btn-primary px-3">{{ count }}</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% set count = utils.get_call_reviews_count(call['identifier']) %}
        {% if count %}
        <a href="{{ url_for('reviews.call', cid=call['identifier']) }}"
           role="button" class="btn btn-sm btn-info px-3">{{ count }}</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% set count = utils.get_call_grants_count(call['identifier']) %}
        {% if count %}
        <a href="{{ url_for('grants.call', cid=call['identifier']) }}"
           role="button" class="btn btn-sm btn-success px-3">{{ count }}</a>
        {% else %}
        -
        {% endif %}
      </td>
      {% else %}
      <td></td>
      <td></td>
      <td></td>
      {% endif %} {# if allow_view_details(call) #}
    </tr>
    {% endfor %} {# for call in calls #}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block actions %}
{% if allow_create %}
<div class="mt-2">
  <a href="{{ url_for('call.create') }}"
     role="button" class="btn btn-primary btn-block">Create</a>
</div>
{% endif %} {# if allow_create #}
{% endblock %} {# block actions #}

{% block javascript %}
<script>
  $(function() {
    $("#calls").DataTable( {
      pagingType: "full_numbers",
      pageLength: 25,
      order: [[2, "desc"]]
    });
  });
</script>
{% endblock %}
