{% extends 'base.html' %}

{% block head_title %}Open calls{% endblock %}

{% block body_title %}Open calls{% endblock %}

{% block supermain %}
<table id="calls" class="table table-sm">
  <thead>
    <tr>
      <th>Call</th>
      <th colspan="2">Closes</th>
      {% if g.is_admin %}
      <th class="text-break"
	  title="Includes only proposals marked by the user as 'submitted'.">
	Proposals</th>
      {% endif %} {# if g.is_admin #}
    </tr>
  </thead>
  <tbody>
    {% for call in calls %}
    <tr>
      <td>{{ macros.call_link(call, title=True) }}</td>
      <td class="text-nowrap pl-2">{{ call['closes'] or 'No closes date.' }}</td>
      <td>{{ macros.call_closes(call) }}</td>
      {% if g.is_admin %}
      <td>{{ macros.proposals_link(call) }}</td>
      {% endif %} {# if g.is_admin #}
    </tr>
    {% endfor %} {# for call in calls #}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#calls").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
