{% extends 'base.html' %}

{% block head_title %}Open calls{% endblock %}

{% block body_title %}Open calls{% endblock %}

{% block main %}
<table id="calls" class="table table-sm">
  <thead>
    <tr>
      <th>Call</th>
      <th>Closes</th>
      <th></th>
      {% if g.am_admin %}
      <th title="Includes only proposals marked by the user as 'submitted'.">
	Proposals</th>
      <th>Reviews</a>
      {% endif %} {# if g.am_admin #}
    </tr>
  </thead>
  <tbody>
    {% for call in calls %}
    <tr>
      <td>{{ macros.call_link(call, title=True) }}</td>
      <td class="text-nowrap pl-2">{{ call['closes'] or '-' }}</td>
      <td>{{ macros.call_closes(call) }}</td>
      {% if g.am_admin %}
      <td>{{ macros.proposals_link(call) }}</td>
      <td>{{ macros.reviews_link(call) }}</td>
      {% endif %} {# if g.am_admin #}
    </tr>
    {% endfor %} {# for call in calls #}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block actions %}
{% if g.am_admin %}
<div class="mt-2">
  <a href="{{ url_for('call.create') }}"
     role="button" class="btn btn-primary btn-block">Create</a>
</div>
{% endif %} {# if g.am_admin #}
{% endblock %} {# block actions #}

{% block javascript %}
<script>
  $(function() {
    $("#calls").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
