{% extends 'base.html' %}

{% block head_title %}Open calls{% endblock %}

{% block body_title %}Open calls{% endblock %}

{% block main %}
<table id="calls" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Call id</th>
      <th>Call title</th>
      <th>Closes</th>
      {% if allow_create %}
      <th>Proposals</th>
      <th>Reviews</a>
      {% endif %} {# if allow_create #}
    </tr>
  </thead>

  <tbody class="table-borderless">
    {% for call in calls %}
    <tr>
      <td>{{ call | call_link(proposals_link=False) }}</td>
      <td>{{ call.get('title') or '[No title]' }}</td>
      <td class="pl-2">
        {{ call['closes'] | display_datetime_timezone }}
        {{ call | call_closes_badge }}
      </td>
      {% if allow_create %}
      <td>{{ call | call_proposals_link }}</td>
      <td>{{ call | call_reviews_link }}</td>
      {% endif %} {# if allow_create #}
    </tr>
    {% endfor %} {# for call in calls #}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block javascript %}
<script>
  $(function() {
    $("#calls").DataTable( {
      pagingType: "full_numbers",
      pageLength: 25,
      order: [[2, "asc"]]
    });
  });
</script>
{% endblock %}
