{% extends 'base.html' %}

{% block head_title %}Calls by {{ username }} {% endblock %}

{% block body_title %}
Calls by {{ macros.user_link(get_user(username)) }}
{% endblock %}

{% block main %}
<table id="calls" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Call</th>
      <th>Closes</th>
      <th></th>
      <th title="Includes only proposals marked by the user as 'submitted'.">
	Proposals</th>
      <th>Reviews</a>
    </tr>
  </thead>
  <tbody class="table-borderless">
    {% for call in calls %}
    <tr>
      <td>{{ macros.call_link(call) }}</td>
      <td class="text-nowrap pl-2">{{ call['closes'] | datetimetz }}</td>
      <td>{{ macros.closed(call) }}</td>
      <td>
        <a href="{{ url_for('proposals.call', cid=call['identifier']) }}"
           role="button" class="btn btn-primary">
          {{ utils.get_call_proposals_count(call['identifier']) }} proposals
        </a>
      </td>
      <td>
        <a href="{{ url_for('reviews.call', cid=call['identifier']) }}"
           role="button" class="btn btn-info">
          {{ utils.get_call_reviews_count(call['identifier']) }} reviews
        </a>
      </td>
    </tr>
    {% endfor %} {# for call in calls #}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block actions %}
{% if allow_create %}
<div class="mt-2">
  <a href="{{ url_for('call.create') }}"
     role="button" class="btn btn-primary btn-block">Create</a>
</div>
{% endif %} {# if allow_create #}
{% endblock %} {# block actions #}

{% block javascript %}
<script>
  $(function() {
    $("#calls").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
