{% extends 'base.html' %}

{% block head_title %}Calls by {{ username }} {% endblock %}

{% block body_title %}
Calls by {{ get_user(username) | user_link }}
{% endblock %}

{% block main %}
<table id="calls" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Call id</th>
      <th>Call title</th>
      <th>Opens</th>
      <th>Closes</th>
      <th></th>
      <th title="Includes only proposals marked by the user as 'submitted'.">
	Proposals</th>
      <th>Reviews</a>
      <th>Grants</a>
    </tr>
  </thead>
  <tbody class="table-borderless">
    {% for call in calls %}
    <tr>
      <td>{{ call | call_link(proposals_link=False) }}</td>
      <td>{{ call.get('title') or '[No title]' }}</td>
      <td class="text-nowrap pl-2">{{ call['opens'] | display_datetime_local_server }}</td>
      <td class="text-nowrap pl-2">{{ call['closes'] | display_datetime_local_server }}</td>
      <td>
        <span class="badge badge-pill badge-{{ call['tmp']['color'] }}">
          {{ call['tmp']['text'] }}</span>
      </td>
      <td>{{ call | call_proposals_link }}</td>
      <td>{{ call | call_reviews_link }}</td>
      <td>{{ call | call_grants_link }}</td>
    </tr>
    {% endfor %} {# for call in calls #}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block actions %}
{% if allow_create %}
<div class="mt-2">
  <a href="{{ url_for('call.create') }}"
     role="button" class="btn btn-primary btn-block">Create</a>
</div>
{% endif %} {# if allow_create #}
{% endblock %} {# block actions #}

{% block javascript %}
<script>
  $(function() {
    $("#calls").DataTable( {
      pagingType: "full_numbers",
      pageLength: 25,
      order: [[3, "desc"]]
    });
  });
</script>
{% endblock %}
