{% extends 'base.html' %}

{% block head_title %}
Reviews of proposals in call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Reviews of proposals in call</small>
{{ call | call_link }}
{% endblock %}

{% block meta %}
<div>
  <a href="{{ url_for('reviews.call_xlsx', cid=call['identifier']) }}"
     title="All reviews in the call"
     class="badge badge-pill badge-dark">Reviews Excel file</a>
</div>
{% endblock %}

{% block supermain %}
{% if only_finalized %}
<p class="lead">
  NOTE: Only finalized reviews are shown.
</p>
{% endif %}
<table id="reviews" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Review</th>
      {% for field in utils.get_banner_fields(call['review']) %}
      <th>{{ field['title'] }}</th>
      {% endfor %}
      <th>Reviewer</th>
      <th>Proposal</th>
      {% for field in utils.get_banner_fields(call['proposal']) %}
      <th>{{ field['title'] }}</th>
      {% endfor %}
      <th>Submitter</th>
    </tr>
  </thead>
  <tbody class="table-borderless">
    {% for proposal in proposals %}
    {% for reviewer in call['reviewers'] %}
    {% set review = reviews_lookup.get("{} {}".format(proposal['identifier'], reviewer)) %}
    {% if review is none and not proposal['allow_create_review'] %}
    {% continue %}
    {% endif %}
    <tr>
      {% if review %}
      <td>{{ review | review_link }}</td>
      {% for field in utils.get_banner_fields(call['review']) %}
      <td>{{ field | display_field_value(review) }}</td>
      {% endfor %}

      {% else %}
      <td>
	<form action="{{ url_for('review.create', pid=proposal['identifier'], username=reviewer) }}"
	      method="POST">
	  {{ csrf_token() }}
          <input type="hidden" name="_next"
                 value="{{ url_for('reviews.call', cid=call['identifier']) }}">
	  <button type="submit" class="btn btn-sm btn-info py-0">
            Create review</button>
	</form>
      </td>
      {% for field in utils.get_banner_fields(call['review']) %}
      <td>-</td>
      {% endfor %} {# for field in ... #}
      {% endif %} {# if review #}

      <td>{{ get_user(reviewer) | user_link }}</td>
      <td>{{ proposal | proposal_link(bold=False) }}</td>
      {% for field in utils.get_banner_fields(call['proposal']) %}
      <td>{{ field | display_field_value(proposal) }}</td>
      {% endfor %}
      <td>{{ get_user(proposal['user']) | user_link }}</td>
    </tr>
    {% endfor %} {# for reviewer in call['reviewers'] #}
    {% endfor %} {# for proposal in proposals #}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
{% set nbanners = len(utils.get_banner_fields(call['review'])) %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      columnDefs: [
        { targets: 0, orderData: [0, {{ nbanners + 1 }}, {{ nbanners + 2 }}] }
      ],
      order: [[0, "desc"]],
      pagingType: "full_numbers",
      pageLength: 25
    });
  });
</script>
{% endblock %}
