{% extends 'base.html' %}

{% block head_title %}
Reviews by user {{ user['username'] }} in call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
<small>Reviews by</small> {{ user | user_link}}
<small>in call</small> {{ call | call_link }}
{% endblock %}

{% block meta %}
<a href="{{ url_for('.call_reviewer_xlsx', cid=call['identifier'], username=user['username']) }}"
   title="Excel 2007 XLSX file"
   class="badge badge-pill badge-dark">Reviews Excel file</a>
<a href="{{ url_for('.call_reviewer_zip', cid=call['identifier'], username=user['username']) }}"
   title="Excel file and documents for proposals to review."
   class="badge badge-pill badge-dark">Proposals zip file</a>
{% endblock %}

{% block supermain %}
{% if rank_error %}
<div class="row mb-2">
  <div class="col-md-2 text-right font-weight-bold">Rank errors</div>
  <div class="col-md-8">
    <span class="bg-warning px-3 py-1">
      The reviews rank field contains non-consecutive values.
    </span>
  </div>
</div>
{% endif %} {# if rank_error #}

<div class="row mb-2">
  <div class="col-md-2 text-right font-weight-bold">Due</div>
  <div class="col-md-8">
    {{ call.get('reviews_due') | display_datetime_timezone(tz=True) }}
    {{ call | reviews_due_badge }}
  </div>
  <div class="col-md">
            <a href="{{ url_for('documentation', _anchor='instructions-for-reviewers') }}"
               target="documentation" role="button"
               class="btn btn-outline-primary btn-block">Instructions for reviewers</a>
    <a href="{{ url_for('reviews.call_reviewer_archived', cid=call['identifier'], username=user['username']) }}"
       role="button" class="btn btn-secondary btn-block">
      Archived reviews</a>
  </div>
</div>

<form action="{{ url_for('reviews.create', username=user['username']) }}" method="POST">
  {{ csrf_token() }}
  <input type="hidden" name="cid" value="{{ call['identifier'] }}">

  <table id="reviews" class="table table-sm table-hover">
    <thead>
      <tr>
        <th>Review</th>
        <th>Status</th>
        {% for field in get_banner_fields(call['review']) %}
        <th>{{ field['title'] }}</th>
        {% endfor %}
        <th>Proposal</th>
        {% for field in get_banner_fields(call['proposal']) %}
        <th>{{ field['title'] }}</th>
        {% endfor %}
        <th>Submitter</th>
      </tr>
    </thead>

    <tbody class="table-borderless">
      {% for proposal in proposals %}
      {% set review = reviews_lookup.get(proposal['identifier']) %}
      <tr>
        {% if review %}
        <td>{{ review | review_link }}</td>
        <td>{{ review | review_status }}</td>
        {% for field in get_banner_fields(call['review']) %}
        <td>{{ field | display_field_value(review) }}</td>
        {% endfor %}
        <td>{{ proposal | proposal_link }}</td>
        {% for field in get_banner_fields(call['proposal']) %}
        <td>{{ field | display_field_value(proposal) }}</td>
        {% endfor %}
        <td>{{ get_user(proposal['user']) | user_link }}</td>

        {% elif proposal.get("allow_create_review") %} {# if review #}
        <td>
          <div class="form-check form-check-inline">
	    <input type="checkbox" name="pid" id="{{proposal['identifier']}}"
	           class="form-check-input" value="{{proposal['identifier']}}">
	    <label class="form-check-label" for="{{ proposal['identifier'] }}">Create</label>
          </div>
        </td>
        <td>-</td>
        {% for field in get_banner_fields(call['review']) %}
        <td></td>
        {% endfor %}
        <td>{{ proposal | proposal_link }}</td>
        {% for field in get_banner_fields(call['proposal']) %}
        <td>{{ field | display_field_value(proposal) }}</td>
        {% endfor %}
        <td>{{ get_user(proposal['user']) | user_link }}</td>
        {% endif %} {# if review #}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="form-group row pt-3">
    <div class="col-md-3 offset-md-1">
      <button type="submit" class="btn btn-info btn-block">Create reviews</button>
    </div>
  </div>

</form>
{% endblock %} {# block supermain #}

{% block javascript %}
{% set nbanners = len(get_banner_fields(call['review'])) %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      order: [[{{ 2 + nbanners }}, "asc"]],
      pagingType: "full_numbers",
      lengthMenu: [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      pageLength: 25
    });
  });
</script>
{% endblock %}
