{% extends 'base.html' %}

{% block head_title %}
Reviews for call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
Reviews for call
<a href="{{ url_for('call.display', cid=call['identifier']) }}">
  {{ call['identifier'] }}</a>
{% endblock %}

{% block supermain %}
<table id="reviews" class="table">
  <thead>
    <tr>
      <th>Proposal</th>
      {# XXX Check access to view user #}
      <th>Submitter</th>
      <th>Reviewer</th>
      <th>Review</th>
      {% for scorefield in scorefields %}
      <th>{{ scorefield['title'] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    {% set proposal = review['cache']['proposal'] %}
    <tr>
      <td>
	<a href="{{ url_for('proposal.display', pid=proposal['identifier']) }}"
	   title="{{ proposal.get('title') or '-' }}">
	  {{ proposal['identifier'] }}</a>
      </td>
      {# XXX Check access to view user #}
      <td>{{ proposal['user'] }}</td>
      <td>
	<a href="{{ url_for('user.display', username=review['reviewer']) }}">
	  {{ review['reviewer'] }}</a>
      </td>
      <td>
	<a href="{{ url_for('review.display', iuid=review['_id']) }}">
	  Review</a>
	{{ macros.finalized(review) }}
      </td>
      {% for scorefield in scorefields %}
      <td>
	{{ review['values'].get(scorefield['identifier']) | value_or_none }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
