{% extends 'base.html' %}

{% block head_title %}
Archived reviews by user {{ user['username'] }} in call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Archived reviews by</small>
{{ user | user_link}}
<small class="text-muted mx-2">in call</small>
{{ call | call_link }}
{% endblock %}

{% block supermain %}
<div class="row mb-2">
  <div class="col-md-2 text-right font-weight-bold">Due</div>
  <div class="col-md-8">{{ call.get('reviews_due') | display_datetime_local_server(due=True) }}</div>
  <div class="col-md">
    <a href="{{ url_for('reviews.call_reviewer', cid=call['identifier'], username=user['username']) }}"
       role="button" class="btn btn-block btn-info">Reviews</a>
  </div>
</div>

<table id="reviews" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Review</th>
      {% for field in utils.get_banner_fields(call['review']) %}
      <th>{{ field['title'] }}</th>
      {% endfor %}
      <th>Proposal</th>
      {% if call.get('categories') %}
      <th>Category</th>
      {% endif %}
      <th>Submitter</th>
    </tr>
  </thead>
  <tbody class="table-borderless">
    {% for proposal in proposals %}
    {% set review = reviews_lookup.get(proposal['identifier']) %}
    {% if review %}
    <tr>
      <td>{{ review | review_link }}</td>
      {% for field in utils.get_banner_fields(call['review']) %}
      <td>{{ field | display_field_value(review) }}</td>
      {% endfor %}
      <td>{{ proposal | proposal_link(bold=False) }}</td>
      {% if call.get('categories') %}
      <td>{{ proposal.get('category') | display_value }}</td>
      {% endif %}
      <td>{{ get_user(proposal['user']) | user_link }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
{% set nbanners = len(utils.get_banner_fields(call['review'])) %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      columnDefs: [
        { targets: [0], orderData: [0, {{ 1 + nbanners }}] },
        { targets: [1], orderData: [1, {{ 1 + nbanners }}] }
      ],
      order: [[1, "asc"]],
      pagingType: "full_numbers",
      pageLength: 25
    });
  });
</script>
{% endblock %}
