{% extends 'base.html' %}

{% block head_title %}
Archived reviews by user {{ user['username'] }} in call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
<small>Archived reviews by</small> {{ user | user_link}}
<small>in call</small> {{ call | call_link }}
{% endblock %}

{% block supermain %}
<div class="row mb-2">
  <div class="col-md-2 text-right font-weight-bold">Due</div>
  <div class="col-md-8">
    {{ call.get('reviews_due') | display_datetime_timezone }}
    {{ call | reviews_due_badge }}
  </div>
  <div class="col-md">
    <a href="{{ url_for('reviews.call_reviewer', cid=call['identifier'], username=user['username']) }}"
       role="button" class="btn btn-block btn-info">Reviews</a>
  </div>
</div>

<table id="reviews" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Review</th>
      {% for field in get_banner_fields(call['review']) %}
      <th>{{ field['title'] }}</th>
      {% endfor %}
      <th>Proposal</th>
      <th>Submitter</th>
    </tr>
  </thead>

  <tbody class="table-borderless">
    {% for proposal in proposals %}
    {% set review = reviews_lookup.get(proposal['identifier']) %}
    {% if review %}
    <tr>
      <td>{{ review | review_link }}</td>
      {% for field in get_banner_fields(call['review']) %}
      <td>{{ field | display_field_value(review) }}</td>
      {% endfor %}
      <td>{{ proposal | proposal_link }}</td>
      <td>{{ get_user(proposal['user']) | user_link }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
{% set nbanners = len(get_banner_fields(call['review'])) %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      order: [[{{ 1 + nbanners }}, "asc"]],
      pagingType: "full_numbers",
      lengthMenu: [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      pageLength: 25
    });
  });
</script>
{% endblock %}
