{% extends 'base.html' %}

{% block head_title %}
Reviews by user {{ user['username'] }} in call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Reviews by</small>
{{ macros.user_link(user) }}
<small class="text-muted mx-2">in call</small>
{{ macros.call_link(call) }}
{% endblock %}

{% block meta %}
<div>
  <a href="{{ url_for('.call_reviewer_xlsx', cid=call['identifier'], username=user['username']) }}"
     title="Excel 2007 XLSX file"
     class="badge badge-pill badge-primary">Excel file</a>
</div>
{% endblock %}

{% block supermain %}
<p class="lead">{{ call.get('reviews_due') | due }}</p>

<table id="reviews" class="table table-sm">
  <thead>
    <tr>
      <th>Proposal</th>
      <th>Submitter</th>
      <th>My review</th>
      {% for field in bannerfields %}
      <th>{{ field['title'] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for proposal in proposals %}
    {% set review = reviews_lookup.get(proposal['identifier']) %}
    {% if review %}
    <tr>
      <td>{{ macros.proposal_link(proposal) }}</td>
      <td>{{ macros.user_link(get_user(proposal['user'])) }}</td>
      <td>{{ macros.review_link(review) }}</td>
      {% set values = review['values'] %}
      {% for field in bannerfields %}
      <td>
        {{ values.get(field['identifier']) | typed_value(field['type']) }}
      </td>
      {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
