{% extends 'base.html' %}

{% block head_title %}
Reviews for call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Reviews of proposals in call</small>
{{ macros.call_link(call, title=True) }}
{% endblock %}

{% block supermain %}
<table id="reviews" class="table">
  <thead>
    <tr>
      <th>Proposal</th>
      {# XXX Check access to view user #}
      <th>Submitter</th>
      <th>Review</th>
      {% for scorefield in scorefields %}
      <th>{{ scorefield['title'] }}</th>
      {% endfor %}
      <th>Reviewer</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    {% set proposal = review['cache']['proposal'] %}
    <tr>
      <td>{{ macros.proposal_link(proposal, title=True) }}</td>
      <td>{{ macros.user_link(get_user(proposal['user'])) }}</td>
      <td>{{ macros.review_link(review) }}</td>
      {% for scorefield in scorefields %}
      <td>
	{{ review['values'].get(scorefield['identifier']) | value_or_none }}
      </td>
      {% endfor %}
      <td>
	<a href="{{ url_for('user.display', username=review['reviewer']) }}">
	  {{ review['reviewer'] }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
