{% extends 'base.html' %}

{% block head_title %}
Reviews by user {{ user['username'] }} in call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
Reviews by user
<a href="{{ url_for('user.display', username=user['username']) }}">
  {{ user['username'] }}</a>
in call
<a href="{{ url_for('call.display', cid=call['identifier']) }}">
  {{ call['identifier'] }}</a>
{% endblock %}

{% block supermain %}
<table id="reviews" class="table">
  <thead>
    <tr>
      <th>Proposal</th>
      <th>Proposal title</th>
      {# XXX Check access to view submitter #}
      <th>Submitter</th>
      <th>My review</th>
      {% for scorefield in scorefields %}
      <th>{{ scorefield['title'] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    {% set proposal = review['cache']['proposal'] %}
    <tr>
      <td>
	<a href="{{ url_for('proposal.display', pid=proposal['identifier']) }}"
	   title="{{ proposal.get('title') or '-' }}">
	  {{ proposal['identifier'] }}</a>
      </td>
      <td>{{ proposal['title'] }}</td>
      {# XXX Check access to view submitter #}
      <td>
	<a href="{{ url_for('user.display', username=proposal['user']) }}">
	  {{ proposal['user'] }}
	</a>
      </td>
      <td>
	<a href="{{ url_for('review.display', iuid=review['_id']) }}">
	  Review</a>
	{{ macros.finalized(review) }}
      </td>
      {% for scorefield in scorefields %}
      <td>
	{{ review['values'].get(scorefield['identifier']) | value_or_none }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
