{% extends 'base.html' %}

{% block head_title %}Reviews of proposal {{ proposal['identifier'] }} {{ proposal['title'] or '' }}{% endblock %}

{% block body_title %}
<small>Reviews of proposal</small><br>
{{ proposal | proposal_link }}{% endblock %}

{% block meta %}
<div>
  <a href="{{ url_for('.proposal_xlsx', pid=proposal['identifier']) }}"
     title="All reviews for proposal in Excel file"
     class="badge badge-pill badge-dark">Reviews Excel file</a>
</div>
{% endblock %}

{% block supermain %}
{% if only_finalized %}
<p class="lead">
  NOTE: Only finalized, non-conflict-of-interest reviews are listed.
</p>
{% endif %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">{{ call | call_link }}</div>
</div>

<table id="reviews" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Review</th>
      <th>Status</th>
      {% for field in get_banner_fields(call['review']) %}
      <th>{{ field['title'] }}</th>
      {% endfor %}
      <th>Reviewer</th>
    </tr>
  </thead>

  <tbody class="table-borderless">
    {% for reviewer in reviewers %}
    {% set review = reviews_lookup.get(reviewer) %}
    {% if review is none %}
    {% continue %}
    {% endif %}
    <tr>
      <td>{{ review | review_link }}</td>
      <td>{{ review | review_status }}</td>
      {% for field in get_banner_fields(call['review']) %}
      <td>{{ field | display_field_value(review) }}</td>
      {% endfor %}
      <td>{{ get_user(reviewer) | user_link }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
{% set nbanners = len(get_banner_fields(call['review'])) %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      columnDefs: [
        { targets: 0, orderData: [0, {{ 2 + nbanners }}] }
      ],
      order: [[0, "desc"]],
      pagingType: "full_numbers",
      lengthMenu: [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      pageLength: 25
    });
  });
</script>
{% endblock %}
