{% extends 'base.html' %}

{% block head_title %}
Reviews of proposal {{ proposal['identifier'] }} {{ proposal['title'] or '' }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Reviews of proposal</small>
{{ macros.proposal_link(proposal) }}
{% endblock %}

{% block meta %}
<div>
  <a href="{{ url_for('.proposal_xlsx', pid=proposal['identifier']) }}"
     title="Excel 2007 XLSX file"
     class="badge badge-pill badge-primary">Excel file</a>
</div>
{% endblock %}

{% block supermain %}
{% if finalized %}
<p class="lead">
  NOTE: Only finalized reviews are listed.
</p>
{% endif %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">
    {{ macros.call_link(proposal['cache']['call']) }}
  </div>
</div>

<table id="reviews" class="table table-sm">
  <thead>
    <tr>
      <th>Reviewer</th>
      <th>Review</th>
      {% for field in bannerfields %}
      <th>{{ field['title'] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for reviewer in reviewers %}
    {% set review = reviews_lookup.get(reviewer) %}
    <tr>
      <td>{{ macros.user_link(get_user(reviewer)) }}</td>
      {% if review %}
      <td>{{ macros.review_link(review) }}</td>
      {% set values = review['values'] %}
      {% for field in bannerfields %}
      <td>
        {{ macros.formatted_value(values.get(field['identifier']), field['type']) }}
      </td>
      {% endfor %}
      {% else %}
      <td>
	{% if allow_create %}
	<form action="{{ url_for('review.create', pid=proposal['identifier'], username=reviewer) }}"
	      method="POST">
	  {{ csrf_token() }}
	  <button type="submit" class="btn btn-sm btn-info py-0">
            Create review</button>
	</form>
	{% else %}
	-
	{% endif %} {# if allow_create #}
      </td>
      {% for bannerfield in bannerfields %}
      <td>-</td>
      {% endfor %}
      {% endif %} {# if review #}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
