{% extends 'base.html' %}

{% block head_title %}
Reviews of proposal {{ proposal['identifier'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Reviews of proposal</small>
<a href="{{ url_for('proposal.display', pid=proposal['identifier']) }}">
  {{ proposal['identifier'] }}</a>
{{ proposal['title'] }}
{% endblock %}

{% block supermain %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">
    {{ macros.call_link(proposal['cache']['call']) }}
  </div>
</div>

<table id="reviews" class="table table-sm">
  <thead>
    <tr>
      <th>Reviewer</th>
      <th>Review</th>
      {% for scorefield in scorefields %}
      <th>{{ scorefield['title'] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for reviewer in reviewers %}
    {% set review = reviews_lookup.get(reviewer) %}
    <tr>
      <td>{{ macros.user_link(get_user(reviewer)) }}</td>
      {% if review %}
      <td>{{ macros.review_link(review) }}</td>
      {% for scorefield in scorefields %}
      <td>
	{{ review['values'].get(scorefield['identifier']) | default('-',True) }}
      </td>
      {% endfor %}
      {% else %}
      <td>
	{% if allow_create %}
	<form action="{{ url_for('review.create', pid=proposal['identifier'], username=reviewer) }}"
	      method="POST">
	  {{ csrf_token() }}
	  <button type="submit" class="btn btn-sm btn-info">
            Create review</button>
	</form>
	{% else %}
	-
	{% endif %} {# if allow_create #}
      </td>
      {% for scorefield in scorefields %}
      <td>-</td>
      {% endfor %}
      {% endif %} {# if review #}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
