{% extends 'base.html' %}

{% block head_title %}
Archived reviews of proposal {{ proposal['identifier'] }} {{ proposal['title'] or '' }}
{% endblock %}

{% block body_title %}
<small>Archived reviews of proposal</small><br>
{{ proposal | proposal_link }}
{% endblock %}

{% block supermain %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">{{ call | call_link }}</div>
</div>

<table id="reviews" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Review</th>
      <th>Reviewer</th>
      <th>Banner fields</th>
      <th>Modified</th>
    </tr>
  </thead>

  <tbody class="table-borderless">
    {% for review in reviews %}
    <tr>
      <td>{{ review | review_link }}</td>
      <td>{{ get_user(review['reviewer']) | user_link }}</td>
      <td>
        <table class="table table-sm table-borderless">
          {% for field in get_banner_fields(review['fields']) %}
          <tr>
            <th>{{ field['identifier'] }}</th>
            <td>{{ field | display_field_value(review) }}</td>
          </tr>
          {% endfor %}
        </table>
      </td>
      <td>
        <span class="localtime small">{{ review['modified'] }}</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      pagingType: "full_numbers",
      lengthMenu: [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      pageLength: 25
    });
  });
</script>
{% endblock %}
