{% extends 'base.html' %}

{% block head_title %}
Reviews by user {{ user['username'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Reviews by</small>
{{ macros.user_link(user) }}
{% endblock %}

{% block supermain %}
<div class="row mb-2">
  <div class="col-md-2 text-right font-weight-bold">User's reviews</div>
  <div class="col-md">
    {% for call in reviewer_calls %}
    <p class="mb-2">
      <a href="{{ url_for('reviews.call_reviewer', cid=call['identifier'], username=user['username']) }}"
         role="button" class="btn btn-sm btn-info mr-2">
        {{ utils.get_call_reviewer_reviews_count(call['identifier'], user['username']) }} reviews
      </a>
      of proposals in call {{ macros.call_link(call) }}
    </p>
    {% endfor %}
  </div>
</div>
<table id="reviews" class="table">
  <thead>
    <tr>
      <th>Review</th>
      <th>Review due</th>
      <th>Proposal</th>
      <th>Submitter</th>
      <th>Call</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    {% set call = get_call(review['call']) %}
    {% set proposal = get_proposal(review['proposal']) %}
    <tr>
      <td>{{ macros.review_link(review) }}</td>
      <td>
        {{ call.get('reviews_due') | datetimetz }}
        {{ call.get('reviews_due') | due }}
      </td>
      <td>{{ macros.proposal_link(proposal) }}</td>
      <td>{{ macros.user_link(get_user(proposal['user'])) }}</td>
      <td>{{ macros.call_link(call, title=False) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      "order": [[1, "asc"]],
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
