{% extends 'base.html' %}

{% block head_title %}
Reviews by user {{ user['username'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted">Reviews by</small>
{{ user | user_link }}
{% endblock %}

{% block supermain %}
<div class="row mb-2">
  <div class="col-md-2 text-right font-weight-bold">User's reviews</div>
  <div class="col-md-8">

    {% for call in reviewer_calls %}
    <p class="mb-2">
      <a href="{{ url_for('reviews.call_reviewer', cid=call['identifier'], username=user['username']) }}"
         role="button" class="btn btn-sm btn-info mr-2">
        {{ call['n_reviews'] }} reviews
      </a>
      of proposals in call {{ call | call_link }}
    </p>
    {% endfor %}

  </div>
  <div class="col-md-2 d-print-none">
    <a href="{{ url_for('documentation.page', page='instructions-for-reviewers') }}"
       role="button" class="btn btn-block btn-outline-secondary"
       target="_blank">
      Instructions for reviewers</a>
  </div>
</div>

<table id="reviews" class="table table-hover">
  <thead>
    <tr>
      <th>Review</th>
      <th>Review due</th>
      <th>Proposal</th>
      <th>Submitter</th>
      <th>Call</th>
    </tr>
  </thead>

  <tbody class="table-borderless">
    {% for review in reviews %}
    {% set call = get_call(review['call']) %}
    {% set proposal = get_proposal(review['proposal']) %}
    <tr>
      <td>{{ review | review_link }}</td>
      <td>{{ call.get('reviews_due') | display_datetime_timezone(due=not review.get('finalized')) }}</td>
      <td>{{ proposal | proposal_link }}</td>
      <td>{{ get_user(proposal['user']) | user_link }}</td>
      <td>{{ call | call_link(title=False) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      columnDefs: [
        { targets: [0], orderData: [0, 2] },
        { targets: [1], orderData: [1, 2] }
      ],
      order: [[0, "desc"]],
      pagingType: "full_numbers",
      pageLength: 25
    });
  });
</script>
{% endblock %}
