{% extends 'base.html' %}

{% block head_title %}
Reviews by user {{ user['username'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Reviews by</small>
{{ macros.user_link(user) }}
{% endblock %}

{% block supermain %}
<table id="reviews" class="table">
  <thead>
    <tr>
      <th>Call</th>
      <th>Proposal</th>
      <th>Submitter</th>
      <th>Review</th>
      <th>Review due</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
      <td>{{ macros.call_link(review['cache']['call']) }}</td>
      <td>{{ macros.proposal_link(review['cache']['proposal']) }}</td>
      <td>{{ macros.user_link(get_user(review['cache']['proposal']['user'])) }}</td>
      <td>{{ macros.review_link(review) }}</td>
      <td>
        {% set due = review['cache']['call'].get('reviews_due') %}
        {% if due %}
        {% if utils.days_remaining(due) >= 0 %}
        {{ due }}
        {% else %}
        <span class="text-danger">{{ due }}</span>
        {% endif %}
        {% endif %} {# if due #}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      "order": [[1, "asc"]],
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
