{% extends 'base.html' %}

{% block head_title %}
Reviews by user {{ user['username'] }}
{% endblock %}

{% block body_title %}
Reviews by reviewer
<a href="{{ url_for('user.display', username=user['username']) }}">
  {{ user['username'] }}</a>
{% endblock %}

{% block supermain %}
<table id="reviews" class="table">
  <thead>
    <tr>
      <th>Call</th>
      <th>Proposal</th>
      {# XXX Check access to view user #}
      <th>Submitter</th>
      <th>Finalized</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    {% set call = review['cache']['call'] %}
    {% set proposal = review['cache']['proposal'] %}
    <tr>
      <td>
	<a href="{{ url_for('call.display', cid=call['identifier']) }}"
	   title="{{ call.get('title') or '-' }}">
	  {{ call['identifier'] }}</a>
      </td>
      <td>
	<a href="{{ url_for('proposal.display', sid=proposal['identifier']) }}"
	   title="{{ proposal.get('title') or '-' }}">
	  {{ proposal['identifier'] }}</a>
      </td>
      {# XXX Check access to view user #}
      <td>{{ proposal['user'] }}</td>
      <td>
	{% if review.get('finalized') %}
	<span class="badge badge-success">Yes</span>
	{% else %}
	<span class="badge badge-warning">No</span>
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#reviews").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
