{% extends 'base.html' %}

{% block head_title %}All users{% endblock %}

{% block body_title %}All users{% endblock %}

{% block supermain %}
<table id="users" class="table table-sm">
  <thead>
    <tr>
      <th>Username</th>
      <th>Submissions</th>
      <th>Email</th>
      <th>Given name</th>
      <th>Family name</th>
      {% if config['USER_GENDERS'] %}
      <th>Gender</th>
      {% endif %}
      {% if config['USER_BIRTHDATE'] %}
      <th>Birth date</th>
      {% endif %}
      <th>Role</th>
      <th>Status</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>
        <a href="{{ url_for('.display', username=user['username']) }}">
          {{ user['username'] }}</a>
      </td>
      <td>
	<a href="{{ url_for('submissions.user', username=user['username']) }}">
	  <span class="badge badge-primary">{{ user['submissions_count'] }}</span>
	</a>
      </td>
      <td>{{ user['email'] }}</td>
      <td>{{ user['givenname'] }}</td>
      <td>{{ user['familyname'] }}</td>
      {% if config['USER_GENDERS'] %}
      <td>{{ (user.get('gender') or '-').capitalize() }}</td>
      {% endif %}
      {% if config['USER_BIRTHDATE'] %}
      <td>{{ user.get('birthdate') }}</td>
      {% endif %}
      <td>{{ user['role'] }}</td>
      <td>
        {% if user['status'] == constants.PENDING %}
	<span class="badge badge-warning">{{ user['status'] }}</span>
        {% elif user['status'] == constants.DISABLED %}
	<span class="badge badge-danger">{{ user['status'] }}</span>
        {% else %}
        {{ user['status'] }}
        {% endif %}
      </td>
      <td class="localtime">{{ user['modified'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block meta %}
<div class="py-1">
  <div>
    <a href="{{ url_for('api_user.all') }}"
       class="badge badge-pill badge-dark">API</a>
  </div>
</div>
{% endblock %} {# block meta #}

{% block javascript %}
<script>
  $(function() {
    $("#users").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
