{% extends 'base.html' %}

{% block head_title %}All users{% endblock %}

{% block body_title %}All users{% endblock %}

{% block supermain %}
<table id="users" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Proposals</th>
      <th>Reviews</th>
      <th>Grants</th>
      <th>Email</th>
      <th>Given name</th>
      <th>Family name</th>
      <th>Affiliation</th>
      <th>Role</th>
      <th>Status</th>
      <th>Modified</th>
      <th>Last login</th>
    </tr>
  </thead>
  <tbody class="table-borderless">
    {% for user in users %}
    <tr>
      <td>{{ user | user_link(fullname=False) }}</td>
      <td>
        {% if user['all_proposals_count'] %}
	<a href="{{ url_for('proposals.user', username=user['username']) }}">
	  <span class="badge badge-primary px-3">
            {{ user['all_proposals_count'] }}</span>
	</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% if user['all_reviews_count'] %}
	<a href="{{ url_for('reviews.reviewer', username=user['username']) }}">
	  <span class="badge badge-info px-3">
	    {{ user['all_reviews_count'] }}</span>
	</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% if user['all_grants_count'] %}
	<a href="{{ url_for('grants.user', username=user['username']) }}">
	  <span class="badge badge-success px-3">
	    {{ user['all_grants_count'] }}</span>
	</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>{{ user['email'] or '-' }}</td>
      <td>{{ user.get('givenname') or '-' }}</td>
      <td>{{ user.get('familyname') or '-' }}</td>
      <td>{{ user.get('affiliation') or '-' }}</td>
      <td>{{ user['role'] }}</td>
      <td>
        {% if user['status'] == constants.PENDING %}
	<span class="badge badge-pill badge-warning">{{ user['status'] }}</span>
        {% elif user['status'] == constants.DISABLED %}
	<span class="badge badge-pill badge-danger">{{ user['status'] }}</span>
        {% else %}
        {{ user['status'] }}
        {% endif %}
      </td>
      <td class="small localtime">{{ user['modified'] }}</td>
      <td class="small">
        {% if user.get('last_login') %}
        <span class="localtime">{{ user['last_login'] }}</span>
        {% else %}
        ?
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#users").DataTable( {
      pagingType: "full_numbers",
      pageLength: 25,
      order: [[10, "desc"]]
    });
  });
</script>
{% endblock %}
