{% extends 'base.html' %}

{% block head_title %}All users{% endblock %}

{% block body_title %}All users{% endblock %}

{% block supermain %}
<table id="users" class="table table-sm">
  <thead>
    <tr>
      <th>Username</th>
      <th>Proposals</th>
      <th>Reviews</th>
      <th>Email</th>
      <th>Given name</th>
      <th>Family name</th>
      {% if config['USER_GENDERS'] %}
      <th>Gender</th>
      {% endif %}
      {% if config['USER_BIRTHDATE'] %}
      <th>Birth date</th>
      {% endif %}
      <th>Role</th>
      <th>Status</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ macros.user_link(user, fullname=False, label=False) }}</td>
      <td>
	<a href="{{ url_for('proposals.user', username=user['username']) }}">
	  <span class="badge badge-primary px-3">
	    {{ user['cache']['all_proposals_count'] }}</span>
	</a>
      </td>
      <td>
	<a href="{{ url_for('reviews.reviewer', username=user['username']) }}">
	  <span class="badge badge-info px-3">
	    {{ user['cache']['all_reviews_count'] }}</span>
	</a>
      </td>
      <td>{{ user['email'] }}</td>
      <td>{{ user['givenname'] or '-' }}</td>
      <td>{{ user['familyname'] or '-' }}</td>
      {% if config['USER_GENDERS'] %}
      <td>{{ (user.get('gender') or '-').capitalize() }}</td>
      {% endif %}
      {% if config['USER_BIRTHDATE'] %}
      <td>{{ user.get('birthdate') or '-' }}</td>
      {% endif %}
      <td>{{ user['role'] }}</td>
      <td>
        {% if user['status'] == constants.PENDING %}
	<span class="badge badge-warning">{{ user['status'] }}</span>
        {% elif user['status'] == constants.DISABLED %}
	<span class="badge badge-danger">{{ user['status'] }}</span>
        {% else %}
        {{ user['status'] }}
        {% endif %}
      </td>
      <td class="localtime">{{ user['modified'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#users").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
