{% extends 'base.html' %}

{% block head_title %}User {{ user['username'] }}{% endblock %}

{% block body_title %}
User {{ user['username'] }}
{% if user.get('familyname') %}
({{ user.get('givenname')|default('', True) }}  {{ user['familyname'] }})
{% endif %}
{% endblock %}

{% block main %}
<table class="table table-sm table-borderless">
  <col style="width:20%">
  <col style="width:80%">
  {% if user_calls_count %}
  <tr>
    <th class="text-right">User's calls</th>
    <td>
      <a href="{{ url_for('calls.owner', username=user['username']) }}"
         role="button" class="btn btn-sm btn-primary">
	{{ user_calls_count }} calls
      </a>
    </td>
  </tr>
  {% endif %} {# if user_calls_count #}
  {% if user_proposals_count %}
  <tr>
    <th class="text-right">User's proposals</th>
    <td>
      <a href="{{ url_for('proposals.user', username=user['username']) }}"
         role="button" class="btn btn-sm btn-primary">
	{{ user_proposals_count }} proposals
      </a>
    </td>
  </tr>
  {% endif %} {# if user_proposals_count #}
  {% if reviewer_calls %}
  <tr>
    <th class="text-right">User's reviews</th>
    <td>
      {% for call in reviewer_calls %}
      <p class="mb-2">
        <a href="{{ url_for('reviews.call_reviewer', cid=call['identifier'], username=user['username']) }}"
           role="button" class="btn btn-sm btn-info mr-2">
          {{ utils.get_call_reviewer_reviews_count(call['identifier'], user['username']) }} reviews
        </a>
        of proposals in call {{ call | call_link }}
      </p>
      {% endfor %}
    </td>
  </tr>
  {% endif %} {# if reviewer_calls #}
  {% if len(reviewer_calls) > 1 %}
  <tr>
    <th class="text-right">User's reviews in all calls</th>
    <td>
      <a href="{{ url_for('reviews.reviewer', username=user['username']) }}"
         role="button" class="btn btn-sm btn-info">
	{{ user_reviews_count }} reviews
      </a>
    </td>
  </tr>
  {% endif %} {# if len(reviewer_calls) > 1 #}
  {% if user_grants_count %}
  <tr>
    <th class="text-right">User's grants</th>
    <td>
      <a href="{{ url_for('grants.user', username=user['username']) }}"
         role="button" class="btn btn-sm btn-success">
	{{ user_grants_count }} grants
      </a>
      <span class="text-muted ml-2">
        Includes the grant dossiers to which the user has access.
      </span>
    </td>
  </tr>
  {% endif %} {# if user_grants_count #}
  <tr>
    <th class="text-right">Email</th>
    <td>{{ user['email'] | display_value }}</td>
  </tr>
  <tr>
    <th class="text-right">Status</th>
    <td>{{ user['status'] }}</td>
  </tr>
  <tr>
    <th class="text-right">Role</th>
    <td>{{ user['role'] }}</td>
  </tr>
  {% if g.am_admin %}
  <tr>
    <th class="text-right">Code</th>
    <td>
      {% if user['password'].startswith('code:') %}
      {{ user['password'][5:] }}
      {% else %}
      <i>Password has been set.</i>
      {% endif %}
    </td>
  </tr>
  {% endif %}
  <tr>
    <th class="text-right">May create calls</th>
    <td>
      {{ (user.get('call_creator', False) or user['role'] == constants.ADMIN) | display_boolean }}
    </td>
  </tr>
  <tr>
    <th class="text-right">Given name</th>
    <td>{{ user.get('givenname') | display_value }}</td>
  </tr>
  <tr>
    <th class="text-right">Family name</th>
    <td>{{ user.get('familyname') | display_value }}</td>
  </tr>
  {% if config['USER_GENDERS'] %}
  <tr>
    <th class="text-right">Gender</th>
    <td>{{ user.get('gender') | display_value | capitalize }}</td>
  </tr>
  {% endif %}
  {% if config['USER_BIRTHDATE'] %}
  <tr>
    <th class="text-right">Birth date</th>
    <td>{{ user.get('birthdate') | display_value }}</td>
  </tr>
  {% endif %}
  {% if config['USER_TITLE'] %}
  <tr>
    <th class="text-right">Title</th>
    <td>{{ user.get('title') | display_value }}</td>
  </tr>
  {% endif %}
  {% if config['USER_AFFILIATION'] %}
  <tr>
    <th class="text-right">Affiliation</th>
    <td>{{ user.get('affiliation') | display_value }}</td>
  </tr>
  {% endif %}
  {% if config['USER_POSTAL_ADDRESS'] %}
  <tr>
    <th class="text-right">Postal address</th>
    <td><pre>{{ user.get('postaladdress') | display_value }}</pre></td>
  </tr>
  {% endif %}
  {% if config['USER_PHONE'] %}
  <tr>
    <th class="text-right">Phone</th>
    <td>{{ user.get('phone') | display_value }}</td>
  </tr>
  {% endif %}
</table>

{% if gdpr %}
<div class="row mt-4">
  <div class=" col-md-10 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Personal data policy</h4>
      </div>
      <div class="card-body">{{ gdpr | display_markdown }}</div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %} {# block main #}

{% block actions %}
{% if g.current_user['username'] == user['username'] %}
<div>
  <form action="{{ url_for('.logout') }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block">Logout</button>
  </form>
</div>
{% endif %} {# if g.current_user... #}
{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.edit', username=user['username']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
{% endif %} {# if allow_edit #}
{% if allow_edit and user['email'] %}
<div class="mt-2">
  <form action="{{ url_for('.reset') }}"
        method="GET">
    <input type="hidden" name="email" value="{{ user['email'] }}">
    <button type="submit" class="btn btn-block btn-info">
      Reset password</button>
  </form>
</div>
{% endif %} {# if allow_edit and user['email'] #}
{% if g.am_admin %}
<div class="mt-2">
  <form action="{{ url_for('.password') }}"
        method="GET">
    <input type="hidden" name="username" value="{{ user['username'] }}">
    <button type="submit" class="btn btn-block btn-info">
      Set password</button>
  </form>
</div>
{% endif %} {# if g.am_admin #}
{% if allow_enable_disable %}
<div class="mt-4">
  {% if user['status'] != constants.ENABLED %}
  <form action="{{ url_for('.enable', username=user['username']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">Enable</button>
  </form>
  {% elif user['status'] == constants.ENABLED %}
  <form action="{{ url_for('.disable', username=user['username']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-danger">Disable</button>
  </form>
  {% endif %}
</div>
{% endif %} {# if allow_enable_disable #}
{% if allow_delete %}
<div class="mt-4">
  <form action="{{ url_for('.edit', username=user['username']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-sm btn-block"
	    data-toggle="tooltip" data-placement="left"
	    title="Delete the user account."
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  Modified <span class="localtime">{{ user['modified'] }}</span>
  <span class="ml-4">
    Last login
    {% if user.get('last_login') %}
    <span class="localtime">{{ user['last_login'] }}</span>
    {% else %}
    ?
    {% endif %}
  </span>
  <span class="ml-4">
    Created <span class="localtime">{{ user['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', username=user['username']) }}">Logs</a>
  </span>
</div>
{% endblock %} {# block info #}
