{% extends 'base.html' %}

{% block head_title %}User {{ user['username'] }}{% endblock %}

{% block body_title %}
User {{ user['username'] }}
{% if user.get('familyname') %}
({{ user.get('givenname')|default('', True) }}  {{ user['familyname'] }})
{% endif %}
{% endblock %}

{% block main %}
<table class="table table-sm table-borderless">
  <col style="width:20%">
  <col style="width:80%">
  <tr>
    <th class="text-right">User's proposals</th>
    <td>
      <a href="{{ url_for('proposals.user', username=user['username']) }}"
         role="button" class="btn btn-sm btn-primary px-3">
	{{ user['cache']['all_proposals_count'] }} proposals
      </a>
    </td>
  </tr>
  <tr>
    <th class="text-right">User's reviews</th>
    <td>
      <a href="{{ url_for('reviews.reviewer', username=user['username']) }}"
         role="button" class="btn btn-sm btn-info px-3">
	{{ user['cache']['all_reviews_count'] }} reviews
      </a>
    </td>
  </tr>
  <tr>
    <th class="text-right">Reviewer in calls</th>
    <td>
      {% if reviewer_calls %}
      {% for call in reviewer_calls %}
      <p class="mb-2">
        {{ macros.call_link(call, title=True) }}
        <a href="{{ url_for('reviews.call_reviewer', cid=call['identifier'], username=user['username']) }}"
       role="button" class="btn btn-sm btn-info ml-2 px-3 py-0">
          {{ call['cache']['my_reviews_count'] }} reviews</a>
      </p>
      {% endfor %}
      {% else %}
      -
      {% endif %}
    </td>
  </tr>
  <tr>
    <th class="text-right">Email</th>
    <td>{{ user['email'] or '-' }}</td>
  </tr>
  <tr>
    <th class="text-right">Role</th>
    <td>{{ user['role'] }}</td>
  </tr>
  <tr>
    <th class="text-right">Status</th>
    <td>{{ user['status'] }}</td>
  </tr>
  <tr>
    <th class="text-right">Given name</th>
    <td>{{ user.get('givenname') or '-' }}</td>
  </tr>
  <tr>
    <th class="text-right">Family name</th>
    <td>{{ user.get('familyname') or '-' }}</td>
  </tr>
  {% if config['USER_GENDERS'] %}
  <tr>
    <th class="text-right">Gender</th>
    <td>{{ (user.get('gender') or '-').capitalize() }}</td>
  </tr>
  {% endif %}
  {% if config['USER_BIRTHDATE'] %}
  <tr>
    <th class="text-right">Birth date</th>
    <td>{{ user.get('birthdate') or '-' }}</td>
  </tr>
  {% endif %}
  {% if config['USER_TITLE'] %}
  <tr>
    <th class="text-right">Title</th>
    <td>{{ user.get('title') or '-' }}</td>
  </tr>
  {% endif %}
  {% if config['USER_AFFILIATION'] %}
  <tr>
    <th class="text-right">Affiliation</th>
    <td>{{ user.get('affiliation') or '-' }}</td>
  </tr>
  {% endif %}
  {% if config['USER_POSTAL_ADDRESS'] %}
  <tr>
    <th class="text-right">Postal address</th>
    <td><pre>{{ user.get('postaladdress') or '-' }}</pre></td>
  </tr>
  {% endif %}
  {% if config['USER_PHONE'] %}
  <tr>
    <th class="text-right">Phone</th>
    <td>{{ user.get('phone') or '-' }}</td>
  </tr>
  {% endif %}
</table>
{% endblock %} {# block main #}

{% block actions %}
{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.edit', username=user['username']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
{% endif %} {# if allow_edit #}
{% if allow_edit and user['email'] %}
<div class="mt-2">
  <form action="{{ url_for('.reset') }}"
        method="GET">
    <input type="hidden" name="email" value="{{ user['email'] }}">
    <button type="submit" class="btn btn-block btn-primary">
      Reset password</button>
  </form>
</div>
{% endif %} {# if allow_edit and user['email'] #}
{% if allow_enable_disable %}
<div class="mt-2">
  {% if user['status'] != constants.ENABLED %}
  <form action="{{ url_for('.enable', username=user['username']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">Enable</button>
  </form>
  {% elif user['status'] == constants.ENABLED %}
  <form action="{{ url_for('.disable', username=user['username']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-danger">Disable</button>
  </form>
  {% endif %}
</div>
{% endif %} {# if allow_enable_disable #}
{% if g.current_user['username'] == user['username'] %}
<div class="mt-2">
  <form action="{{ url_for('.logout') }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block">Logout</button>
  </form>
</div>
{% endif %} {# if g.current_user... #}
{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('.edit', username=user['username']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-sm btn-block"
	    data-toggle="tooltip" data-placement="left"
	    title="Delete the user account."
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  Modified <span class="localtime">{{ user['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ user['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', username=user['username']) }}">Logs</a>
  </span>
</div>
{% endblock %} {# block info #}
