{% extends 'base.html' %}

{% block head_title %}Edit user {{ user['username'] }}{% endblock %}
{% block body_title %}Edit user {{ user['username'] }}{% endblock %}

{% block main %}
<form action="{{ url_for('.edit', username=user['username']) }}" method="POST">
  {{ csrf_token() }}

  {% if am_admin_not_self %}
  <div class="form-group row">
    <label for="role" class="col-md-2 col-form-label text-right">Role</label>
    <div class="col-md">
      {% for role in constants.USER_ROLES %}
      <div class="custom-control custom-radio">
        <input type="radio" name="role" id="role_{{ role }}"
               class="custom-control-input"
               value="{{ role }}"
               {{ role == user['role'] and 'checked' or '' }}>
        <label class="custom-control-label" for="role_{{ role }}">
          {{ role }}</label>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="form-group row">
    <label for="call_creator" 
           class="col-md-2 col-form-label text-right">May create calls</label>
    <div class="col-md">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="call_creator_yes" name="call_creator"
               class="custom-control-input" aria-describedby="call_creatorHelp"
               {{ user.get('call_creator') and 'checked' or '' }}
               value="true">
        <label class="custom-control-label" for="call_creator_yes">
          Yes</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="call_creator_no" name="call_creator"
               class="custom-control-input" aria-describedby="call_creatorHelp"
               {{ not user.get('call_creator') and 'checked' or '' }}
               value="false">
        <label class="custom-control-label" for="call_creator_no">
          No</label>
      </div>
      <small id="call_creatorHelp" class="form-text text-muted">
        The privilege for this specific user, disregarding her role.
      </small>
    </div>
  </div>
  {% endif %} {# if am_admin_not_self #}

  <div class="form-group row">
    <label for="email" class="col-md-2 col-form-label text-right">Email</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          {% if g.am_admin %}
          <input type="email" id="email" name="email"
                 class="form-control" aria-describedby="emailHelp"
                 value="{{ user['email'] | display_value('') }}">
          {% else %}
          <input type="email" readonly
                 class="form-control" aria-describedby="emailHelp"
	         placeholder="{{ user['email'] | display_value }}">
          {% endif %} {# if g.am_admin #}
        </div>
      </div>
      <small id="emailHelp" class="form-text text-muted">
	Only the admin of the site may change the email address of a user.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="orcid" class="col-md-2 col-form-label text-right">ORCID</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-4">
          <input type="orcid" id="orcid" name="orcid"
                 class="form-control" aria-describedby="orcidHelp"
                 value="{{ user.get('orcid') | display_value('') }}">
        </div>
      </div>
      <small id="orcidHelp" class="form-text text-muted">
        The ORCID of the user; see <a href="https://orcid.org/" target="_blank">the ORCID website</a>.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="givenname" class="col-md-2 col-form-label text-right">
      Given name</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <input type="text" id="givenname" name="givenname"
                 class="form-control" aria-describedby="givennameHelp"
	         value="{{ user.get('givenname') | display_value('') }}">
        </div>
      </div>
      <small id="givennameHelp" class="form-text text-muted">
	The user's given name, including middle-name initials.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="familyname" class="col-md-2 col-form-label text-right">
      Family name</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <input type="text" id="familyname" name="familyname"
                 class="form-control" aria-describedby="familynameHelp"
	         value="{{ user.get('familyname') | display_value('') }}">
        </div>
      </div>
      <small id="familynameHelp" class="form-text text-muted">
	The user's family name.
      </small>
    </div>
  </div>

  {% if config.USER_GENDERS %}
  <div class="form-group row">
    <label for="gender" class="col-md-2 col-form-label text-right">
      Gender</label>
    <div class="col-md mt-1">
      {% for pos, gender in enumerate(config.USER_GENDERS) %}
      <div class="custom-control custom-radio custom-control-inline">
	<input type="radio" name="gender" id="gender{{ pos }}"
               class="custom-control-input"
	       {{ user.get('gender') == gender and 'checked' or '' }}
               value="{{ gender }}">
	<label class="custom-control-label" for="gender{{ pos }}">
	  {{ gender }}</label>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if config.USER_BIRTHDATE %}
  <div class="form-group row">
    <label for="birthdate" class="col-md-2 col-form-label text-right">
      Birth date</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-3">
          <input type="text" id="birthdate" name="birthdate"
                 class="form-control" aria-describedby="birthdateHelp"
	         value="{{ user.get('birthdate') | display_value('') }}">
        </div>
      </div>
      <small id="birthdateHelp" class="form-text text-muted">
	ISO format using only digits: YYYY-MM-DD
      </small>
    </div>
  </div>
  {% endif %}

  {% if config.USER_DEGREES %}
  <div class="form-group row">
    <label for="degree" class="col-md-2 col-form-label text-right">
      Academic degree</label>
    <div class="col-md mt-1">
      {% for pos, degree in enumerate(config.USER_DEGREES) %}
      <div class="custom-control custom-radio custom-control-inline">
	<input type="radio" name="degree" id="degree{{ pos }}"
               class="custom-control-input"
	       {{ user.get('degree') == degree and 'checked' or '' }}
               value="{{ degree }}">
	<label class="custom-control-label" for="degree{{ pos }}">
	  {{ degree }}</label>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if config.USER_AFFILIATION %}
  <div class="form-group row">
    <label for="affiliation" class="col-md-2 col-form-label text-right">
      Affiliation</label>
    <div class="col-md">
       <div id="affiliation" class="row">
        {% if config.UNIVERSITIES %}
        <div class="col-md-6">
          <select name="affiliation" id="affiliation"
                  class="form-control" aria-describedby="affiliationHelp">
            <option value="">[select]</option>
            {% for university in config.UNIVERSITIES %}
            {% if university == user.get('affiliation') %}
            <option selected>{{ university }}</option>
            {% else %}
            <option>{{ university }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        {% if user.get('affiliation') in config.UNIVERSITIES %}
        {% set affiliation = '' %}
        {% else %}
        {% set affiliation = user.get('affiliation') %}
        {% endif %}
        {% else %}
        {% set affiliation = user.get('affiliation') %}
        {% endif %}
        <div class="col-md-6">
          <input type="text" id="affiliation_other" name="affiliation_other"
                 class="form-control" aria-describedby="affiliationHelp"
	         value="{{ affiliation | display_value('') }}">
        </div>
      </div>
      <small id="affiliationHelp" class="form-text text-muted">
        Abbreviated name of the university; select from the drop-down
        menu.
        <br>
        If not present in the menu, write abbreviated name of
        international university or company.
      </small>
    </div>
  </div>
  {% endif %}

  {% if config.USER_POSTAL_ADDRESS %}
  <div class="form-group row">
    <label for="postaladdress" class="col-md-2 col-form-label text-right">
      Postal address</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <textarea id="postaladdress" name="postaladdress" rows="4"
                    class="form-control" aria-describedby="postaladdressHelp"
                    >{{ user.get('postaladdress') | display_value('') }}</textarea>
        </div>
      </div>
      <small id="postaladdressHelp" class="form-text text-muted">
        Full postal address, including zip-code and country.
      </small>
    </div>
  </div>
  {% endif %}

  {% if config.USER_PHONE %}
  <div class="form-group row">
    <label for="phone" class="col-md-2 col-form-label text-right">
      Phone</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-4">
          <input type="tel" id="phone" name="phone"
                 class="form-control" aria-describedby="phoneHelp"
                 value="{{ user.get('phone') | display_value('') }}">
        </div>
      </div>
      <small id="phoneHelp" class="form-text text-muted">
	Phone number.
      </small>
    </div>
  </div>
  {% endif %}

  <div class="form-group row">
    <div class="col-md-4 offset-md-2">
      <button type="submit" class="btn btn-block btn-primary">Save</button>
    </div>
  </div>

</form>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.display', username=user['username']) }}"
     role="button" class="btn btn-block btn-secondary">Cancel</a>
</div>
{% endblock %}
