{% extends 'base.html' %}

{% block head_title %}Edit user {{ user['username'] }}{% endblock %}

{% block body_title %}Edit user {{ user['username'] }}{% endblock %}

{% block main %}
<form action="{{ url_for('.edit', username=user['username']) }}"
      method="POST">
  {{ csrf_token() }}
  <div class="form-group row">
    <label for="email" class="col-md-2 col-form-label text-right">Email</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          {% if g.is_admin %}
          <input type="email" id="email" name="email"
                 class="form-control"
                 value="{{ user['email'] }}">
          {% else %}
          <input type="email" readonly
                 class="form-control"
                 aria-describedby="emailHelp"
	         placeholder="{{ user['email'] }}">
          {% endif %}
        </div>
      </div>
      <small id="emailHelp" class="form-text text-muted">
	Only the admin of the site may change the email address of a user.
      </small>
    </div>
  </div>
  {% if change_role %}
  <div class="form-group row">
    <label for="role" class="col-md-2 col-form-label text-right">Role</label>
    <div class="col-md">
      {% for role in constants.USER_ROLES %}
      <div class="form-check">
        <input type="checkbox" name="role" id="role_{{ role }}"
               class="form-check-input"
               value="{{ role }}"
               {{ role == user['role'] and 'checked' or '' }}>
        <label class="form-check-label" for="role_{{ role }}">{{ role }}</label>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="form-group row">
    <label for="givenname" class="col-md-2 col-form-label text-right">
      Given name</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <input type="text" id="givenname" name="givenname"
                 class="form-control"
                 aria-describedby="givennameHelp"
	         value="{{ user.get('givenname') or '' }}">
        </div>
      </div>
      <small id="givennameHelp" class="form-text text-muted">
	The user's given name, including middle-name initials.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="familyname" class="col-md-2 col-form-label text-right">
      Family name</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <input type="text" id="familyname" name="familyname"
                 class="form-control"
                 aria-describedby="familynameHelp"
	         value="{{ user.get('familyname') or '' }}">
        </div>
      </div>
      <small id="familynameHelp" class="form-text text-muted">
	The user's family name.
      </small>
    </div>
  </div>
  {% if config['USER_GENDERS'] %}
  <div class="form-group row">
    <label for="gender" class="col-md-2 col-form-label text-right">
      Gender</label>
    <div class="col-md form-row">
      {% for pos, gender in enumerate(config['USER_GENDERS']) %}
      <div class="form-check form-check-inline pl-2">
	<input type="radio" name="gender" id="gender{{ pos }}"
               class="form-check-input" 
	       value="{{ gender }}"
	       {{ user.get('gender') == gender and 'checked' or '' }}>
	<label class="form-check-label" for="gender{{ pos }}">
	  {{ gender.capitalize() }}</label>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if config['USER_BIRTHDATE'] %}
  <div class="form-group row">
    <label for="birthdate" class="col-md-2 col-form-label text-right">
      Birth date</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-3">
          <input type="text" id="birthdate" name="birthdate"
                 class="form-control" 
                 aria-describedby="birthdateHelp"
	         value="{{ user.get('birthdate') or '' }}">
        </div>
      </div>
      <small id="birthdateHelp" class="form-text text-muted">
	ISO format using only digits: YYYY-MM-DD
      </small>
    </div>
  </div>
  {% endif %}
  {% if config['USER_TITLE'] %}
  <div class="form-group row">
    <label for="title" class="col-md-2 col-form-label text-right">
      Title</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <input type="text" id="title" name="title"
                 class="form-control"
                 aria-describedby="titleHelp"
	         value="{{ user.get('title') or '' }}">
        </div>
      </div>
      <small id="titleHelp" class="form-text text-muted">
	Educational status or occupational title.
      </small>
    </div>
  </div>
  {% endif %}
  {% if config['USER_AFFILIATION'] %}
  <div class="form-group row">
    <label for="affiliation" class="col-md-2 col-form-label text-right">
      Affiliation</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <input type="text" id="affiliation" name="affiliation"
                 class="form-control"
                 aria-describedby="affiliationHelp"
	         value="{{ user.get('affiliation') or '' }}">
        </div>
      </div>
      <small id="affiliationHelp" class="form-text text-muted">
        Name of the university, company or organisation of the user.
      </small>
    </div>
  </div>
  {% endif %}
  {% if config['USER_POSTAL_ADDRESS'] %}
  <div class="form-group row">
    <label for="postaladdress" class="col-md-2 col-form-label text-right">
      Postal address</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <textarea id="postaladdress" name="postaladdress"
                    class="form-control" rows="4"
                    aria-describedby="postaladdressHelp"
                    >{{ user.get('postaladdress') or '' }}</textarea>
        </div>
      </div>
      <small id="postaladdressHelp" class="form-text text-muted">
        Full postal address, including zip-code and country.
      </small>
    </div>
  </div>
  {% endif %}
  {% if config['USER_PHONE'] %}
  <div class="form-group row">
    <label for="phone" class="col-md-2 col-form-label text-right">
      Phone</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-4">
          <input type="tel" id="phone" name="phone"
                 class="form-control" 
                 aria-describedby="phoneHelp"
                 value="{{ user.get('phone') or '' }}">
        </div>
      </div>
      <small id="phoneHelp" class="form-text text-muted">
	Phone number.
      </small>
    </div>
  </div>
  {% endif %}
  <div class="form-group row">
    <label for="apikey" class="col-md-2 text-right">API key</label>
    <div class="col-md">
      <div class="form-check">
        <input type="checkbox" name="apikey" id="apikey"
               class="form-check-input"
	       aria-describedby="apikeyHelp"
               value="true">
        <label class="form-check-label" for="apikey">
          Generate a new API key.
        </label>
      </div>
      <small id="apikeyHelp" class="form-text text-muted">
	The previous API key will be invalidated.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4 offset-md-2">
      <button type="submit" class="btn btn-block btn-primary">Save</button>
    </div>
  </div>
</form>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.profile', username=user['username']) }}"
	method="GET">
    <button type="submit" class="btn btn-block btn-dark">Cancel</button>
  </form>
</div>
{% endblock %}
