{% extends 'base.html' %}

{% block head_title %}Login{% endblock %}

{% block body_title %}Login{% endblock %}

{% block main %}
<form action="{{ url_for('.login') }}"
      method="POST">
  {{ csrf_token() }}
  <div class="form-group row">
    <label for="username" class="col-md-2 col-form-label text-right">
      User name</label>
    <div class="col-md-6">
      <input type="text" id="username" name="username"
             class="form-control" autofocus>
    </div>
    <div class="col-md text-muted">
      Note that upper or lower character case is significant.
      "Per" is not the same as "per".
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-md-2 col-form-label text-right">
      Password</label>
    <div class="col-md-6">
      <input type="password" id="password" name="password" class="form-control">
    </div>
  </div>
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}">
  {% endif %}
  <div class="form-group row">
    <div class="col-md-5 offset-md-2">
      <button id="login" type="submit" class="btn btn-block btn-primary">Login</button>
    </div>
  </div>
</form>
<div class="row pt-5">
  <div class="col-md-5 offset-md-2">
    <a href="{{ url_for('.register') }}" class="btn btn-block btn-success">
      Register a new user account</a>
  </div>
</div>
<div class="row pt-4">
  <div class="col-md-5 offset-md-2">
    <a href="{{ url_for('.reset') }}" class="btn btn-block btn-info">
      Forgot your password? Reset it</a>
  </div>
</div>
{% endblock %}
