{% extends 'base.html' %}

{% block head_title %}Pending users{% endblock %}

{% block body_title %}Pending users{% endblock %}

{% block supermain %}
<table id="users" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Given name</th>
      <th>Family name</th>
      <th>Affiliation</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody class="table-borderless">
    {% for user in users %}
    <tr>
      <td>{{ user | user_link(fullname=False) }}</td>
      <td>{{ user['email'] | display_value }}</td>
      <td>{{ user.get('givenname') | display_value }}</td>
      <td>{{ user.get('familyname') | display_value }}</td>
      <td>{{ user.get('affiliation') | display_value }}</td>
      <td class="small localtime">{{ user['modified'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#users").DataTable( {
      pagingType: "full_numbers",
      pageLength: 25
    });
  });
</script>
{% endblock %}
