{% extends 'base.html' %}

{% block head_title %}
Grant dossiers in call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Grant dossiers in call</small>
{{ call | call_link(title=True, proposals_link=False) }}
{% endblock %}

{% block meta %}
<a href="{{ url_for('grants.call_xlsx', cid=call['identifier']) }}"
   title="All grants in the call in an Excel file."
   class="badge badge-pill badge-dark">Grants Excel file</a>
<a href="{{ url_for('grants.call_zip', cid=call['identifier']) }}"
   title="All grants in the call and their documents in a zip file"
   class="badge badge-pill badge-dark">Grants documents zip file</a>
<a href="#email_lists" data-toggle="collapse"
   class="badge badge-pill badge-secondary" role="button"
   aria-expanded="false" aria-controls="email_lists">
  Email address lists
</a>
{% endblock %}

{% block supermain %}
<div class="row">
  <div class="col-md-10">
    {% include 'email_lists.html' %}
  </div>
</div>

<table id="grants" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Grant dossier</th>
      {% for field in utils.get_banner_fields(call['grant']) %}
      <th>{{ field['title'] }}</th>
      {% endfor %}
      <th>Status</th>
      <th>Proposal</th>
      <th>Submitter</th>
    </tr>
  </thead>
  <tbody class="table-borderless">
    {% for grant in grants %}
    <tr>
      <td>{{ grant | grant_link(small=True) }}</td>
      {% for field in utils.get_banner_fields(call['grant']) %}
      <td>{{ field | display_field_value(grant) }}</td>
      {% endfor %}
      <td>
        {% if grant.get('errors') %}
        <span class="badge badge-danger">Incomplete</span>
        {% else %}
        <span class="badge badge-success">Complete</span>
        {% endif %}
      </td>
      <td>{{ get_proposal(grant['proposal']) | proposal_link }}</td>
      <td>{{ grant['user'] | user_link }}</td>
    </tr>
    {% endfor %} {# for grant in grants #}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
{% set nbanners = len(utils.get_banner_fields(call['grant'])) %}
<script>
  $(function() {
    $("#grants").DataTable( {
      columnDefs: [
        { targets: 0, orderData: [0, {{ nbanners + 1 }}, {{ nbanners + 2 }}] }
      ],
      order: [[0, "asc"]],
      pagingType: "full_numbers",
      pageLength: 25
    });
  });
</script>
{% endblock %}
