{% extends 'base.html' %}

{% block head_title %}
Grant dossiers user {{ user['username'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Grant dossiers user</small>
{{ user | user_link }}
{% endblock %}

{% block supermain %}
<p class="lead">
  NOTE: Includes the grant dossiers to which the user has access.
</p>
<table id="grants" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Grant dossier</th>
      <th>Status</th>
      <th>Proposal</th>
      <th>Submitter</th>
      <th>Call</th>
      <th>Modified</th>
    </tr>
  </thead>

  <tbody class="table-borderless">
    {% for grant in grants %}
    <tr>
      <td>{{ grant | grant_link(small=True) }}</td>
      <td>
        {% if grant.get('errors') %}
        <span class="badge badge-danger">Incomplete</span>
        <a href="{{ url_for('grant.edit', gid=grant['identifier']) }}"
           role="button" class="btn btn-sm btn-primary">Edit</a>
        {% else %}
        <span class="badge badge-success">Complete</span>
        {% endif %}
      </td>
      {% set proposal = get_proposal(grant['proposal']) %}
      <td>{{ proposal | proposal_link }}</td>
      <td>{{ get_user(proposal['user']) | user_link }}</td>
      <td>{{ get_call(grant['call']) | call_link(title=True, proposals_link=False) }}</td>
      <td class="localtime small">{{ grant['modified'] }}</td>
    </tr>
    {% endfor %} {# for grant in grants #}
  </tbody>
</table>
{% endblock %} {# block supermain #}

{% block javascript %}
<script>
  $(function() {
    $("#grants").DataTable( {
      order: [[0, "asc"]],
      pagingType: "full_numbers",
      pageLength: 25
    });
  });
</script>
{% endblock %}
