{% extends 'base.html' %}

{% block head_title %}Decision for proposal {{ proposal['identifier'] }} {{ proposal['title'] }}{% endblock %}

{% block body_title %}Decision for proposal {{ proposal | proposal_link }}{% endblock %}

{% block meta %}

{% if g.am_admin %}
<a href="{{ url_for('admin.document', identifier=decision['_id']) }}"
   class="badge badge-pill badge-light" role="button"
   title="Download the JSON CouchDB database document for the decision.">
  Database document</a>
{% endif %}

{% endblock %} {# block meta #}

{% block main %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Submitter</div>
  <div class="col-md">{{ get_user(proposal['user']) | user_link }}</div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">{{ call | call_link }}</div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">State</div>
  <div class="col-md">
    {% if decision.get('finalized') %}
    <span class="badge badge-pill badge-success">Finalized</span>
    {% else %}
    <span class="badge badge-pill badge-warning">Not finalized</span>
    {% endif %}
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Verdict</div>
  <div class="col-md">
    {% if decision.get('verdict') %}
    <span class="badge badge-pill badge-success">Accepted</span>
    {% elif decision.get('verdict') == false %}
    <span class="badge badge-pill badge-secondary">Declined</span>
    {% else %}
    <span class="badge badge-pill badge-warning">Undecided</span>
    {% endif %}
  </div>
</div>

{% set fields = call['decision'] %}
{% set entity = decision %}
{% include 'display_fields_values.html' %}

{% endblock %} {# block main #}

{% block actions %}
{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.edit', iuid=decision['_id']) }}"
     role="button" class="btn btn-block btn-primary">Edit</a>
</div>
{% endif %} {# if allow_edit #}
{% if allow_unfinalize %}
<div class="mt-2">
  <form action="{{ url_for('.unfinalize', iuid=decision['_id']) }}" method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-warning">Unfinalize</button>
  </form>
</div>
{% endif %} {# if allow_unfinalize #}
{% if allow_finalize %}
<div class="mt-2">
  <form action="{{ url_for('.finalize', iuid=decision['_id']) }}" method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">
      Finalize</button>
  </form>
</div>
{% endif %} {# if allow_finalize #}
{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('.edit', iuid=decision['_id']) }}" method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-sm btn-block btn-danger"
            onclick="return confirm('Really delete this decision?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}

{% block doclinks %}
{{ super() }}
<a href="{{ url_for('documentation', _anchor='decision') }}"
   target="documentation" role="button" class="btn btn-outline-primary btn-block">
  Documentation: Decision</a>
{% endblock %} {# block doclinks #}

{% block info %}
<div class="mt-4 small">
  Modified <span class="localtime text-nowrap">{{ decision['modified'] }}</span>
  <br>
  Created <span class="localtime text-nowrap">{{ decision['created'] }}</span>
  <br>
  <a href="{{ url_for('.logs', iuid=decision['_id']) }}">Logs</a>
</div>
{% endblock %} {# block info #}
