{% extends 'base.html' %}

{% block head_title %}
Decision for proposal {{ proposal['identifier'] }} {{ proposal['title'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-2">Decision for proposal</small>
{{ macros.proposal_link(proposal) }}
{% endblock %}

{% block main %}
{# XXX access? #}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Submitter</div>
  <div class="col-md">{{ get_user(proposal['user']) | user_link }}</div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Call</div>
  <div class="col-md">{{ macros.call_link(call) }}</div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">State</div>
  <div class="col-md">
    {% if decision.get('finalized') %}
    <span class="badge badge-success">Finalized</span>
    {% else %}
    <span class="badge badge-warning">Not finalized</span>
    {% endif %}
  </div>
</div>

{% set values = decision['values'] %}
{% for field in call['decision'] %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">
    {{ field['title'] }}
  </div>
  {% if decision['errors'].get(field['identifier']) %}
  <div class="col-md-2 text-danger">
    Error: {{ decision['errors'][field['identifier']] }}
  </div>
  {% endif %}
  <div class="col-md text-break">
    {% set value = values.get(field['identifier']) %}
    {% set docurl = url_for('.document', iuid=decision['_id'], documentname=value or 'dummy') %}
    {{ value | typed_value(field['type'], docurl) }}
  </div>
</div>
{% endfor %} {# for field in ... #}

{% endblock %} {# block main #}

{% block actions %}
{% if allow_unfinalize %}
<div class="mt-2">
  <form action="{{ url_for('.unfinalize', iuid=decision['_id']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-warning">
      Unfinalize</button>
  </form>
</div>
{% endif %} {# if allow_unfinalize #}
{% if allow_finalize %}
<div class="mt-2">
  <form action="{{ url_for('.finalize', iuid=decision['_id']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">
      Finalize</button>
  </form>
</div>
{% endif %} {# if allow_finalize #}
{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.edit', iuid=decision['_id']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
{% endif %} {# if allow_edit #}
{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('.edit', iuid=decision['_id']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
	    onclick="return confirm('Really delete the decision?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  Modified <span class="localtime">{{ decision['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ decision['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', iuid=decision['_id']) }}">Logs</a>
  </span>
</div>
{% endblock %} {# block info #}
