{% extends 'base.html' %}

{% block head_title %}Clone a call{% endblock %}
{% block body_title %}Clone a call{% endblock %}

{% block main %}
<form action="{{ url_for('.clone', cid=call['identifier']) }}"
      method="POST">
  {{ csrf_token() }}

  <div class="row">
    <div class="offset-md-2 col-md">
      <div class="card mb-4">
        <div class="card-body">
          The call data <strong>not</strong> copied into the clone:
          <ul>
            <li>Open, close and review due dates.</li>
            <li>Attached documents.</li>
            <li>Reviewers and chairs set for the call.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="title" 
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Title</label>
    <div class="col-md">
      <input type="text" id="title" name="title"
             class="form-control"
             aria-describedby="titleHelp"
	     value="{{ call['title'] }}">
      <small id="titleHelp" class="form-text text-muted">
        <strong>Required!</strong>
        Brief descriptive title for the call.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="identifier" 
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Identifier</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-4">
          <input type="text" id="identifier" name="identifier"
                 maxlength="{{ config['CALL_IDENTIFIER_MAXLENGTH'] }}"
                 class="form-control"
                 aria-describedby="identifierHelp">
        </div>
      </div>
      <small id="identifierHelp" class="form-text text-muted">
        <strong>Required!</strong>
        Call identifier, which cannot be changed.
        <br>
        The identifier must be at most {{ config['CALL_IDENTIFIER_MAXLENGTH'] }}
        characters long and begin with a letter and continue with
        letters or digits. No other characters are allowed.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3 offset-md-2">
      <button type="submit" class="btn btn-block btn-primary">Create</button>
    </div>
  </div>

</form>
{% endblock %} {# block main #}
