{% extends 'base.html' %}

{% block head_title %}Clone a call{% endblock %}
{% block body_title %}Clone a call{% endblock %}

{% block main %}
<form action="{{ url_for('.clone', cid=call['identifier']) }}" method="POST">
  {{ csrf_token() }}

  <div class="row">
    <div class="offset-md-2 col-md">
      <div class="card mb-4">
        <div class="card-body">
          The following call data is <strong>not</strong> copied into the clone:
          <ul>
            <li>Open, close and review due dates.</li>
            <li>Attached documents.</li>
            <li>Reviewers and chairs set for the call.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="title"  class="col-md-2 col-form-label text-right font-weight-bold">
      Title</label>
    <div class="col-md">
      <input type="text" id="title" name="title"
             class="form-control"
             aria-describedby="titleHelp"
	     value="{{ call['title'] }}">
      <small id="titleHelp" class="form-text text-muted">
        <strong>Required!</strong>
        Brief descriptive title for the call.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="identifier" class="col-md-2 col-form-label text-right font-weight-bold">
      Identifier</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-4">
          <input type="text" id="identifier" name="identifier"
                 class="form-control"
                 aria-describedby="identifierHelp">
        </div>
      </div>
      <small id="identifierHelp" class="form-text text-muted">
        <strong>Required!</strong>
        Call identifier, which cannot be changed.
        <br>
        The call identifier must begin with a letter and continue with
        letters, digits or underscore. No other characters are
        allowed. It is a good idea to keep it short.
      </small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 offset-md-2">
      <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">Create</button>
      </div>
    </div>
  </div>

</form>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.display', cid=call['identifier']) }}"
     role="button" class="btn btn-block btn-secondary">Cancel</a>
</div>
{% endblock %}

