{% extends 'base.html' %}

{% block head_title %}Create a call{% endblock %}
{% block body_title %}Create a call{% endblock %}

{% block main %}
<form action="{{ url_for('.create') }}" method="POST">
  {{ csrf_token() }}

  <div class="form-group row">
    <label for="identifier" class="col-md-2 col-form-label text-right font-weight-bold">
      Identifier</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-4">
          <input type="text" id="identifier" name="identifier"
                 autofocus class="form-control" aria-describedby="identifierHelp">
        </div>
      </div>
      <small id="identifierHelp" class="form-text text-muted">
        <strong>Required!</strong>
        Call identifier, which must be unique. It can be edited only
        if no proposals or other dependent objects have been
        created in the call, and the call has not been opened.
        <br>
        The call identifier must begin with a letter and continue with
        letters, digits or underscore. No other characters are
        allowed. It is a good idea to keep it short.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="title"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Title</label>
    <div class="col-md">
      <input type="text" id="title" name="title"
             class="form-control" aria-describedby="titleHelp">
      <small id="titleHelp" class="form-text text-muted">
        <strong>Required!</strong>
        Brief descriptive title for the call, which can be edited later.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3 offset-md-2">
      <button type="submit" id="create" class="btn btn-primary btn-block">Create</button>
    </div>
  </div>

</form>
{% endblock %} {# block main #}
