{% extends 'base.html' %}

{% block head_title %}
Edit decision fields for call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
Edit decision fields for call {{ call['identifier'] }}
{% endblock %}

{% block main %}
<div class="alert alert-warning" role="alert">
  <strong>Warning:</strong> Edit with care! Changing decision fields
  may invalidate current decisions.
</div>

<table class="table table-hover">
  <tbody>
    {% for field in call['decision'] %}
    {% set post_url = url_for('.decision_field', cid=call['identifier'], fid=field['identifier']) %}
    {% include 'display_field_definition.html' %}
    {% endfor %} {# for field in call['decision'] #}
  </tbody>
</table>

<hr>
<div class="m-4">
  {% for field_type in constants.DECISION_FIELD_TYPES %}
  <button type="button" class="btn btn-primary mr-2 mb-2"
	  data-toggle="modal" data-target="#_{{ field_type }}Modal">
    Add {{ field_type }} field
  </button>
  {% endfor %}
</div>

{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.display', cid=call['identifier']) }}"
     role="button" class="btn btn-block btn-secondary">Back</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('about.documentation', page='Input-field-types') }}"
     role="button" class="btn btn-block btn-outline-secondary"
     target="_blank">
    Input field types</a>
</div>
{% endblock %} {# block actions #}

{% block doclinks %}
<a href="{{ url_for('documentation.page', page='input-field-types') }}"
   target="documentation"
   class="btn btn-outline-primary btn-block">
  Documentation: Input field types</a>
{% endblock %} {# block doclinks #}

{% block modals %}

{% set post_url = url_for('.decision', cid=call['identifier']) %}
{% for field_type in constants.DECISION_FIELD_TYPES %}
{% include 'create_field_definition.html' %}
{% endfor %}

{% for field in call['decision'] %}
{% set post_url = url_for('.decision_field', cid=call['identifier'], fid=field['identifier']) %}
{% include 'edit_field_definition.html' %}
{% endfor %}

{% endblock %} {# block modals #}
