{% extends 'base.html' %}

{% block head_title %}{{ call['title'] }}{% endblock %}
{% block body_title %}<small>Call for proposals</small><br>{{ call['title'] }}{% endblock %}

{% block meta %}

{% if g.am_admin %}
<a href="{{ url_for('proposals.call_xlsx', cid=call['identifier']) }}"
   class="badge badge-pill badge-dark" role="button"
   title="Download XLSX file of all proposals in the call.">Proposals Excel file</a>
{% endif %}

{% if allow_view_proposals or allow_view_grants %}
<a href="{{ url_for('proposals.call_xlsx', cid=call['identifier'], submitted=true) }}"
   class="badge badge-pill badge-dark" role="button"
   title="Download XLSX file of all submitted proposals in the call.">
  Submitted proposals Excel file</a>
{% endif %} {# if allow_view_proposals or allow_view_grants #}

{% if allow_view_proposals %}
<a href="{{ url_for('call.call_zip', cid=call['identifier']) }}"
   title="Excel file and documents for submitted proposals."
   class="badge badge-pill badge-dark"
   title="Download zip file of all submitted proposals in the call.">
  Submitted proposals zip file</a>
<a href="#email_lists" data-toggle="collapse"
   class="badge badge-pill badge-secondary" role="button"
   aria-expanded="false" aria-controls="email_lists"
   title="Toggle display of email address lists.">Email address lists</a>
{% endif %} {# if allow_view_proposals #}

{% if g.am_admin %}
<a href="{{ url_for('admin.document', identifier=call['_id']) }}"
   class="badge badge-pill badge-light" role="button"
   title="Download the JSON CouchDB database document for the call.">
  Database document</a>
{% endif %}

{% endblock %} {# block meta #}

{% block main %}

{% if allow_view_details %}
{% include 'email_lists.html' %}
{% endif %} {# if allow_view_details #}

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Identifier</div>
  <div class="col-md font-weight-bold">{{ call['identifier']  }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Opens</div>
  <div class="col-md">
    {{ call['opens'] | display_datetime_timezone }}
    {% if is_open %}
    <div class="badge badge-pill badge-success mx-2">Open.</div>
    {% elif not is_undefined and not is_closed %}
    <div class="badge badge-pill badge-secondary mx-2">Not yet open.</div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Closes</div>
  <div class="col-md">
    {{ call['closes'] | display_datetime_timezone }}
    {{ call | call_closes_badge }}
  </div>
</div>

{% if allow_view_details %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Owner</div>
  <div class="col-md">{{ get_user(call['owner']) | user_link }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Access to view</div>
  <div class="col-md">
    {{ set(call.get('access_view', [])).difference(call.get('access_edit', [])) | users_links_list }}
  </div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Access to edit</div>
  <div class="col-md">
    {{ call.get('access_edit', []) | users_links_list }}
  </div>
</div>
{% endif %} {# if allow_view_details #}

{% if allow_view_proposals or allow_view_grants %}
<div class="row my-1">
  <div class="col-md-2 font-weight-bold text-right">All proposals</div>
  <div class="col-md">
    {{ call | call_proposals_link(full=True) }}
  </div>
</div>
{% endif %} {# if allow_view_proposals or allow_view_grants #}

{% if am_reviewer %}
<div class="row my-1">
  <div class="col-md-2 font-weight-bold text-right">My reviews</div>
  <div class="col-md">
    <a href="{{ url_for('reviews.call_reviewer', cid=call['identifier'], username=g.current_user['username']) }}"
       role="button" class="btn btn-sm btn-info">
      {{ my_reviews_count }} reviews
    </a>
    {% if my_archived_reviews_count %}
    <a href="{{ url_for('reviews.call_reviewer_archived', cid=call['identifier'], username=g.current_user['username']) }}"
       role="button" class="btn btn-sm btn-secondary ml-2">
      {{ my_archived_reviews_count }} archived reviews
    </a>
    {% endif %}
  </div>
</div>
{% endif %} {# if am_reviewer #}

{% if allow_view_details %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Reviewers</div>
  <div class="col-md">
    <a href="{{ url_for('call.reviewers', cid=call['identifier']) }}"
       role="button" class="btn btn-primary btn-sm">
      {{ len(call.get('reviewers', [])) }} reviewers
    </a>
  </div>
</div>

<div class="row mt-1">
  <div class="col-md-2 font-weight-bold text-right">Reviews due</div>
  <div class="col-md">
    {{ call.get('reviews_due') | display_datetime_timezone }}
    {{ call | reviews_due_badge }}
  </div>
</div>
{% endif %} {# if allow_view_details #}

{% if allow_view_reviews %}
<div class="row my-1">
  <div class="col-md-2 font-weight-bold text-right">All reviews</div>
  <div class="col-md">
    {{ call | call_reviews_link(full=True) }}
    {% if archived_reviews_count %}
    <a href="{{ url_for('reviews.call_archived', cid=call['identifier']) }}"
       role="button" class="btn btn-sm btn-secondary ml-2">
      {{ archived_reviews_count }} archived reviews
    </a>
    {% endif %}
  </div>
</div>
{% endif %} {# if allow_view_reviews #}

{% if allow_view_grants %}
<div class="row mt-1">
  <div class="col-md-2 font-weight-bold text-right">Grants</div>
  <div class="col-md-8">
    {{ call | call_grants_link(full=True) }}
  </div>
</div>
{% endif %} {# if allow_view_grants #}

{% if not am_reviewer %}
<div class="row my-4">
  <div class="col-md-2 font-weight-bold text-right">My proposal</div>

  {% if my_proposal %}
  <div class="col-md">{{ my_proposal | proposal_link }}</div>

  {% elif allow_create_proposal %}
  <div class="col-md">
    <form action="{{ url_for('call.create_proposal', cid=call['identifier']) }}" method="POST">
      {{ csrf_token() }}
      <button type="submit" class="btn btn-primary">Create proposal</button>
    </form>
  </div>

  {% elif is_closed %}
  <div class="col-md">Call is closed; a proposal cannot be created.</div>
  {% elif not g.current_user %}
  <div class="col-md text-danger">
    You need to be logged in to create a proposal.
  </div>
  <div class="col-md">
    <a href="{{ url_for('user.login', login_target_url=url_for('call.display', cid=call['identifier'])) }}"
       class="btn btn-primary px-3">
      Login</a>
  </div>

  {% else %}
  <div class="col-md">-</div>
  {% endif %} {# if my_proposal #}

</div>
{% endif %} {# if not am_reviewer #}

<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Description</div>
  <div class="card col-md">
    <div class="card-body">
      {{ call.get('description') | display_markdown }}
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Documents</div>
  <div class="col-md">
    {% if call['documents'] %}
    {% for document in call['documents'] %}
    <div class="card mb-2">
      <div class="card-body pb-0">
        <table>
          <tr>
            <td title="File" class="font-italic font-weight-bold">
              {{ document['name'] }}
            </td>
            <td>
              <a href="{{ url_for('call.document', cid=call['identifier'], documentname=document['name']) }}"
                 title="Download file" role="button" class="btn btn-sm btn-dark ml-4">
                Download</a>
            <td>
          </tr>
          <tr>
            <td class="pt-1" colspan="2">
              {{ document.get('description') | display_markdown }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% endfor %} {# for document in call['documents'] #}
    {% else %}
    -
    {% endif %}
  </div>
</div>

{% if allow_view_details %}
<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Privileges</div>
  <div class="col-md-5">
    <table class="table table-sm">
      <tbody>
        {% for flag in constants.PRIVILEGES %}
        <tr>
          <td>{{ flag|capitalize|replace('_',' ') }}</td>
          <td class="font-weight-bold">
            {{ call.get('privileges', {}).get(flag) and 'Yes' or 'No' }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %} {# if allow_view_details #}

{% if allow_view_details %}

<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Proposal fields</div>
  <div class="col-md">
    <table class="table table-sm">
      <tbody>
        {% for field in call['proposal'] %}
        {% include 'display_field_definition.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Review fields</div>
  <div class="col-md">
    <table class="table table-sm">
      <tbody>
        {% for field in call['review'] %}
        {% include 'display_field_definition.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Decision fields</div>
  <div class="col-md">
    <table class="table table-sm">
      <tbody>
        {% for field in call['decision'] %}
        {% include 'display_field_definition.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Grant dossier fields</div>
  <div class="col-md">
    <table class="table table-sm">
      <tbody>
        {% for field in call.get('grant', []) %}
        {% include 'display_field_definition.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %} {# if allow_view_details #}

{% endblock %} {# block main #}

{% block actions %}
{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('call.edit', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>

<div class="mt-2">
  <a href="{{ url_for('call.documents', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit documents</a>
</div>

<div class="mt-2">
  <a href="{{ url_for('call.proposal', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit proposal fields</a>
</div>

<div class="mt-2">
  <a href="{{ url_for('call.review', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit review fields</a>
</div>

<div class="mt-2">
  <a href="{{ url_for('call.decision', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit decision fields</a>
</div>

<div class="mt-2">
  <a href="{{ url_for('call.grant', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit grant fields</a>
</div>

{% if call_proposals_count == 0 %}
<div class="mt-2">
  <form action="{{ url_for('call.reset_counter', cid=call['identifier']) }}" method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-primary btn-block">
      Reset proposals counter</button>
  </form>
</div>
{% endif %}

{% if allow_change_access %}
<div class="mt-2">
  <a href="{{ url_for('call.change_access', cid=call['identifier']) }}"
     role="button" class="btn btn-info btn-block">Change access</a>
</div>
{% endif %} {# if allow_change_access #}

<div class="mt-2">
  <a href="{{ url_for('call.clone', cid=call['identifier']) }}"
     role="button" class="btn btn-info btn-block">Clone</a>
</div>
{% endif %} {# if allow_edit #}

{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('call.edit', cid=call['identifier']) }}" method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-sm btn-block btn-danger"
	    onclick="return confirm('Really delete this call?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}

{% block doclinks %}
{{ super() }}
<a href="{{ url_for('documentation', _anchor='call') }}"
   target="documentation" role="button"
   class="btn btn-outline-primary btn-block">
  Documentation: Call</a>
{% endblock %} {# block doclinks #}

{% block info %}
{% if allow_view_details %}
<div class="mt-4 small">
  Modified <span class="localtime text-nowrap">{{ call['modified'] }}</span>
  <br>
  Created <span class="localtime text-nowrap">{{ call['created'] }}</span>
  <br>
  <a href="{{ url_for('call.logs', cid=call['identifier']) }}">Logs</a>
</div>
{% endif %} {# if allow_view_details #}
{% endblock %} {# block info #}
