{% extends 'base.html' %}

{% block head_title %}
{{ call['identifier'] }}: {{ call['title'] }}
{% endblock %}

{% block body_title %}
<small class="text-muted mr-3">Call for proposals</small>
<span class="font-weight-bold">
  {{ call['identifier'] }}: {{ call['title'] }}
</span>
{% endblock %}

{% block main %}

{% if g.am_admin or am_call_owner %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Opens</div>
  <div class="col-md">{{ call['opens'] | datetimetz }}</div>
</div>
{% endif %} {# if g.am_admin or am_call_owner #}

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Closes</div>
  <div class="col-md">
    <span class="mr-4">{{ call['closes'] | datetimetz }}</span>
    <span class="badge badge-pill badge-{{ call['tmp']['color'] }}">
      {{ call['tmp']['text'] }}</span>
  </div>
</div>

{% if allow_view_proposals %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Owner</div>
  <div class="col-md">{{ get_user(call['owner']) | user_link }}</div>
</div>

<div class="row my-1">
  <div class="col-md-2 font-weight-bold text-right">All proposals</div>
  <div class="col-md">
    <a href="{{ url_for('proposals.call', cid=call['identifier']) }}"
       role="button" class="btn btn-primary">
      {{ utils.get_call_proposals_count(call['identifier']) }} proposals</a>
  </div>
</div>
{% endif %} {# if allow_view_proposals #}

{% if am_reviewer %}
<div class="row my-1">
  <div class="col-md-2 font-weight-bold text-right">My reviews</div>
  <div class="col-md">
    <a href="{{ url_for('reviews.call_reviewer', cid=call['identifier'], username=g.current_user['username']) }}"
       role="button" class="btn btn-info">
      {{ my_reviews_count }} reviews
    </a>
  </div>
</div>
{% endif %} {# if am_reviewer #}

{% if allow_view_reviews %}
<div class="row my-1">
  <div class="col-md-2 font-weight-bold text-right">All reviews</div>
  <div class="col-md">
    <a href="{{ url_for('reviews.call', cid=call['identifier']) }}"
       role="button" class="btn btn-info">
      {{ utils.get_call_reviews_count(call['identifier']) }} reviews
    </a>
  </div>
</div>
{% endif %} {# if allow_view_reviews #}

{% if g.am_admin or am_call_owner or am_reviewer %}
<div class="row mt-1">
  <div class="col-md-2 font-weight-bold text-right">Reviews due</div>
  <div class="col-md">{{ call.get('reviews_due') | datetimetz(due=True) }}</div>
</div>
{% endif %} {# if g.am_admin or am_call_owner or am_reviewer #}

{% if g.am_admin or am_call_owner or am_reviewer %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Reviewers</div>
  <div class="col-md">
    {% for pos, reviewer in enumerate(sorted(call['reviewers'])) %}
    {{get_user(reviewer) | user_link(chair=reviewer in call['chairs']) }}
    {% if pos+1 < len(call['reviewers']) %}
    ,
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %} {# if g.am_admin or am_call_owner or am_reviewer #}

{% if not am_reviewer %}
<div class="row my-4">
  <div class="col-md-2 font-weight-bold text-right">My proposal</div>
  {% if my_proposal %}
  <div class="col-md">{{ my_proposal | proposal_link }}</div>
  {% elif call['tmp']['is_closed'] %}
  <div class="col-md">Call is closed; a proposal cannot be created.</div>
  {% elif allow_proposal and call['tmp']['is_open'] %}
  <div class="col-md">
    <form action="{{ url_for('.create_proposal', cid=call['identifier']) }}"
	  method="POST">
      {{ csrf_token() }}
      <button type="submit" class="btn btn-primary">Create proposal</button>
    </form>
  </div>
  {% elif not g.current_user and call['tmp']['is_open'] %}
  <div class="col-md text-danger">
    You need to be logged in to create a proposal.
  </div>
  {% else %}
  <div class="col-md">-</div>
  {% endif %} {# if my_proposal #}
</div>
{% endif %} {# if not am_reviewer #}

<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Description</div>
  <div class="card col-md">
    <div class="card-body">
      {{ call.get('description') | markdown }}    
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Documents</div>
  <div class="col-md">
    {% if call['documents'] %}
    <table class="table table-sm table-borderless">
      <tbody>
        {% for document in call['documents'] %}
        <tr>
          <td>
            <a href="{{ url_for('call.document', cid=call['identifier'], documentname=document['name']) }}" title="Download" role="button"
               class="btn btn-success btn-sm font-weight-bold my-1">
              Download</a>
            <span class="border border-success p-2 text-monospace">{{ document['name'] }}</span>
          </td>
          <td>
            {{ document.get('description') | markdown }}
          </td>
        </tr>
        {% endfor %} {# for document in call['documents'] #}
      </tbody>
    </table>
    {% else %}
    -
    {% endif %}
  </div>
</div>

{% if g.am_admin or am_call_owner or am_reviewer %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Access</div>
  <div class="col-md-5">
    <table class="table table-sm table-borderless table-hover">
      <tbody>
        {% for flag in constants.ACCESS %}
        <tr>
          <td>{{ flag|capitalize|replace('_',' ') }}</td>
          <td class="font-weight-bold">
            {{ call.get('access', {}).get(flag) and 'Yes' or 'No' }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %} {# if g.am_admin or am_call_owner or am_reviewer #}

{% if g.am_admin or am_call_owner %}
<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Proposal fields</div>
  <div class="col-md">
    <table class="table table-sm table-borderless table-hover">
      <tbody>
        {% for field in call['proposal'] %}
        {% include 'display_field_definition.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %} {# if g.am_admin or am_call_owner #}

{% if g.am_admin or am_call_owner %}
<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Review fields</div>
  <div class="col-md">
    <table class="table table-sm table-borderless table-hover">
      <tbody>
        {% for field in call['review'] %}
        {% include 'display_field_definition.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %} {# if g.am_admin or am_call_owner #}

{% if g.am_admin or am_call_owner %}
<div class="row mt-4">
  <div class="col-md-2 font-weight-bold text-right">Decision fields</div>
  <div class="col-md">
    <table class="table table-sm table-borderless table-hover">
      <tbody>
        {% for field in call['decision'] %}
        {% include 'display_field_definition.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %} {# if g.am_admin or am_call_owner #}

{% endblock %} {# block main #}

{% block actions %}
{% if allow_edit %}
<div class="mt-2">
  <a href="{{ url_for('.edit', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.documents', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit documents</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.proposal', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit proposal fields</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.review', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit review fields</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.decision', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit decision fields</a>
</div>
{% endif %} {# if allow_edit #}
{% if g.am_admin or am_call_owner %}
<div class="mt-4">
  <a href="{{ url_for('.reviewers', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit reviewers</a>
</div>
<div class="mt-4">
  <a href="{{ url_for('.clone', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Clone</a>
</div>
{% endif %} {# if g.am_admin or am_call_owner #}
{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('.edit', cid=call['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
	    onclick="return confirm('Really delete the call?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}

{% block info %}
{% if g.am_admin or am_call_owner %}
<div class="small">
  Modified <span class="localtime">{{ call['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ call['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', cid=call['identifier']) }}">Logs</a>
  </span>
</div>
{% endif %} {# if g.am_admin or am_call_owner #}
{% endblock %} {# block info #}
