{% extends 'base.html' %}

{% block head_title %}{{ call['identifier'] }}{% endblock %}

{% block body_title %}
<small class="text-muted mr-3">Call for proposals</small>
{{ call['identifier'] }} {{ call['title'] }}
{% endblock %}

{% block main %}
{% if privilege.is_admin() %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Opens</div>
  <div class="col-md">
    {% if call['opens'] %}
    {{ call['opens'] }}
    {% else %}
    Not set
    {% endif %}
  </div>
</div>
{% endif %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Closes</div>
  <div class="col-md">
    <span class="mr-4">{{ call['closes'] or '-' }}</span>
    {{ macros.call_closes(call) }}
  </div>
</div>
{% if g.current_user %}
{% if proposal %}
<div class="row my-2">
  <div class="col-md-2 font-weight-bold text-right">My proposal</div>
  <div class="col-md">{{ macros.proposal_link(proposal) }}</div>
</div>
{% elif call['cache']['is_open'] and call['cache']['may_submit'] %}
<div class="row my-2">
  <div class="col-md-2 font-weight-bold text-right">My proposal</div>
  <div class="col-md">
    <form action="{{ url_for('.create_proposal', cid=call['identifier']) }}"
	  method="POST">
      {{ csrf_token() }}
      <button type="submit" class="btn btn-primary">
        Create proposal</button>
    </form>
  </div>
</div>
{% endif %}
{% endif %} {# if g.current_user #}

{% if privilege.is_admin() or call['cache']['is_reviewer'] %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">All proposals</div>
  <div class="col-md">{{ macros.proposals_link(call) }}</div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Reviewers</div>
  <div class="col-md">
    {% for reviewer in sorted(call['reviewers']) %}
    <span class="mr-3">
      {{ macros.user_link(get_user(reviewer)) }}
      {% if reviewer in call['chairs'] %}(chair){% endif %}
    {% endfor %}
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">My reviews</div>
  <div class="col-md">
    <a href="{{ url_for('reviews.call_reviewer', cid=call['identifier'], username=g.current_user['username']) }}"
       role="button" class="btn btn-sm btn-info px-3">{{ my_reviews_count }}</a>
  </div>
</div>
{% endif %} {# if call['cache']['is_reviewer'] #}
{% if privilege.is_admin() %}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">All reviews</div>
  <div class="col-md">
    <a href="{{ url_for('reviews.call', cid=call['identifier']) }}"
       role="button" class="btn btn-sm btn-info mt-1 px-3">
      {{ all_reviews_count }}</a>
  </div>
</div>
{% endif %} {# if privilege.is_admin() #}
<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Description</div>
  <div class="col-md">
    <div class="card mt-2">
      <div class="card-body">
        {{ call.get('description') | markdown }}
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-2 font-weight-bold text-right">Documents</div>
  <div class="col-md">
    {% for document in call.get('documents', []) %}
    <div class="card mt-2">
      <div class="card-header">
        <span class="font-weight-bold">{{ document['name'] }}</span>
        <a href="{{ url_for('call.document', cid=call['identifier'], documentname=document['name']) }}"
           role="button" class="btn btn-secondary btn-sm ml-4">
          Download
          ({{ call['_attachments'][document['name']]['length'] | thousands }} bytes)            </a>
      </div>
      {% if document.get('description') %}
      <div class="card-body">
        {{ document.get('description') | markdown }}
      </div>
      {% endif %}
    </div>
    {% endfor %} {# for document in call.get('documents', []) #}
  </div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Proposal inputs</div>
  <div class="col-md">
    {% for field in call['proposal'] %}
    <div class="card mt-2">
      <div class="card-body">
        {% include 'display_field_definition.html' %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% if privilege.is_admin() %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Review inputs</div>
  <div class="col-md">
    {% for field in call['review'] %}
    <div class="card mt-2">
      <div class="card-body">
        {% include 'display_field_definition.html' %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {# if privilege.is_admin() #}

{% endblock %} {# block main #}

{% block actions %}
{% if call['cache']['is_editable'] %}
<div class="mt-2">
  <a href="{{ url_for('.edit', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.documents', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit documents</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.proposal', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit proposal fields</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.review', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit review fields</a>
</div>
{% endif %} {# if call['cache']['is_editable'] #}
{% if privilege.is_admin() %} {# Reviewers always editable for admin #}
<div class="mt-2">
  <a href="{{ url_for('.reviewers', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Edit reviewers</a>
</div>
<div class="mt-4">
  <a href="{{ url_for('.clone', cid=call['identifier']) }}"
     role="button" class="btn btn-primary btn-block">Clone</a>
</div>
{% endif %} {# if privilege.is_admin() #}
{% if call['cache']['is_editable'] %}
<div class="mt-2">
  <form action="{{ url_for('.edit', cid=call['identifier']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
	    onclick="return confirm('Really delete the call?')">
      Delete</button>
  </form>
</div>
{% endif %} {# if call['cache']['is_editable'] #}
{% endblock %} {# block actions #}

{% block info %}
{% if privilege.is_admin() %}
<div class="small">
  Modified <span class="localtime">{{ call['modified'] }}</span>
  <span class="ml-4">
    Created <span class="localtime">{{ call['created'] }}</span>
  </span>
  <span class="ml-4">
    <a href="{{ url_for('.logs', cid=call['identifier']) }}">Logs</a>
  </span>
</div>
{% endif %} {# if privilege.is_admin() #}
{% endblock %} {# block info #}
