{% extends 'base.html' %}

{% block head_title %}Edit documents for {{ call['identifier'] }}{% endblock %}

{% block body_title %}Edit documents for {{ call['identifier'] }}{% endblock %}

{% block main %}
{% if call['tmp']['is_open'] or call['tmp']['is_closed'] %}
<div class="alert alert-warning" role="alert">
  <strong>Warning:</strong> The call has been opened; edit with care!
  Changing the documents for an opened call may confuse the users.
</div>
{% endif %}

<div class="row my-4">
  <div class="col-md-2 font-weight-bold text-right">Documents</div>
  <div class="col-md">
    <table class="table table-hover">
      <tbody>
        {% for document in call.get('documents', []) %}
        <tr>
          <th>{{ document['name'] }}</th>
          <td>
            {{ call['_attachments'][document['name']]['length'] | filesizeformat }}
          </td>
          <td>{{ document.get('description') | display_markdown }}</td>
          <td>
            <form action="{{ url_for('.document', cid=call['identifier'], documentname=document['name']) }}"
	          method="POST">
	      {{ csrf_token() }}
	      <input type="hidden" name="_http_method" value="DELETE">
	      <button type="submit" class="btn btn-sm btn-danger"
		      onclick="return confirm('Really delete the document {{ document['name'] }}?')">
	        Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %} {# for document in call.get('documents', []) #}
      </tbody>
    </table>
  </div>
</div>

<div class="row my-4">
  <div class="col-md-2 font-weight-bold text-right">Add document</div>
  <div class="col-md">
    <form action="{{ url_for('.documents', cid=call['identifier']) }}"
          enctype="multipart/form-data"
	  method="POST">
      {{ csrf_token() }}

      <div class="form-group">
        <div class="custom-file">
          <input type="file" id="document" name="document"
	         class="custom-file-input">
          <label class="custom-file-label" for="document">
            Choose document</label>
        </div>
      </div>

      <div class="form-group">
	<textarea id="document_description" name="document_description"
		  class="form-control"
		  aria-describedby="document_descriptionHelp"></textarea>
	<small id="document_descriptionHelp" class="form-text text-muted">
	  Short description of the document.
          <br>
	  <a target="_blank" href="{{ constants.MARKDOWN_URL }}">Markdown</a>
          may be used to format this text.
	</small>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
	    <button type="submit" class="btn btn-block btn-primary">
	      Add document</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.display', cid=call['identifier']) }}"
     role="button" class="btn btn-block btn-secondary">Back</a>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
{% endblock %}
