{% extends 'base.html' %}

{% block head_title %}Edit documents for {{ call['identifier'] }}{% endblock %}

{% block body_title %}Edit documents for {{ call['identifier'] }}{% endblock %}

{% block main %}
<div class="row my-3">
  <div class="col-md-2 font-weight-bold text-right">Documents</div>
  <div class="col-md">
    {% for document in call.get('documents', []) %}
    <div class="card mt-2">
      <div class="card-header">
        <div class="row">
          <div class="col-md">
            <span class="font-weight-bold">{{ document['name'] }}</span>
            ({{ call['_attachments'][document['name']]['length'] | thousands }} bytes)
          </div>
          <div class="col-md text-right">
            <form action="{{ url_for('.document', cid=call['identifier'], documentname=document['name']) }}"
	          method="POST">
	      {{ csrf_token() }}
	      <input type="hidden" name="_http_method" value="DELETE">
	      <button type="submit" class="btn btn-sm btn-danger"
		      onclick="return confirm('Really delete the document {{ document['name'] }}?')">
	        Delete</button>
            </form>
          </div>
        </div>
      </div>
      {% if document.get('description') %}
      <div class="card-body">
        {{ document.get('description') | markdown }}
      </div>
      {% endif %}
    </div>
    {% endfor %} {# for document in call.get('documents', []) #}

    <div class="card mt-2">
      <div class="card-body">
        <form action="{{ url_for('.documents', cid=call['identifier']) }}"
              enctype="multipart/form-data"
	      method="POST">
	  {{ csrf_token() }}
	  <div class="form-group">
            <div class="custom-file">
              <input type="file" id="document" name="document"
	             class="custom-file-input">
              <label class="custom-file-label" for="document">
                Choose document</label>
            </div>
          </div>
	  <div class="form-group">
	    <textarea id="document_description" name="document_description"
		      class="form-control"
		      aria-describedby="document_descriptionHelp"></textarea>
	    <small id="document_descriptionHelp" class="form-text text-muted">
	      <div class="row">
		<div class="col-md">
		  Short description of the document.
		</div>
		<div class="col-md-4 text-right">
		  Formatted using 
		  <a href="{{ config['MARKDOWN_URL'] }}">Markdown</a>.
		</div>
	      </div>
	    </small>
          </div>
	  <div class="form-group">
	    <button type="submit" class="btn btn-btn-sm btn-primary mt-2">
	      Add document</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.display', cid=call['identifier']) }}"
	method="GET">
    <button type="submit" class="btn btn-block btn-dark">Back</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}
