{% extends 'base.html' %}

{% block head_title %}Edit call {{ call['identifier'] }}{% endblock %}

{% block body_title %}Edit call {{ call['identifier'] }}{% endblock %}

{% block main %}
{% if is_open or is_closed %}
<div class="alert alert-warning" role="alert">
  <strong>Warning:</strong> The call has been opened; edit with care!
</div>
{% endif %}

<form action="{{ url_for('.edit', cid=call['identifier']) }}"
      method="POST">
  {{ csrf_token() }}

  <div class="form-group row">
    <label for="identifier"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Identifier</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-4">
          <input type="text" id="identifier" name="identifier"
                 class="form-control"
                 aria-describedby="identifierHelp"
                 value="{{ call['identifier'] }}"
                 {{ not allow_identifier_edit and 'readonly' or '' }}>
        </div>
      </div>
      <small id="identifierHelp" class="form-text text-muted">
        <strong>Required!</strong>
        Call identifier, which must be unique. It can be edited only
        if no proposals or other dependent objects have been
        created in the call, and the call has not been opened.
        <br>
        The call identifier must begin with a letter and continue with
        letters, digits or underscore. No other characters are
        allowed. It is a good idea to keep it short.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="title"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Title</label>
    <div class="col-md">
      <input type="text" id="title" name="title"
             class="form-control"
             aria-describedby="titleHelp"
	     value="{{ call['title'] }}">
      <small id="titleHelp" class="form-text text-muted">
        <strong>Required!</strong>
        Brief descriptive title for the call.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="description"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Description</label>
    <div class="col-md">
      <textarea id="description" name="description"
		class="form-control" rows="10"
		aria-describedby="descriptionHelp"
		>{{ call['description'] or '' }}</textarea>
      <small id="descriptionHelp" class="form-text text-muted">
	Full description of the call. This will be displayed on the
        call page. If no <strong>Home page description</strong>
        (below) is defined, this description will also be used on the
        home page of Anubis.
        <br>
	<a target="_blank" href="{{ constants.MARKDOWN_URL }}">Markdown</a>
        may be used to format this text.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="home_description"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Home page description</label>
    <div class="col-md">
      <textarea id="home_description" name="home_description"
		class="form-control" rows="4"
		aria-describedby="home_descriptionHelp"
		>{{ call['home_description'] or '' }}</textarea>
      <small id="home_descriptionHelp" class="form-text text-muted">
	Description of the call to be used on the home page of
	Anubis. Should be short. If not defined, the
	field <strong>Description</strong> (above) will be used.
        <br>
	<a target="_blank" href="{{ constants.MARKDOWN_URL }}">Markdown</a>
        may be used to format this text.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="opens"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Opens</label>
    <div class="col-md">
      <div class="row">
	<div class="col-md-3">
	  <input type="text" name="opens" id="opens"
		 class="form-control" aria-describedby="opensHelp"
		 value="{{ call['opens'] | display_datetime_timezone(plain=True) }}">
	</div>
      </div>
      <small id="opensHelp" class="form-text text-muted">
	The date and time when the call opens for submitting
        proposals. The system automatically opens the call at this
        time.
	<br>
        ISO format YYY-MM-DD HH:MM, all digits, 24 hour notation in
        the <strong>{{ config.TIMEZONE }} timezone</strong>.
        <br>
	<strong>NOTE:</strong> The time 00:00 denotes the first minute
	of the morning of the given date. To specify the last minute
	of the given date, use 23:59.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="closes"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Closes</label>
    <div class="col-md">
      <div class="row">
	<div class="col-md-3">
	  <input type="text" name="closes" id="closes"
		 class="form-control" aria-describedby="closesHelp"
		 value="{{ call['closes'] | display_datetime_timezone(plain=True) }}">
	</div>
      </div>
      <small id="closesHelp" class="form-text text-muted">
	The date and time when the call closes for submitting or
	creating proposals. The system automatically closes the call
	at this time.
        <br>
        ISO format YYY-MM-DD HH:MM, all digits, 24 hour notation in
        the <strong>{{ config.TIMEZONE }} timezone</strong>.
	<br>
	<strong>NOTE:</strong> The time 00:00 denotes the first minute
	of the morning of the given date. To specify the last minute
	of the given date, use 23:59.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="reviews_due"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Reviews due</label>
    <div class="col-md">
      <div class="row">
	<div class="col-md-3">
	  <input type="text" name="reviews_due" id="reviews_due"
		 class="form-control" aria-describedby="reviews_dueHelp"
		 value="{{ call['reviews_due'] | display_datetime_timezone(plain=True) }}">
	</div>
      </div>
      <small id="reviews_dueHelp" class="form-text text-muted">
	The date and time when the reviews of the proposals are due.
        <br>
        ISO format YYY-MM-DD HH:MM, all digits, 24 hour notation in
        the <strong>{{ config.TIMEZONE }} timezone</strong>.
	<br>
	<strong>NOTE:</strong> The time 00:00 denotes the first minute
	of the morning of the given date. To specify the last minute
	of the given date, use 23:59.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="privileges"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Privileges</label>
    <div class="col-md">
      {% for flag in constants.ACCESS %}
      <div class="form-group row">
        <label for="{{ flag }}" class="col-md-4 col-form-label">
          {{ flag|capitalize|replace('_',' ') }}</label>
        <div class="col-md">
          <div class="form-check form-check-inline pt-1">
	    <input type="checkbox" id="{{ flag }}" name="{{ flag }}"
	           class="form-check-input" value="true"
                   {{ call.get('access', {}).get(flag) and 'checked' or '' }}>
	    <label class="form-check-label" for="{{ flag }}">Yes</label>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3 offset-md-2">
      <button type="submit" class="btn btn-block btn-primary">Save</button>
    </div>
  </div>

</form>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.display', cid=call['identifier']) }}"
     role="button" class="btn btn-block btn-secondary">Cancel</a>
</div>
{% endblock %}

{% block todo %}
{% endblock %}
