{% extends 'base.html' %}

{% block head_title %}Edit call {{ call['identifier'] }}{% endblock %}

{% block body_title %}Edit call {{ call['identifier'] }}{% endblock %}

{% block main %}
{% if call['cache']['is_open'] or call['cache']['is_closed'] %}
<div class="alert alert-warning" role="alert">
  <strong>Warning:</strong> The call has been opened; edit with care!
</div>
{% endif %}

<form action="{{ url_for('.edit', cid=call['identifier']) }}"
      method="POST">
  {{ csrf_token() }}
  <div class="form-group row">
    <label for="title"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Title</label>
    <div class="col-md">
      <input type="text" id="title" name="title"
             class="form-control"
             aria-describedby="titleHelp"
	     value="{{ call['title'] }}">
      <small id="titleHelp" class="form-text text-muted">
        <strong>Required!</strong>
        Brief descriptive title for the call.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="description" 
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Description</label>
    <div class="col-md">
      <textarea id="description" name="description"
		class="form-control" rows="10"
		aria-describedby="descriptionHelp"
		>{{ call['description'] or '' }}</textarea>
      <small id="descriptionHelp" class="form-text text-muted">
	<div class="row">
	  <div class="col-md">
	    Description of the call.
	  </div>
	  <div class="col-md-3">
	    Formatted using <a href="{{ config['MARKDOWN_URL'] }}">Markdown</a>.
	  </div>
	</div>
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="opens"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Opens</label>
    <div class="col-md">
      <div class="row">
	<div class="col-md-3">
	  <input type="text" name="opens" id="opens"
		 class="form-control"
		 aria-describedby="opensHelp"
		 value="{{ call['opens'] or '' }}">
	</div>
      </div>
      <small id="opensHelp" class="form-text text-muted">
	The date (ISO format YYY-MM-DD, all digits) and time (HH:MM,
	24 hour, system local time) when the call opens for
	submitting proposals.
	<br>
	The system automatically displays open calls on the home page.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="closes"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Closes</label>
    <div class="col-md">
      <div class="row">
	<div class="col-md-3">
	  <input type="text" name="closes" id="closes"
		 class="form-control"
		 aria-describedby="closesHelp"
		 value="{{ call['closes'] or '' }}">
	</div>
      </div>
      <small id="closesHelp" class="form-text text-muted">
	The date (ISO format YYY-MM-DD, all digits) and time (HH:MM,
	24 hour, system local time) when the call closes for
	submitting proposals.
	<br>
	<strong>NOTE:</strong> If the call should close at midnight
	e.g. 2019-01-01, then one must specify <strong>2019-01-02
	00:00</strong>, that is, at 0:00 in the morning the following day.
	<br>
	The system automatically disallows creating proposals for
	closed calls.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="closes"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Reviews due</label>
    <div class="col-md">
      <div class="row">
	<div class="col-md-3">
	  <input type="text" name="reviews_due" id="reviews_due"
		 class="form-control"
		 aria-describedby="reviews_dueHelp"
		 value="{{ call['reviews_due'] or '' }}">
	</div>
      </div>
      <small id="reviews_dueHelp" class="form-text text-muted">
	The date (ISO format YYY-MM-DD, all digits) and time (HH:MM,
	24 hour, system local time) when the reviews of the proposals
        are due.
	<br>
	<strong>NOTE:</strong> If the reviews are due at midnight
	e.g. 2019-01-01, then one must specify <strong>2019-01-02
	00:00</strong>, that is, at 0:00 in the morning the following day.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="access"
	   class="col-md-2 col-form-label text-right font-weight-bold">
      Access</label>
    <div class="col-md">
      {% for flag in constants.ACCESS %}
      <div class="form-group row">
        <label for="{{ flag }}" class="col-md-4 col-form-label">
          {{ flag|capitalize|replace('_',' ') }}</label>
        <div class="col-md">
          <div class="form-check form-check-inline pt-1">
	    <input type="checkbox" id="{{ flag }}" name="{{ flag }}"
	           class="form-check-input" value="true"
                   {{ call.get('access', {}).get(flag) and 'checked' or '' }}>
	    <label class="form-check-label" for="{{ flag }}">Yes</label>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 offset-md-2">
      <button type="submit" class="btn btn-block btn-primary">Save</button>
    </div>
  </div>
</form>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.display', cid=call['identifier']) }}"
	method="GET">
    <button type="submit" class="btn btn-block btn-secondary">Cancel</button>
  </form>
</div>
{% endblock %}
