{% extends 'base.html' %}

{% block head_title %}
Edit grant fields for call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
Edit grant fields for call {{ call['identifier'] }}
{% endblock %}

{% block main %}
<div class="alert alert-warning" role="alert">
  <strong>Warning:</strong> Edit with care! Changing grant fields may
  invalidate current grants.
</div>

<table class="table table-hover">
  <tbody>
    {% for field in call['grant'] %}
    {% set post_url = url_for('.grant_field', cid=call['identifier'], fid=field['identifier']) %}
    {% include 'display_field_definition.html' %}
    {% endfor %} {# for field in call['grant'] #}
  </tbody>
</table>

<hr>
<div class="m-4">
  {% for field_type in constants.FIELD_TYPES %}
  <button type="button" class="btn btn-primary mr-2 mb-2"
	  data-toggle="modal" data-target="#_{{ field_type }}Modal">
    Add {{ field_type }} field
  </button>
  {% endfor %} {# for field_type in constants.FIELD_TYPES #}
</div>

{% set post_url = url_for('.grant', cid=call['identifier']) %}
{% for field_type in constants.FIELD_TYPES %}
{% include 'modal_field_create.html' %}
{% endfor %}

{% for field in call['grant'] %}
{% set post_url = url_for('.grant_field', cid=call['identifier'], fid=field['identifier']) %}
{% include 'modal_field_edit.html' %}
{% endfor %}

{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.display', cid=call['identifier']) }}"
	method="GET">
    <button type="submit" class="btn btn-block btn-secondary">Back</button>
  </form>
</div>
{% endblock %}
