{% extends 'base.html' %}

{% block head_title %}
Edit proposal fields for call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
Edit proposal fields for call {{ call['identifier'] }}
{% endblock %}

{% block main %}
{% if is_open or is_closed %}
<div class="alert alert-warning" role="alert">
  <strong>Warning:</strong> The call has been opened; edit with care!
  Changing proposal fields may invalidate current proposals.
</div>
{% endif %}

<table class="table table-hover">
  <tbody>
    {% for field in call['proposal'] %}
    {% set post_url = url_for('.proposal_field', cid=call['identifier'], fid=field['identifier']) %}
    {% include 'display_field_definition.html' %}
    {% endfor %} {# for field in call['proposal'] #}
  </tbody>
</table>

<hr>
<div class="m-4">
  {% for field_type in constants.PROPOSAL_FIELD_TYPES %}
  <button type="button" class="btn btn-primary mr-2 mb-2"
	  data-toggle="modal" data-target="#_{{ field_type }}Modal">
    Add {{ field_type }} field
  </button>
  {% endfor %}
</div>

{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.display', cid=call['identifier']) }}"
     role="button" class="btn btn-secondary btn-block">Back</a>
</div>
{% endblock %} {# block actions #}

{% block doclinks %}
<a href="{{ url_for('documentation', _anchor='input-field-types') }}"
   target="documentation" role="button" class="btn btn-outline-primary btn-block">
  Documentation: Input field types</a>
{% endblock %} {# block doclinks #}

{% block modals %}

{% set post_url = url_for('.proposal', cid=call['identifier']) %}
{% for field_type in constants.PROPOSAL_FIELD_TYPES %}
{% include 'create_field_definition.html' %}
{% endfor %}

{% for field in call['proposal'] %}
{% set post_url = url_for('.proposal_field', cid=call['identifier'], fid=field['identifier']) %}
{% include 'edit_field_definition.html' %}
{% endfor %}

{% endblock %} {# block modals #}
