{% extends 'base.html' %}

{% block head_title %}
Edit proposal fields for {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
Edit proposal fields for {{ call['identifier'] }}
{% endblock %}

{% block main %}
{% if call['cache']['is_open'] %}
<p class="lead text-danger">
  This call is open. Changing its proposal fields may invalidate
  submitted proposals! Ensure that you know what you are doing.
</p>
{% endif %}

{% for field in call['proposal'] %}
{% set post_url = url_for('.proposal_field', cid=call['identifier'], fid=field['identifier']) %}
<div class="card mt-2">
  <div class="card-body">
    {% include 'display_field_definition.html' %}
  </div>
</div>
{% endfor %} {# for field in call['proposal'] #}
<div class="card mt-2">
  <div class="card-body">
    {% for field_type in constants.FIELD_TYPES %}
    <button type="button" class="btn btn-primary mr-2 mb-2"
	    data-toggle="modal" data-target="#_{{ field_type }}Modal">
      Add {{ field_type }} field
    </button>
    {% endfor %} {# for field_type in constants.FIELD_TYPES #}
  </div>
</div>

{% set post_url = url_for('.proposal', cid=call['identifier']) %}
{% for field_type in constants.FIELD_TYPES %}
{% include 'modal_field_create.html' %}
{% endfor %}

{% for field in call['proposal'] %}
{% set post_url = url_for('.proposal_field', cid=call['identifier'], fid=field['identifier']) %}
{% include 'modal_field_edit.html' %}
{% endfor %}

{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.display', cid=call['identifier']) }}"
	method="GET">
    <button type="submit" class="btn btn-block btn-dark">Back</button>
  </form>
</div>
{% endblock %}
