{% extends 'base.html' %}

{% block head_title %}
Edit proposal fields for call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
Edit proposal fields for call {{ call['identifier'] }}
{% endblock %}

{% block main %}
{% if call['tmp']['is_open'] or call['tmp']['is_closed'] %}
<div class="alert alert-warning" role="alert">
  <strong>Warning:</strong> The call has been opened; edit with care!
  Changing proposal fields may invalidate current proposals.
</div>
{% endif %}

<table class="table table-hover">
  <tbody>
    {% for field in call['proposal'] %}
    {% set post_url = url_for('.proposal_field', cid=call['identifier'], fid=field['identifier']) %}
    {% include 'display_field_definition.html' %}
    {% endfor %} {# for field in call['proposal'] #}
  </tbody>
</table>

<hr>
<div class="m-4">
  {% for field_type in constants.FIELD_TYPES %}
  {# Exclude repeat field; not implemented yet for proposal! #}
  {% if field_type != constants.REPEAT %}
  <button type="button" class="btn btn-primary mr-2 mb-2"
	  data-toggle="modal" data-target="#_{{ field_type }}Modal">
    Add {{ field_type }} field
  </button>
  {% endif %}
  {% endfor %} {# for field_type in constants.FIELD_TYPES #}
</div>

{% set post_url = url_for('.proposal', cid=call['identifier']) %}
{% for field_type in constants.FIELD_TYPES %}
{# Exclude repeat field; not implemented yet for proposal! #}
{% if field_type != constants.REPEAT %}
{% include 'modal_field_create.html' %}
{% endif %}
{% endfor %}

{% for field in call['proposal'] %}
{% set post_url = url_for('.proposal_field', cid=call['identifier'], fid=field['identifier']) %}
{% include 'modal_field_edit.html' %}
{% endfor %}

{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.display', cid=call['identifier']) }}"
	method="GET">
    <button type="submit" class="btn btn-block btn-secondary">Back</button>
  </form>
</div>
{% endblock %}
