{% extends 'base.html' %}

{% block head_title %}
Edit reviewers for call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
Edit reviewers for call {{ call['identifier'] }}
{% endblock %}

{% block main %}
<div class="form-group row">
  <label for="reviewers"
	 class="col-md-2 col-form-label text-right font-weight-bold">
    Reviewers</label>
  <div class="col-md">
    {% if call['reviewers'] %}
    <table class="table table-sm table-borderless">
      {% for username in sorted(call['reviewers']) %}
      <tr>
        <td>
          <a href="{{ url_for('user.display', username=username) }}">
            {{ username }}</a>
          {% if username in call['chairs'] %}
          (chair)
          {% endif %}
        </td>
        <td>
          <form action="{{ url_for('.reviewers', cid=call['identifier']) }}"
	        method="POST">
	    {{ csrf_token() }}
            <input type="hidden" name="_http_method" value="DELETE">
            <input type="hidden" name="reviewer" value="{{ username }}">
	    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    -
    {% endif %}
  </div>
</div>
<div class="form-group row">
  <label for="add_reviewer" 
	 class="col-md-2 col-form-label text-right font-weight-bold">
    Add reviewer</label>
  <div class="col-md">
    <form action="{{ url_for('.reviewers', cid=call['identifier']) }}"
	  method="POST">
      {{ csrf_token() }}
      <div class="form-group">
	<input type="text" id="reviewer" name="reviewer"
               class="form-control"
               aria-describedby="reviewerHelp">
        <div class="form-check mt-2">
          <input type="checkbox" id="chair" name="chair"
                 class="form-check-input" value="true">
          <label class="form-check-label" for="chair">Chair</label>
        </div>
	<small id="reviewerHelp" class="form-text text-muted">
	  Add a reviewer, which must have an account. Username or
	  email address.
	</small>
      </div>
      <div class="form-group mt-3">
	<button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.display', cid=call['identifier']) }}"
	method="GET">
    <button type="submit" class="btn btn-block btn-dark">Back</button>
  </form>
</div>
{% endblock %}
