{% extends 'base.html' %}

{% block head_title %}
Edit review fields for call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
Edit review fields for call {{ call['identifier'] }}
{% endblock %}

{% block main %}
{% if call['tmp']['is_closed'] %}
<div class="alert alert-warning" role="alert">
  <strong>Warning:</strong> The call has been closed; edit with care!
  Changing review fields may invalidate current reviews.
</div>
{% endif %}

<table class="table table-hover">
  <tbody>
    {% for field in call['review'] %}
    {% set post_url = url_for('.review_field', cid=call['identifier'], fid=field['identifier']) %}
    {% include 'display_field_definition.html' %}
    {% endfor %} {# for field in call['review'] #}
  </tbody>
</table>

<div class="m-4">
  {% for field_type in constants.FIELD_TYPES %}
  {# Exclude repeat field; not implemented yet for review! #}
  {% if field_type != constants.REPEAT %}
  <button type="button" class="btn btn-primary mt-2 mr-2"
	  data-toggle="modal" data-target="#_{{ field_type }}Modal">
    Add {{ field_type }} field
  </button>
  {% endif %}
  {% endfor %} {# for field_type in constants.FIELD_TYPES #}
</div>

{% set post_url = url_for('.review', cid=call['identifier']) %}
{% for field_type in constants.FIELD_TYPES %}
{# Exclude repeat field; not implemented yet for review! #}
{% if field_type != constants.REPEAT %}
{% include 'create_field_definition.html' %}
{% endif %}
{% endfor %}

{% for field in call['review'] %}
{% set post_url = url_for('.review_field', cid=call['identifier'], fid=field['identifier']) %}
{% include 'edit_field_definition.html' %}
{% endfor %}

{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.display', cid=call['identifier']) }}"
	method="GET">
    <button type="submit" class="btn btn-block btn-secondary">Back</button>
  </form>
</div>
{% endblock %}
