{% extends 'base.html' %}

{% block head_title %}
Reviewers for call {{ call['identifier'] }}
{% endblock %}

{% block body_title %}
Reviewers for call {{ call['identifier'] }}
{% endblock %}

{% block meta %}
<a href="#email_lists" data-toggle="collapse"
   class="badge badge-pill badge-secondary" role="button"
   aria-expanded="false" aria-controls="email_lists">Email address lists</a>
{% endblock %}

{% block main %}
{% include 'email_lists.html' %}

<div class="form-group row">
  <label for="show_reviewer" 
	 class="col-md-2 col-form-label text-right font-weight-bold">
    Reviewers</label>
  <div class="col-md" id="show_reviewers">
    <table id="reviewers" class="table table-sm table-hover ">
      <thead>
        <tr>
          <th>Reviewer</th>
          <th>Chair</th>
          {% if allow_view_reviews %}
          <th>Reviews</th>
          {% endif %} {# if allow_view_reviews #}
          {% if allow_edit %}
          <th>Action</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for reviewer in reviewers %}
        <tr>
          <td class="align-middle">
            {{ reviewer | user_link }}
          </td>
          <td>
            {% if reviewer['username'] in call['chairs'] %}
            Chair
            {% endif %}
          </td>
          {% if allow_view_reviews %}
          <td>
            <a href="{{ url_for('reviews.call_reviewer', cid=call['identifier'], username=reviewer['username']) }}"
               role="button" class="btn btn-sm btn-info mr-2">
              {{ utils.get_call_reviewer_reviews_count(call['identifier'], reviewer['username']) }} reviews
            </a>
          </td>
          {% endif %} {# if allow_view_reviews #}
          {% if allow_edit %}
          <td>
            <form action="{{ url_for('.reviewers', cid=call['identifier']) }}"
	          method="POST">
	      {{ csrf_token() }}
              <input type="hidden" name="_http_method" value="DELETE">
              <input type="hidden" name="reviewer" value="{{ reviewer['username'] }}">
	      <button type="submit" class="btn btn-sm btn-danger"
                      {{ reviewer['number_of_reviews'] and 'disabled' or '' }}>
                Remove</button>
            </form>
          </td>
          {% endif %} {# if allow_edit #}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if allow_edit %}
<div class="form-group row">
  <label for="add_reviewer" 
	 class="col-md-2 col-form-label text-right font-weight-bold">
    Add reviewer</label>
  <div class="col-md" id="add_reviewer">
    <form action="{{ url_for('.reviewers', cid=call['identifier']) }}"
	  method="POST">
      {{ csrf_token() }}
      <div class="form-group">
	<input type="text" id="reviewer" name="reviewer"
               class="form-control"
               aria-describedby="reviewerHelp">
        <div class="form-check mt-2">
          <input type="checkbox" id="chair" name="chair"
                 class="form-check-input" value="true">
          <label class="form-check-label" for="chair">Chair</label>
        </div>
	<small id="reviewerHelp" class="form-text text-muted">
	  Add a reviewer, which must have an account. Username or
	  email address.
          <br>
          To change chair status of an existing reviewer, add the
          reviewer again with or without ticking the box, as
          appropriate.
	</small>
      </div>
      <div class="form-group mt-3">
	<button type="submit" class="btn btn-primary px-4">Add</button>
      </div>
    </form>
  </div>
</div>
{% endif %} {# if allow_edit #}
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.display', cid=call['identifier']) }}"
     role="button" class="btn btn-block btn-secondary">Back</a>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $(".refresh").change(function () {
      $("#refresh").submit();
    });
    $("#reviewers").DataTable( {
      pagingType: "full_numbers",
      pageLength: 10,
      order: [[0, "asc"]]
    });
  });
</script>
{% endblock %}
